In [1]:
import pandas as pd
import numpy as np

In [2]:
database_type = "/training"

#### Interpolating Data across patient timeseries

In [3]:
finalData = pd.read_csv('../eICU' + database_type + '/finalData.csv')
finalData = finalData.sort_values(by=['patientunitstayid', 'observationoffset'])
finalData

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,-1893.0,38.088274,112.0,49.0,122.146981,1.40,48.20,4.300000,2.433090,0
1,141227,-1773.0,38.088274,112.0,49.0,122.146981,1.40,48.20,4.300000,2.433090,0
2,141227,-1663.0,38.088274,112.0,49.0,122.146981,1.40,48.20,4.300000,2.433090,0
3,141227,-1566.0,38.088274,112.0,49.0,122.146981,1.40,48.20,4.300000,2.433090,0
4,141227,-1351.0,38.088274,112.0,49.0,122.146981,1.40,47.95,4.300000,2.433090,0
...,...,...,...,...,...,...,...,...,...,...,...
3543020,3353254,5326.0,38.088274,82.0,12.0,122.146981,1.65,11.32,2.584809,4.767580,0
3543021,3353254,5491.0,38.088274,82.0,12.0,122.146981,1.66,11.51,2.584809,2.383790,0
3543022,3353254,5558.0,38.088274,82.0,12.0,122.146981,1.67,11.70,2.584809,4.767580,0
3543023,3353254,5926.0,38.088274,82.0,12.0,122.146981,1.67,11.70,2.584809,7.151371,0
3543024,3353254,6106.0,38.088274,82.0,12.0,122.146981,1.67,11.70,2.584809,7.163290,0

In [4]:
idList = sorted(set(list(finalData['patientunitstayid'])))
finalDataAggregated = pd.DataFrame()
tmpDf = pd.DataFrame()

In [5]:
for id in idList:
    df = finalData[finalData['patientunitstayid'] == id]
    tmpDf = df.groupby(np.arange(len(df))//2).mean()
    finalDataAggregated = finalDataAggregated.append(tmpDf)

finalDataAggregated

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227.0,-1833.0,38.088274,112.0,49.0,122.146981,1.400,48.200,4.300000,2.433090,0.0
1,141227.0,-1614.5,38.088274,112.0,49.0,122.146981,1.400,48.200,4.300000,2.433090,0.0
2,141227.0,-739.5,38.088274,112.0,49.0,122.146981,1.400,47.825,4.300000,2.433090,0.0
3,141227.0,-3.0,38.088274,112.0,49.0,122.146981,1.500,65.900,4.300000,2.433090,0.0
4,141227.0,14.5,38.088274,107.0,43.5,122.146981,1.500,65.900,4.300000,2.433090,0.0
...,...,...,...,...,...,...,...,...,...,...,...
50,3353254.0,4156.5,38.088274,82.0,12.0,122.146981,1.615,10.655,2.584809,15.047676,0.0
51,3353254.0,5243.5,38.088274,82.0,12.0,122.146981,1.635,11.035,2.584809,3.277712,0.0
52,3353254.0,5408.5,38.088274,82.0,12.0,122.146981,1.655,11.415,2.584809,3.575685,0.0
53,3353254.0,5742.0,38.088274,82.0,12.0,122.146981,1.670,11.700,2.584809,5.959476,0.0
54,3353254.0,6106.0,38.088274,82.0,12.0,122.146981,1.670,11.700,2.584809,7.163290,0.0

In [9]:
print("Final Data: ", len(finalData.patientunitstayid.unique()))
print("Aggregated Data: ", len(finalDataAggregated.patientunitstayid.unique()))

Final Data:  3543025
Final Data:  1776071

In [10]:
path = "../eICU/training/"
finalData.to_csv(path + "aggregatedData.csv", sep=',', index=False, encoding='utf-8')

In [7]:
# aggregationTime = 30 # time to aggregate data in mins

    # while end_time < final_time:
    #     # df_slice = df[df['observationoffset'] <= end_time]
    #     df_slice = df.loc[(df['observationoffset'] <= end_time) & (start_time <= df['observationoffset'])]
    #
    #     finalDataAggregated.append(dict(
    #         patientunitstayid = df_slice['patientunitstayid'],
    #         observationoffset = ((start_time + end_time) // 2),
    #         temperature = df_slice['temperature'].mean(),
    #         heartrate = df_slice['heartrate'].mean(),
    #         respiration = df_slice['respiration'].mean(),
    #         systemicsystolic = df_slice['systemicsystolic'].mean(),
    #         creatinine = df_slice['creatinine'].mean(),
    #         wbcx1000 = df_slice['wbcx1000'].mean(),
    #         lactate = df_slice['lactate'].mean(),
    #         urineoutputbyweight = df_slice['urineoutputbyweight'].mean(),
    #         diagnosis = df_slice['diagnosis']
    #     ), ignore_index=True)
    #
    #     start_time = end_time + 1
    #     end_time = start_time + aggregationTime

        # print(start_time, end_time, sep='\t')
        # print(df_slice)