In [1]:
import pandas as pd
# import numpy as np

In [2]:
database_type = "/training"

#### Interpolating Data across patient timeseries

In [3]:
finalMerge = pd.read_csv('../eICU' + database_type + '/finalMerge.csv')
finalMerge = finalMerge.sort_values(by=['patientunitstayid', 'observationoffset'])
finalMerge

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
40960384,141227,-1893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.433090,NaN
40960386,141227,-1773.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.433090,NaN
40960385,141227,-1663.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.433090,NaN
40657508,141227,-1566.0,NaN,NaN,NaN,NaN,1.40,48.2,NaN,NaN,NaN
40960387,141227,-1351.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.433090,NaN
...,...,...,...,...,...,...,...,...,...,...,...
41756721,3353254,5326.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.767580,NaN
41756711,3353254,5491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.383790,NaN
40960381,3353254,5558.0,NaN,NaN,NaN,NaN,1.67,11.7,NaN,NaN,NaN
41756719,3353254,5926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.151371,NaN
41756708,3353254,6106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.163290,NaN

In [4]:
print("temperature: ", len(finalMerge['temperature'].unique()))
print("heartrate: ", len(finalMerge['heartrate'].unique()))
print("creatinine: ", len(finalMerge['creatinine'].unique()))
print("wbcx1000: ", len(finalMerge['wbcx1000'].unique()))
print("urineoutputbyweight: ", len(finalMerge['urineoutputbyweight'].unique()))
print("diagnosis: ", len(finalMerge['diagnosis'].unique()))

temperature:  1946
heartrate:  271
creatinine:  3707
wbcx1000:  4489
urineoutputbyweight:  102159
diagnosis:  3

In [5]:
items = finalMerge.patientunitstayid.value_counts().to_dict().items()

In [6]:
type(items)

dict_items

In [7]:
len(items)

39669

In [8]:
finalMerge_small = finalMerge[finalMerge.patientunitstayid.isin([key for key, val in items if (val < 600)])]

In [9]:
finalMerge_small.diagnosis.value_counts()

0.0    37933
1.0    17969
Name: diagnosis, dtype: int64

In [10]:
idList = sorted(set(list(finalMerge_small['patientunitstayid'])))
cols = ['temperature', 'heartrate', 'respiration', 'systemicsystolic', 'creatinine', 'wbcx1000', 'lactate', 'urineoutputbyweight']
finalData = pd.DataFrame()

for id in idList:
    df = finalMerge_small[finalMerge_small['patientunitstayid'] == id]
    countNull = df[cols].isnull().sum().sum()
    percentOfNull = (countNull / (len(df.index) * 8)) * 100
    # print(percentOfNull)

    if percentOfNull < 80:
        # Dropping patient rows after diganosis = 1 (True)
        # Interpolating Patient Data based on closet value
        df.loc[:, 'temperature'] = df['temperature'].interpolate(method='linear', limit_direction='both')
        df.loc[:, 'heartrate'] = df['heartrate'].interpolate(method='linear', limit_direction='both')
        df.loc[:, 'respiration'] = df['respiration'].interpolate(method='linear', limit_direction='both')
        df.loc[:, 'systemicsystolic'] = df['systemicsystolic'].interpolate(method='linear', limit_direction='both')
        df.loc[:, 'creatinine'] = df['creatinine'].interpolate(method='linear', limit_direction='both')
        df.loc[:, 'wbcx1000'] = df['wbcx1000'].interpolate(method='linear', limit_direction='both')
        df.loc[:, 'lactate'] = df['lactate'].interpolate(method='linear', limit_direction='both')
        df.loc[:, 'urineoutputbyweight'] = df['urineoutputbyweight'].interpolate(method='linear', limit_direction='both')
        finalData = finalData.append(df)

finalData

/home/sanjay/.local/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
40960384,141227,-1893.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,NaN
40960386,141227,-1773.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,NaN
40960385,141227,-1663.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,NaN
40657508,141227,-1566.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,NaN
40960387,141227,-1351.0,NaN,112.0,49.0,158.0,1.40,47.95,4.3,2.433090,NaN
...,...,...,...,...,...,...,...,...,...,...,...
41756721,3353254,5326.0,NaN,82.0,12.0,NaN,1.65,11.32,NaN,4.767580,NaN
41756711,3353254,5491.0,NaN,82.0,12.0,NaN,1.66,11.51,NaN,2.383790,NaN
40960381,3353254,5558.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,4.767580,NaN
41756719,3353254,5926.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,7.151371,NaN
41756708,3353254,6106.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,7.163290,NaN

In [11]:
len(finalMerge_small)

6678156

In [12]:
len(finalData)

6042131

In [13]:
finalData.diagnosis.value_counts()

0.0    34533
1.0    16461
Name: diagnosis, dtype: int64

In [14]:
finalData[cols].isnull().sum().sum()

16035571

In [ ]:
finalData['diagnosis'] = finalData['diagnosis'].fillna(0)
sepsisOnly = finalData[finalData['diagnosis'] == 1]
sepsisOnly

In [ ]:
sepsisOnly['temperature'] = sepsisOnly['temperature'].fillna(sepsisOnly['temperature'].mean())
sepsisOnly['heartrate'] = sepsisOnly['heartrate'].fillna(sepsisOnly['heartrate'].mean())
sepsisOnly['respiration'] = sepsisOnly['respiration'].fillna(sepsisOnly['respiration'].mean())
sepsisOnly['systemicsystolic'] = sepsisOnly['systemicsystolic'].fillna(sepsisOnly['systemicsystolic'].mean())
sepsisOnly['creatinine'] = sepsisOnly['creatinine'].fillna(sepsisOnly['creatinine'].mean())
sepsisOnly['wbcx1000'] = sepsisOnly['wbcx1000'].fillna(sepsisOnly['wbcx1000'].mean())
sepsisOnly['lactate'] = sepsisOnly['lactate'].fillna(sepsisOnly['lactate'].mean())
sepsisOnly['urineoutputbyweight'] = sepsisOnly['urineoutputbyweight'].fillna(sepsisOnly['urineoutputbyweight'].mean())

In [15]:
sepsisOnly[cols].isnull().sum().sum()
notSepsis = finalData[finalData['diagnosis'] == 0]
notSepsis

In [ ]:
notSepsis['temperature'] = notSepsis['temperature'].fillna(notSepsis['temperature'].mean())
notSepsis['heartrate'] = notSepsis['heartrate'].fillna(notSepsis['heartrate'].mean())
notSepsis['respiration'] = notSepsis['respiration'].fillna(notSepsis['respiration'].mean())
notSepsis['systemicsystolic'] = notSepsis['systemicsystolic'].fillna(notSepsis['systemicsystolic'].mean())
notSepsis['creatinine'] = notSepsis['creatinine'].fillna(notSepsis['creatinine'].mean())
notSepsis['wbcx1000'] = notSepsis['wbcx1000'].fillna(notSepsis['wbcx1000'].mean())
notSepsis['lactate'] = notSepsis['lactate'].fillna(notSepsis['lactate'].mean())
notSepsis['urineoutputbyweight'] = notSepsis['urineoutputbyweight'].fillna(notSepsis['urineoutputbyweight'].mean())

In [16]:
notSepsis[cols].isnull().sum().sum()

0

In [17]:
finalData2 = notSepsis.append(sepsisOnly)
finalData2

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
40960384,141227,-1893.0,38.03651,112.0,49.0,158.00000,1.40,48.20,4.300000,2.433090,0.0
40960386,141227,-1773.0,38.03651,112.0,49.0,158.00000,1.40,48.20,4.300000,2.433090,0.0
40960385,141227,-1663.0,38.03651,112.0,49.0,158.00000,1.40,48.20,4.300000,2.433090,0.0
40657508,141227,-1566.0,38.03651,112.0,49.0,158.00000,1.40,48.20,4.300000,2.433090,0.0
40960387,141227,-1351.0,38.03651,112.0,49.0,158.00000,1.40,47.95,4.300000,2.433090,0.0
...,...,...,...,...,...,...,...,...,...,...,...
41756721,3353254,5326.0,38.03651,82.0,12.0,118.56613,1.65,11.32,2.655717,4.767580,0.0
41756711,3353254,5491.0,38.03651,82.0,12.0,118.56613,1.66,11.51,2.655717,2.383790,0.0
40960381,3353254,5558.0,38.03651,82.0,12.0,118.56613,1.67,11.70,2.655717,4.767580,0.0
41756719,3353254,5926.0,38.03651,82.0,12.0,118.56613,1.67,11.70,2.655717,7.151371,0.0
41756708,3353254,6106.0,38.03651,82.0,12.0,118.56613,1.67,11.70,2.655717,7.163290,0.0

In [18]:
finalData2 = finalData2.sort_values(['patientunitstayid','observationoffset'])
finalData2

In [19]:
finalData2 = finalData2.astype({'diagnosis': int})
finalData2.head()

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
40960384,141227,-1893.0,38.03651,112.0,49.0,158.0,1.4,48.20,4.3,2.43309,0
40960386,141227,-1773.0,38.03651,112.0,49.0,158.0,1.4,48.20,4.3,2.43309,0
40960385,141227,-1663.0,38.03651,112.0,49.0,158.0,1.4,48.20,4.3,2.43309,0
40657508,141227,-1566.0,38.03651,112.0,49.0,158.0,1.4,48.20,4.3,2.43309,0
40960387,141227,-1351.0,38.03651,112.0,49.0,158.0,1.4,47.95,4.3,2.43309,0

In [20]:
path = "../eICU/training/"
finalData2.to_csv(path + "finalData2.csv", sep=',', index=False, encoding='utf-8')

In [ ]:
finalData = pd.read_csv('../eICU' + database_type + '/finalData2.csv')
finalData = finalData.sort_values(by=['patientunitstayid', 'observationoffset'])
finalData