In [60]:
import pandas as pd

In [61]:
df = pd.read_csv('../eICU/training/finalData.csv')

In [62]:
df

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,-1893.0,38.03651,112.0,49.0,158.00000,1.40,48.20,4.300000,2.433090,0
1,141227,-1773.0,38.03651,112.0,49.0,158.00000,1.40,48.20,4.300000,2.433090,0
2,141227,-1663.0,38.03651,112.0,49.0,158.00000,1.40,48.20,4.300000,2.433090,0
3,141227,-1566.0,38.03651,112.0,49.0,158.00000,1.40,48.20,4.300000,2.433090,0
4,141227,-1351.0,38.03651,112.0,49.0,158.00000,1.40,47.95,4.300000,2.433090,0
...,...,...,...,...,...,...,...,...,...,...,...
6042126,3353254,5326.0,38.03651,82.0,12.0,118.56613,1.65,11.32,2.655717,4.767580,0
6042127,3353254,5491.0,38.03651,82.0,12.0,118.56613,1.66,11.51,2.655717,2.383790,0
6042128,3353254,5558.0,38.03651,82.0,12.0,118.56613,1.67,11.70,2.655717,4.767580,0
6042129,3353254,5926.0,38.03651,82.0,12.0,118.56613,1.67,11.70,2.655717,7.151371,0
6042130,3353254,6106.0,38.03651,82.0,12.0,118.56613,1.67,11.70,2.655717,7.163290,0

In [63]:
df.diagnosis.value_counts()

0    6025670
1      16461
Name: diagnosis, dtype: int64

In [77]:
len(t1.index.unique())

6209

In [78]:
p1 = df.loc[df['diagnosis'] == 1]

In [80]:
ids = p1.patientunitstayid.unique()

In [82]:
df2 = df[df.patientunitstayid.isin([key for key in ids])]

In [84]:
len(df2.patientunitstayid.unique())

8256

In [85]:
df2.diagnosis.value_counts()

0    2787591
1      16461
Name: diagnosis, dtype: int64

In [86]:
p0 = df2.loc[df2['diagnosis'] == 0]

In [87]:
t0 = p0.set_index('patientunitstayid')

In [102]:
t1 = t0.groupby(level=0, group_keys=False, sort=False).apply(pd.DataFrame.tail, n=-100)

In [103]:
t1.diagnosis.value_counts()

0    1982206
Name: diagnosis, dtype: int64

In [104]:
len(t1.index.unique())

7725

In [106]:
t2 = t1.groupby('patientunitstayid').filter(lambda x: len(x) > 299)

In [116]:
len(t2.index.unique())

3126

In [123]:
t3 = t2.groupby(level=0, group_keys=False, sort=False).apply(pd.DataFrame.tail, n=-200)

In [124]:
t3.diagnosis.value_counts()

0    627844
Name: diagnosis, dtype: int64

In [125]:
len(t3.index.unique())

3126

In [126]:
t4 = t1.groupby('patientunitstayid').filter(lambda x: len(x) <= 299)

In [128]:
len(t4.index.unique())+len(t3.index.unique())

7725