In [1]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm

In [2]:
databasePath = "../eICU/training/"
exportPath = "../eICU/training/"

In [3]:
finalData = pd.read_csv(databasePath + '/finalData.csv')
finalData

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,-1893.0,38.088274,112.0,49.0,122.146981,1.400000,48.200000,4.300000,2.433090,0
1,141227,-1773.0,38.088274,112.0,49.0,122.146981,1.400000,48.200000,4.300000,2.433090,0
2,141227,-1663.0,38.088274,112.0,49.0,122.146981,1.400000,48.200000,4.300000,2.433090,0
3,141227,-1566.0,38.088274,112.0,49.0,122.146981,1.400000,48.200000,4.300000,2.433090,0
4,141227,-1351.0,38.088274,112.0,49.0,122.146981,1.400000,47.950000,4.300000,2.433090,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,151339,178.0,38.088274,60.0,16.0,122.146981,0.736000,4.326154,2.584809,2.226153,0
9996,151339,183.0,38.088274,60.0,16.0,122.146981,0.735333,4.324103,2.584809,2.232507,0
9997,151339,188.0,38.088274,62.0,16.0,122.146981,0.734667,4.322051,2.584809,2.238861,0
9998,151339,193.0,38.088274,62.0,15.0,122.146981,0.734000,4.320000,2.584809,2.245216,0
9999,151339,198.0,38.088274,62.0,15.0,122.146981,0.733333,4.317949,2.584809,2.251570,0

In [4]:
idList = sorted(set(list(finalData['patientunitstayid'])))
print("Number of ids: ", len(idList))

Number of ids:  66

In [7]:
exponentialSmoothedData = pd.DataFrame()

for id in tqdm(idList):
    df = finalData[finalData['patientunitstayid'] == id].ewm(alpha=0.5).mean()
    exponentialSmoothedData = pd.concat([exponentialSmoothedData, df], ignore_index=True)

exponentialSmoothedData

HBox(children=(IntProgress(value=0, max=66), HTML(value='')))

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227.0,-1893.000000,38.088274,112.000000,49.000000,122.146981,1.400000,48.200000,4.300000,2.433090,0.0
1,141227.0,-1813.000000,38.088274,112.000000,49.000000,122.146981,1.400000,48.200000,4.300000,2.433090,0.0
2,141227.0,-1727.285714,38.088274,112.000000,49.000000,122.146981,1.400000,48.200000,4.300000,2.433090,0.0
3,141227.0,-1641.266667,38.088274,112.000000,49.000000,122.146981,1.400000,48.200000,4.300000,2.433090,0.0
4,141227.0,-1491.451613,38.088274,112.000000,49.000000,122.146981,1.400000,48.070968,4.300000,2.433090,0.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,151339.0,173.000000,38.088274,59.972439,15.312616,122.146981,0.736667,4.328205,2.584809,2.219798,0.0
9996,151339.0,178.000000,38.088274,59.986220,15.656308,122.146981,0.736000,4.326154,2.584809,2.226153,0.0
9997,151339.0,183.000000,38.088274,60.993110,15.828154,122.146981,0.735333,4.324103,2.584809,2.232507,0.0
9998,151339.0,188.000000,38.088274,61.496555,15.414077,122.146981,0.734667,4.322051,2.584809,2.238861,0.0
9999,151339.0,193.000000,38.088274,61.748277,15.207039,122.146981,0.734000,4.320000,2.584809,2.245216,0.0

In [ ]:
exponentialSmoothedData.to_csv(exportPath + "exponentialSmoothedData.csv", sep=',', index=False, encoding='utf-8')