In [1]:
import pandas as pd

In [2]:
databasePath = "../eICU/training/"
exportPath = "../eICU/training/"

In [4]:
finalData = pd.read_csv(databasePath + '/cleanedDataset.csv')
finalData

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141203,-1580.0,38.120416,112.0,25.0,121.156711,0.330000,10.200000,3.50000,6.958628,0.0
1,141203,-473.0,38.120416,112.0,25.0,121.156711,0.390000,8.500000,3.50000,6.958628,0.0
2,141203,1.0,38.120416,112.0,25.0,121.156711,0.560000,12.700000,3.50000,6.958628,0.0
3,141203,5.0,38.120416,112.0,25.0,121.156711,0.560682,12.748182,3.50000,6.958628,0.0
4,141203,10.0,38.120416,114.0,25.0,121.156711,0.561364,12.796364,3.50000,6.958628,0.0
...,...,...,...,...,...,...,...,...,...,...,...
124028087,3353263,899.0,38.120416,87.0,13.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0
124028088,3353263,904.0,38.120416,85.0,13.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0
124028089,3353263,909.0,38.120416,91.0,23.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0
124028090,3353263,914.0,38.120416,89.0,19.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0
124028091,3353263,919.0,38.120416,87.0,16.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0

In [5]:
idList = sorted(set(list(finalData['patientunitstayid'])))
print("Number of ids: ", len(idList))

Number of ids:  141230

In [6]:
%%time

exponentialSmoothedData = pd.DataFrame()

for id in idList[:10000]:
    df = finalData[finalData['patientunitstayid'] == id].ewm(alpha=0.5).mean()
    exponentialSmoothedData = pd.concat([exponentialSmoothedData, df], ignore_index=True)

exponentialSmoothedData

KeyboardInterrupt:

In [ ]:
exponentialSmoothedData.to_csv(exportPath + "exponentialSmoothedData.csv", sep=',', index=False, encoding='utf-8')