In [37]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [38]:
import pandas as pd
# import numpy as np

In [39]:
database_type = "/training"

#### Interpolating Data across patient timeseries

In [40]:
finalMerge = pd.read_csv('../eICU' + database_type + '/finalMerge.csv')
finalMerge = finalMerge.sort_values(by=['patientunitstayid', 'observationoffset'])
finalMerge

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
1648633,141764,-14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.003003,NaN
65,141764,4.0,NaN,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,141764,9.0,NaN,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,141764,14.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,141764,19.0,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1634649,3353113,2671.0,NaN,87.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN
1634633,3353113,2676.0,NaN,85.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN
1634665,3353113,2681.0,NaN,84.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
1634621,3353113,2686.0,NaN,84.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
1634641,3353113,2691.0,NaN,84.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
finalMerge.loc[(finalMerge['patientunitstayid'] == 346380)].sort_values(by='observationoffset')

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
1647664,346380,34.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1677078,346380,194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1677077,346380,481.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1677074,346380,685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1677076,346380,2255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1677079,346380,2310.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1677073,346380,5028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1677075,346380,5035.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [42]:
idList = sorted(set(list(finalMerge['patientunitstayid'])))
finalData = pd.DataFrame()

In [43]:
for id in idList[:51]:
    df = finalMerge[finalMerge['patientunitstayid'] == id]
    sepsisDiagnosisTime = df[df['diagnosis'] == 1].observationoffset
    if len(sepsisDiagnosisTime) != 0:
        print(sepsisDiagnosisTime)
#     df = df[df['observationoffset'].le(sepsisDiagnosisTime)]
#     df.loc[:, 'temperature'] = df['temperature'].interpolate(method='linear', limit_direction='both')
#     df.loc[:, 'heartrate'] = df['heartrate'].interpolate(method='linear', limit_direction='both')
#     df.loc[:, 'respiration'] = df['respiration'].interpolate(method='linear', limit_direction='both')
#     df.loc[:, 'systemicsystolic'] = df['systemicsystolic'].interpolate(method='linear', limit_direction='both')
#     df.loc[:, 'creatinine'] = df['creatinine'].interpolate(method='linear', limit_direction='both')
#     df.loc[:, 'wbcx1000'] = df['wbcx1000'].interpolate(method='linear', limit_direction='both')
#     df.loc[:, 'lactate'] = df['lactate'].interpolate(method='linear', limit_direction='both')
#     df.loc[:, 'urineoutputbyweight'] = df['urineoutputbyweight'].interpolate(method='linear', limit_direction='both')
#     df.loc[:, 'diagnosis'] = df['diagnosis'].interpolate(method='linear')
#     df['diagnosis'].fillna('0', inplace=True)
#     finalData = finalData.append(df)

finalData

1678035    167.0
1678032    330.0
Name: observationoffset, dtype: float64
1679390     39.0
1679388    219.0
1679392    685.0
Name: observationoffset, dtype: float64
1682155    51.0
Name: observationoffset, dtype: float64
1680252    10.0
Name: observationoffset, dtype: float64

Empty DataFrame
Columns: []
Index: []

In [8]:
# path = "../eICU/training/"
# finalData.to_csv(path + "finalData.csv", sep=',', index=False, encoding='utf-8')