In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
# import numpy as np

In [4]:
database_type = "/training"

#### Interpolating Data across patient timeseries

In [5]:
finalMerge = pd.read_csv('../eICU' + database_type + '/finalMerge.csv')
finalMerge

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosisoffset,diagnosis
0,141765,1179.0,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,141765,189.0,NaN,76.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141765,1169.0,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,141765,1534.0,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,141765,1164.0,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1700915,3158501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,0.0
1700916,3158501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,0.0
1700917,3158501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,0.0
1700918,3158501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,0.0
1700919,3173599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,0.0

In [6]:
finalMerge.loc[(finalMerge['patientunitstayid'] == 346380)].sort_values(by='observationoffset')

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosisoffset,diagnosis
1651114,346380,34.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1680614,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680615,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680616,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680617,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680618,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680619,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680620,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680621,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680622,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680623,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680624,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680625,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5028.0,0.0
1680626,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,685.0,0.0
1680627,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,685.0,0.0
1680628,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,685.0,0.0
1680629,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680630,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680631,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680632,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680633,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680634,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680635,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680636,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680637,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680638,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680639,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680640,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680641,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5035.0,0.0
1680642,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2255.0,0.0
1680643,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2255.0,0.0
1680644,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2255.0,0.0
1680645,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2255.0,0.0
1680646,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,481.0,0.0
1680647,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,481.0,0.0
1680648,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,481.0,0.0
1680649,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.0,0.0
1680650,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.0,0.0
1680651,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.0,0.0
1680652,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2310.0,0.0
1680653,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2310.0,0.0
1680654,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2310.0,0.0
1680655,346380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2310.0,0.0

In [5]:
idList = sorted(set(list(finalMerge['patientunitstayid'])))
finalData = pd.DataFrame()

In [ ]:
for id in idList:
    df = finalMerge[finalMerge['patientunitstayid'] == id]
    df.loc[:, 'temperature'] = df['temperature'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'heartrate'] = df['heartrate'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'respiration'] = df['respiration'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'systemicsystolic'] = df['systemicsystolic'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'creatinine'] = df['creatinine'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'wbcx1000'] = df['wbcx1000'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'lactate'] = df['lactate'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'urineoutputbyweight'] = df['urineoutputbyweight'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'diagnosis'] = df['diagnosis'].interpolate(method='linear')
    df['diagnosis'].fillna('0', inplace=True)
    finalData = finalData.append(df)

C:\tools\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\tools\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
path = "../eICU/training/"
finalData.to_csv(path + "finalData.csv", sep=',', index=False, encoding='utf-8')