In [1]:
import pandas as pd

In [2]:
database_type = "/training"

In [4]:
finalData = pd.read_csv('../eICU' + database_type + '/interpolatedData.csv')
finalData

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,-1893.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,NaN
1,141227,-1773.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,NaN
2,141227,-1663.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,NaN
3,141227,-1566.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,NaN
4,141227,-1351.0,NaN,112.0,49.0,158.0,1.40,47.95,4.3,2.433090,NaN
...,...,...,...,...,...,...,...,...,...,...,...
38721752,3353254,5326.0,NaN,82.0,12.0,NaN,1.65,11.32,NaN,4.767580,NaN
38721753,3353254,5491.0,NaN,82.0,12.0,NaN,1.66,11.51,NaN,2.383790,NaN
38721754,3353254,5558.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,4.767580,NaN
38721755,3353254,5926.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,7.151371,NaN
38721756,3353254,6106.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,7.163290,NaN

In [5]:
finalData['diagnosis'] = finalData['diagnosis'].fillna(0)
sepsisOnly = finalData[finalData['diagnosis'] == 1]
sepsisOnly

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
10,141227,18.0,NaN,103.000000,40.000000,158.000000,1.502128,65.560073,4.300000,2.433090,1.0
345,141288,19.0,NaN,100.333333,30.000000,114.000000,0.943333,7.184848,3.136364,6.006006,1.0
426,141288,415.0,NaN,102.000000,23.666667,107.000000,0.835333,11.799394,2.105455,6.006006,1.0
460,141288,575.0,NaN,86.000000,18.333333,120.666667,0.790000,13.736364,1.672727,6.006006,1.0
527,141288,899.0,NaN,81.000000,17.000000,123.666667,0.720888,16.260947,1.100000,6.006006,1.0
...,...,...,...,...,...,...,...,...,...,...,...
38719390,3353251,5521.0,37.7,84.000000,17.000000,125.666667,3.292857,11.952381,NaN,0.859729,1.0
38719552,3353251,6303.0,37.7,94.666667,20.000000,151.333333,3.325918,12.558503,NaN,1.884532,1.0
38720151,3353251,9169.0,37.7,93.000000,25.000000,150.000000,3.622759,14.797931,NaN,2.724578,1.0
38720606,3353251,11304.0,37.7,75.000000,17.000000,130.000000,3.972642,17.783946,NaN,2.521008,1.0
38720833,3353251,12374.0,37.7,82.000000,24.000000,63.000000,3.942274,18.543144,NaN,3.462237,1.0

In [7]:
cols = ['temperature', 'heartrate', 'respiration', 'systemicsystolic', 'creatinine', 'wbcx1000', 'lactate', 'urineoutputbyweight']

In [8]:
sepsisOnly['temperature'] = sepsisOnly['temperature'].fillna(sepsisOnly['temperature'].mean())
sepsisOnly['heartrate'] = sepsisOnly['heartrate'].fillna(sepsisOnly['heartrate'].mean())
sepsisOnly['respiration'] = sepsisOnly['respiration'].fillna(sepsisOnly['respiration'].mean())
sepsisOnly['systemicsystolic'] = sepsisOnly['systemicsystolic'].fillna(sepsisOnly['systemicsystolic'].mean())
sepsisOnly['creatinine'] = sepsisOnly['creatinine'].fillna(sepsisOnly['creatinine'].mean())
sepsisOnly['wbcx1000'] = sepsisOnly['wbcx1000'].fillna(sepsisOnly['wbcx1000'].mean())
sepsisOnly['lactate'] = sepsisOnly['lactate'].fillna(sepsisOnly['lactate'].mean())
sepsisOnly['urineoutputbyweight'] = sepsisOnly['urineoutputbyweight'].fillna(sepsisOnly['urineoutputbyweight'].mean())
sepsisOnly[cols].isnull().sum().sum()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0

In [9]:
notSepsis = finalData[finalData['diagnosis'] == 0]
notSepsis

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,-1893.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,0.0
1,141227,-1773.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,0.0
2,141227,-1663.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,0.0
3,141227,-1566.0,NaN,112.0,49.0,158.0,1.40,48.20,4.3,2.433090,0.0
4,141227,-1351.0,NaN,112.0,49.0,158.0,1.40,47.95,4.3,2.433090,0.0
...,...,...,...,...,...,...,...,...,...,...,...
38721752,3353254,5326.0,NaN,82.0,12.0,NaN,1.65,11.32,NaN,4.767580,0.0
38721753,3353254,5491.0,NaN,82.0,12.0,NaN,1.66,11.51,NaN,2.383790,0.0
38721754,3353254,5558.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,4.767580,0.0
38721755,3353254,5926.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,7.151371,0.0
38721756,3353254,6106.0,NaN,82.0,12.0,NaN,1.67,11.70,NaN,7.163290,0.0

In [10]:
notSepsis['temperature'] = notSepsis['temperature'].fillna(notSepsis['temperature'].mean())
notSepsis['heartrate'] = notSepsis['heartrate'].fillna(notSepsis['heartrate'].mean())
notSepsis['respiration'] = notSepsis['respiration'].fillna(notSepsis['respiration'].mean())
notSepsis['systemicsystolic'] = notSepsis['systemicsystolic'].fillna(notSepsis['systemicsystolic'].mean())
notSepsis['creatinine'] = notSepsis['creatinine'].fillna(notSepsis['creatinine'].mean())
notSepsis['wbcx1000'] = notSepsis['wbcx1000'].fillna(notSepsis['wbcx1000'].mean())
notSepsis['lactate'] = notSepsis['lactate'].fillna(notSepsis['lactate'].mean())
notSepsis['urineoutputbyweight'] = notSepsis['urineoutputbyweight'].fillna(notSepsis['urineoutputbyweight'].mean())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
notSepsis[cols].isnull().sum().sum()

0

In [12]:
finalData2 = notSepsis.append(sepsisOnly)
finalData2

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,-1893.0,38.308853,112.000000,49.0,158.000000,1.400000,48.200000,4.300000,2.433090,0.0
1,141227,-1773.0,38.308853,112.000000,49.0,158.000000,1.400000,48.200000,4.300000,2.433090,0.0
2,141227,-1663.0,38.308853,112.000000,49.0,158.000000,1.400000,48.200000,4.300000,2.433090,0.0
3,141227,-1566.0,38.308853,112.000000,49.0,158.000000,1.400000,48.200000,4.300000,2.433090,0.0
4,141227,-1351.0,38.308853,112.000000,49.0,158.000000,1.400000,47.950000,4.300000,2.433090,0.0
...,...,...,...,...,...,...,...,...,...,...,...
38719390,3353251,5521.0,37.700000,84.000000,17.0,125.666667,3.292857,11.952381,2.638305,0.859729,1.0
38719552,3353251,6303.0,37.700000,94.666667,20.0,151.333333,3.325918,12.558503,2.638305,1.884532,1.0
38720151,3353251,9169.0,37.700000,93.000000,25.0,150.000000,3.622759,14.797931,2.638305,2.724578,1.0
38720606,3353251,11304.0,37.700000,75.000000,17.0,130.000000,3.972642,17.783946,2.638305,2.521008,1.0
38720833,3353251,12374.0,37.700000,82.000000,24.0,63.000000,3.942274,18.543144,2.638305,3.462237,1.0

In [13]:
finalData2 = finalData2.sort_values(['patientunitstayid','observationoffset'])
finalData2

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,-1893.0,38.308853,112.0,49.0,158.000000,1.40,48.20,4.300000,2.433090,0.0
1,141227,-1773.0,38.308853,112.0,49.0,158.000000,1.40,48.20,4.300000,2.433090,0.0
2,141227,-1663.0,38.308853,112.0,49.0,158.000000,1.40,48.20,4.300000,2.433090,0.0
3,141227,-1566.0,38.308853,112.0,49.0,158.000000,1.40,48.20,4.300000,2.433090,0.0
4,141227,-1351.0,38.308853,112.0,49.0,158.000000,1.40,47.95,4.300000,2.433090,0.0
...,...,...,...,...,...,...,...,...,...,...,...
38721752,3353254,5326.0,38.308853,82.0,12.0,118.646024,1.65,11.32,2.348331,4.767580,0.0
38721753,3353254,5491.0,38.308853,82.0,12.0,118.646024,1.66,11.51,2.348331,2.383790,0.0
38721754,3353254,5558.0,38.308853,82.0,12.0,118.646024,1.67,11.70,2.348331,4.767580,0.0
38721755,3353254,5926.0,38.308853,82.0,12.0,118.646024,1.67,11.70,2.348331,7.151371,0.0
38721756,3353254,6106.0,38.308853,82.0,12.0,118.646024,1.67,11.70,2.348331,7.163290,0.0

In [14]:
path = "../eICU/training/"
finalData2.to_csv(path + "cleanedData.csv", sep=',', index=False, encoding='utf-8')