In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
lab = pd.read_csv("../eICU/lab.csv")

In [5]:
lab.head()

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
0,52307161,141168,2026,3,fibrinogen,177.0,177,mg/dL,mg/dL,2219
1,50363251,141168,1133,3,PT - INR,2.5,2.5,ratio,NaN,1208
2,49149139,141168,2026,1,magnesium,2.0,2.0,mg/dL,mg/dL,2090
3,50363250,141168,1133,3,PT,26.6,26.6,sec,sec,1208
4,66695374,141168,2141,7,pH,7.2,7.20,NaN,Units,2155

In [8]:
lab.dtypes

labid                        int64
patientunitstayid            int64
labresultoffset              int64
labtypeid                    int64
labname                     object
labresult                  float64
labresulttext               object
labmeasurenamesystem        object
labmeasurenameinterface     object
labresultrevisedoffset       int64
dtype: object

In [4]:
lab.describe()

,labid,patientunitstayid,labresultoffset,labtypeid,labresult,labresultrevisedoffset
count,3.913253e+07,3.913253e+07,3.913253e+07,3.913253e+07,3.890301e+07,3.913253e+07
mean,4.251397e+08,1.768919e+06,5.549579e+03,2.633102e+00,6.342571e+01,5.614767e+03
std,2.414771e+08,9.991068e+05,3.831341e+04,1.776471e+00,9.703484e+02,3.644262e+04
min,4.264058e+07,1.411680e+05,-5.257846e+07,1.000000e+00,-5.000000e+02,-5.257846e+07
25%,2.297952e+08,9.704640e+05,2.530000e+02,1.000000e+00,6.000000e+00,3.020000e+02
50%,4.025197e+08,1.669507e+06,2.379000e+03,3.000000e+00,2.100000e+01,2.433000e+03
75%,6.500060e+08,2.778189e+06,7.450000e+03,3.000000e+00,9.100000e+01,7.499000e+03
max,8.300097e+08,3.353263e+06,8.305830e+05,7.000000e+00,2.060000e+06,8.306390e+05

In [10]:
lab["labid"].describe()

count    3.913253e+07
mean     4.251397e+08
std      2.414771e+08
min      4.264058e+07
25%      2.297952e+08
50%      4.025197e+08
75%      6.500060e+08
max      8.300097e+08
Name: labid, dtype: float64

In [12]:
sorted(lab["labid"])[0:20]

[42640577,
 42640581,
 42640582,
 42640583,
 42640584,
 42640585,
 42640586,
 42640587,
 42640588,
 42640617,
 42640663,
 42640664,
 42640665,
 42640666,
 42640667,
 42640668,
 42640669,
 42640670,
 42640671,
 42640672]

In [14]:
del lab["labid"]

In [15]:
lab.head()

,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
0,141168,2026,3,fibrinogen,177.0,177,mg/dL,mg/dL,2219
1,141168,1133,3,PT - INR,2.5,2.5,ratio,NaN,1208
2,141168,2026,1,magnesium,2.0,2.0,mg/dL,mg/dL,2090
3,141168,1133,3,PT,26.6,26.6,sec,sec,1208
4,141168,2141,7,pH,7.2,7.20,NaN,Units,2155

In [3]:
y = 5
print(5)

5