In [20]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
import pandas as pd
# import numpy as np

In [22]:
database_type = "/training"

The `patient` table includes general information about the patient admissions (for example, demographics, admission and discharge details). 
See: http://eicu-crd.mit.edu/eicutables/patient/

In [23]:
# loads patient table
patient = pd.read_csv('../eICU' + database_type + '/patient.csv', nrows=999999) 
patient = patient[['patientunitstayid', 'admissionweight']].set_index('patientunitstayid')
patient

                   admissionweight
patientunitstayid
141168                        84.3
141178                        54.4
141179                       176.4
141194                        73.9
141196                       194.7
...                            ...
3353235                       90.0
3353237                       78.4
3353251                      102.0
3353254                       83.9
3353263                      100.8

[200859 rows x 1 columns]

The `vitalperiodic` table comprises data that is consistently interfaced from bedside vital signs monitors into eCareManager. 
Data are generally interfaced as 1 minute averages, and archived into the `vitalperiodic` table as 5 minute median values. 
For more detail, see: http://eicu-crd.mit.edu/eicutables/vitalPeriodic/

In [24]:
vitalperiodic = pd.read_csv('../eICU' + database_type + '/vitalPeriodic.csv', nrows=999999)
columns = ['patientunitstayid', 'observationoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic']
vitalperiodic = vitalperiodic[columns]
vitalperiodic = vitalperiodic.sort_values(by='observationoffset')
vitalperiodic

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
653065,148349,-1445,NaN,60.0,20.0,NaN
653071,148349,-1440,NaN,60.0,21.0,NaN
790455,150049,-1435,NaN,96.0,19.0,NaN
479374,146418,-1435,NaN,71.0,23.0,NaN
653145,148349,-1435,NaN,60.0,21.0,NaN
...,...,...,...,...,...,...
273524,144297,71778,NaN,72.0,33.0,NaN
273140,144297,71783,NaN,72.0,27.0,NaN
273956,144297,71788,NaN,72.0,34.0,NaN
275114,144297,71793,NaN,72.0,33.0,NaN
272804,144297,71798,NaN,74.0,31.0,NaN

The `lab` table provides Laboratory tests that have have been mapped to a standard set of measurements. 
Unmapped measurements are recorded in the customLab table.
See: http://eicu-crd.mit.edu/eicutables/lab/

In [51]:
finallab = pd.read_csv('../eICU' + database_type + '/lab.csv', nrows=999999)

In [52]:
intakeOutputUrine = pd.read_csv('../eICU' + database_type + '/intakeOutputUrine.csv', nrows=999999)

In [53]:
intakeOutputUrine

        patientunitstayid  intakeoutputoffset  urineoutputbyweight
0                  141179                1420             3.968254
1                  141179                 933             2.834467
2                  141179                1703             5.668934
3                  141179                 678             3.968254
4                  141194               12201             1.353180
...                   ...                 ...                  ...
999994            1105948                 150             1.557632
999995            1105948                1230             0.778816
999996            1105948                1170             2.336449
999997            1105948                 510             3.894081
999998            1105948                1890             2.336449

[999999 rows x 3 columns]

In [54]:
# Merging Final Training Table
merge1 = pd.merge(vitalperiodic, finallab,  how='outer', left_on=['patientunitstayid','observationoffset'], right_on = ['patientunitstayid','labresultoffset'])
finalMerge = pd.merge(merge1, intakeOutputUrine,  how='outer', left_on=['patientunitstayid','observationoffset'], right_on = ['patientunitstayid','intakeoutputoffset'])

finalMerge = finalMerge[['patientunitstayid', 'observationoffset', 'labresultoffset', 'intakeoutputoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic', 'creatinine', 'wbcx1000', 'lactate', 'urineoutputbyweight']]
finalMerge = finalMerge.sort_values(by=['patientunitstayid', 'observationoffset'])
finalMerge

,patientunitstayid,observationoffset,labresultoffset,intakeoutputoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight
34160,141168,119.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
35433,141168,124.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
37167,141168,129.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
38458,141168,134.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
40027,141168,139.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1999231,2848042,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,0.83,NaN,NaN,NaN
1999232,2848042,NaN,8294.0,NaN,NaN,NaN,NaN,NaN,0.72,NaN,NaN,NaN
1999233,2848042,NaN,5564.0,NaN,NaN,NaN,NaN,NaN,0.61,NaN,NaN,NaN
1999234,2848042,NaN,2040.0,NaN,NaN,NaN,NaN,NaN,0.69,8.4,NaN,NaN
1999235,2848042,NaN,4579.0,NaN,NaN,NaN,NaN,NaN,0.65,NaN,NaN,NaN

In [55]:
finalMerge['observationoffset'] = finalMerge.apply(lambda x: x['observationoffset'] if pd.notna(x['observationoffset']) else (x['labresultoffset'] if pd.notna(x['labresultoffset']) else x['intakeoutputoffset']), axis = 1)
finalMerge

,patientunitstayid,observationoffset,labresultoffset,intakeoutputoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight
34160,141168,119.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
35433,141168,124.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
37167,141168,129.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
38458,141168,134.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
40027,141168,139.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1999231,2848042,7069.0,7069.0,NaN,NaN,NaN,NaN,NaN,0.83,NaN,NaN,NaN
1999232,2848042,8294.0,8294.0,NaN,NaN,NaN,NaN,NaN,0.72,NaN,NaN,NaN
1999233,2848042,5564.0,5564.0,NaN,NaN,NaN,NaN,NaN,0.61,NaN,NaN,NaN
1999234,2848042,2040.0,2040.0,NaN,NaN,NaN,NaN,NaN,0.69,8.4,NaN,NaN
1999235,2848042,4579.0,4579.0,NaN,NaN,NaN,NaN,NaN,0.65,NaN,NaN,NaN

In [56]:
finalMerge = finalMerge.drop(['labresultoffset', 'intakeoutputoffset'], axis = 1)
finalMerge

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight
34160,141168,119.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
35433,141168,124.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
37167,141168,129.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
38458,141168,134.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
40027,141168,139.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1999231,2848042,7069.0,NaN,NaN,NaN,NaN,0.83,NaN,NaN,NaN
1999232,2848042,8294.0,NaN,NaN,NaN,NaN,0.72,NaN,NaN,NaN
1999233,2848042,5564.0,NaN,NaN,NaN,NaN,0.61,NaN,NaN,NaN
1999234,2848042,2040.0,NaN,NaN,NaN,NaN,0.69,8.4,NaN,NaN
1999235,2848042,4579.0,NaN,NaN,NaN,NaN,0.65,NaN,NaN,NaN

In [ ]:
# vitalperiodic = vitalperiodic.sort_values(by=['observationoffset'])
# finallab = finallab.sort_values(by=['labresultoffset'])
# intakeOutputUrine = intakeOutputUrine.sort_values(by=['intakeoutputoffset'])
# merge1 = pd.merge_asof(vitalperiodic, finallab,  by='patientunitstayid', left_on=['observationoffset'], right_on = ['labresultoffset'], direction='nearest')
# finalMerge = pd.merge_asof(merge1, intakeOutputUrine,  by='patientunitstayid', left_on=['observationoffset'], right_on = ['intakeoutputoffset'], direction='nearest')

# finalMerge = finalMerge[['patientunitstayid', 'observationoffset', 'labresultoffset', 'intakeoutputoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic', 'creatinine', 'wbcx1000', 'lactate', 'urineoutputbyweight']]
# finalMerge = finalMerge.sort_values(by=['patientunitstayid', 'observationoffset'])
# finalMerge

In [57]:
idList = sorted(set(list(finalMerge['patientunitstayid'])))

In [58]:
ff = finalMerge.copy()
nfinalMerge = pd.DataFrame()

In [59]:
for id in idList[:51]:
    df = ff[ff['patientunitstayid'] == id]
    df.loc[:, 'temperature'] = df['temperature'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'heartrate'] = df['heartrate'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'respiration'] = df['respiration'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'systemicsystolic'] = df['systemicsystolic'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'creatinine'] = df['creatinine'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'wbcx1000'] = df['wbcx1000'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'lactate'] = df['lactate'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'urineoutputbyweight'] = df['urineoutputbyweight'].interpolate(method='linear', limit_direction='both')
    print(df)
    print(df['lactate'].interpolate(method='linear', limit_direction='both').shape)
    nfinalMerge = nfinalMerge.append(df)
    print("next")

C:\tools\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

         patientunitstayid  observationoffset  temperature  heartrate  \
34160               141168              119.0          NaN      140.0
35433               141168              124.0          NaN      140.0
37167               141168              129.0          NaN      140.0
38458               141168              134.0          NaN      140.0
40027               141168              139.0          NaN      140.0
...                    ...                ...          ...        ...
496538              141168             2314.0          NaN      100.0
1000002             141168             1701.0          NaN      100.0
1000003             141168             2026.0          NaN      100.0
1000004             141168             1133.0          NaN      100.0
1000005             141168              516.0          NaN      100.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
34160            NaN              40.0      173.12      19.8     12.2
35433            NaN              40.0      173.12      19.8     12.2
37167            NaN              40.0      173.12      19.8     12.2
38458            NaN              40.0      173.12      19.8     12.2
40027            NaN              40.0      173.12      19.8     12.2
...              ...               ...         ...       ...      ...
496538           NaN              88.0      173.12      19.8     12.2
1000002          NaN              88.0      173.12      19.8     12.2
1000003          NaN              88.0        2.95      19.8     12.2
1000004          NaN              88.0        2.30      14.7     12.2
1000005          NaN              88.0        1.95       9.8     12.2

         urineoutputbyweight
34160                    NaN
35433                    NaN
37167                    NaN
38458                    NaN
40027                    NaN
...                      ...
496538                   NaN
1000002                  NaN
1000003                  NaN
1000004                  NaN
1000005                  NaN

[423 rows x 10 columns]
(423,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2566                141178                5.0          NaN       88.0
1000006             141178             -280.0          NaN       88.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2566             NaN               NaN         0.7       7.6      NaN
1000006          NaN               NaN         0.7       7.6      NaN

         urineoutputbyweight
2566                     NaN
1000006                  NaN
(2,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2543                141179                5.0          NaN       82.0
3485                141179               10.0          NaN       82.0
4594                141179               15.0          NaN       86.0
5774                141179               20.0          NaN       86.0
7281                141179               25.0          NaN       87.0
...                    ...                ...          ...        ...
1000007             141179               82.0          NaN       96.0
1000008             141179             1487.0          NaN       96.0
1999236             141179              933.0          NaN       96.0
1999237             141179             1703.0          NaN       96.0
1999238             141179              678.0          NaN       96.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2543             NaN               NaN         0.7       8.1      NaN
3485             NaN               NaN         0.7       8.1      NaN
4594             NaN               NaN         0.7       8.1      NaN
5774             NaN               NaN         0.7       8.1      NaN
7281             NaN               NaN         0.7       8.1      NaN
...              ...               ...         ...       ...      ...
1000007          NaN               NaN         0.7       8.1      NaN
1000008          NaN               NaN         0.7       8.1      NaN
1999236          NaN               NaN         0.7       8.1      NaN
1999237          NaN               NaN         0.7       8.1      NaN
1999238          NaN               NaN         0.7       8.1      NaN

         urineoutputbyweight
2543                3.968254
3485                3.968254
4594                3.968254
5774                3.968254
7281                3.968254
...                      ...
1000007             2.854534
1000008             2.844501
1999236             2.834467
1999237             5.668934
1999238             3.968254

[399 rows x 10 columns]
(399,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2696                141194                6.0          NaN      112.0
3834                141194               11.0          NaN      112.0
4894                141194               16.0          NaN      112.0
6316                141194               21.0          NaN      112.0
7631                141194               26.0          NaN      117.0
...                    ...                ...          ...        ...
1999239             141194            12201.0          NaN       78.0
1999240             141194            12042.0          NaN       78.0
1999241             141194             4620.0          NaN       78.0
1999242             141194            11955.0          NaN       78.0
1999243             141194            11779.0          NaN       78.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2696            21.0              84.0        2.15       8.9      1.3
3834            23.0              84.0        2.15       8.9      1.3
4894            23.0              84.0        2.15       8.9      1.3
6316            25.0              84.0        2.15       8.9      1.3
7631            28.0              84.0        2.15       8.9      1.3
...              ...               ...         ...       ...      ...
1999239         18.0              98.0        2.09       4.6      1.3
1999240         18.0              98.0        2.09       4.6      1.3
1999241         18.0              98.0        2.09       4.6      1.3
1999242         18.0              98.0        2.09       4.6      1.3
1999243         18.0              98.0        2.09       4.6      1.3

         urineoutputbyweight
2696                1.353180
3834                1.353180
4894                1.353180
6316                1.353180
7631                1.353180
...                      ...
1999239             1.353180
1999240             1.353180
1999241             7.104195
1999242             4.059540
1999243             9.472260

[978 rows x 10 columns]
(978,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2471                141196                5.0          NaN       90.0
3434                141196               10.0          NaN       90.0
4796                141196               15.0          NaN       90.0
5759                141196               20.0          NaN       89.0
7313                141196               25.0          NaN       89.0
...                    ...                ...          ...        ...
1999252             141196             3759.0          NaN       81.0
1999253             141196             4660.0          NaN       81.0
1999254             141196             5140.0          NaN       81.0
1999255             141196             5199.0          NaN       81.0
1999256             141196             3973.0          NaN       81.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2471            24.0               NaN        0.83      12.7      NaN
3434            24.0               NaN        0.83      12.7      NaN
4796            24.0               NaN        0.83      12.7      NaN
5759            23.0               NaN        0.83      12.7      NaN
7313            24.0               NaN        0.83      12.7      NaN
...              ...               ...         ...       ...      ...
1999252         24.0               NaN        0.80      26.2      NaN
1999253         24.0               NaN        0.80      26.2      NaN
1999254         24.0               NaN        0.80      26.2      NaN
1999255         24.0               NaN        0.80      26.2      NaN
1999256         24.0               NaN        0.80      26.2      NaN

         urineoutputbyweight
2471                1.027221
3434                1.027221
4796                1.027221
5759                1.027221
7313                1.027221
...                      ...
1999252             0.770416
1999253             0.642013
1999254             0.770416
1999255             0.513611
1999256             0.770416

[288 rows x 10 columns]
(288,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2770                141197                6.0          NaN      104.0
3780                141197               11.0          NaN      104.0
4891                141197               16.0          NaN      103.0
6274                141197               21.0          NaN      101.0
7616                141197               26.0          NaN       99.0
8909                141197               31.0          NaN       98.0
10414               141197               36.0          NaN       97.0
11752               141197               41.0          NaN       95.0
13090               141197               46.0          NaN       96.0
14524               141197               51.0          NaN       96.0
16088               141197               56.0          NaN       95.0
17563               141197               61.0          NaN       95.0
19125               141197               66.0          NaN       94.0
20404               141197               71.0          NaN       92.0
1000025             141197             -179.0          NaN       92.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2770            25.0               NaN        0.93      29.5      NaN
3780            25.0               NaN        0.93      29.5      NaN
4891            23.0               NaN        0.93      29.5      NaN
6274            23.0               NaN        0.93      29.5      NaN
7616            25.0               NaN        0.93      29.5      NaN
8909            24.0               NaN        0.93      29.5      NaN
10414           25.0               NaN        0.93      29.5      NaN
11752           24.0               NaN        0.93      29.5      NaN
13090           23.0               NaN        0.93      29.5      NaN
14524           25.0               NaN        0.93      29.5      NaN
16088           24.0               NaN        0.93      29.5      NaN
17563           23.0               NaN        0.93      29.5      NaN
19125           23.0               NaN        0.93      29.5      NaN
20404           23.0               NaN        0.93      29.5      NaN
1000025         23.0               NaN        0.93      29.5      NaN

         urineoutputbyweight
2770                     NaN
3780                     NaN
4891                     NaN
6274                     NaN
7616                     NaN
8909                     NaN
10414                    NaN
11752                    NaN
13090                    NaN
14524                    NaN
16088                    NaN
17563                    NaN
19125                    NaN
20404                    NaN
1000025                  NaN
(15,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2528                141203                5.0          NaN      112.0
3597                141203               10.0          NaN      114.0
4752                141203               15.0          NaN      118.0
5969                141203               20.0          NaN      110.0
7208                141203               25.0          NaN      114.0
...                    ...                ...          ...        ...
432921              141203             1865.0          NaN       88.0
1000026             141203                1.0          NaN       88.0
1000027             141203             1091.0          NaN       88.0
1000028             141203             -473.0          NaN       88.0
1000029             141203            -1580.0          NaN       88.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2528            25.0               NaN        0.56      12.7      3.5
3597            25.0               NaN        0.56      12.7      3.5
4752            25.0               NaN        0.56      12.7      3.5
5969            25.0               NaN        0.56      12.7      3.5
7208            25.0               NaN        0.56      12.7      3.5
...              ...               ...         ...       ...      ...
432921          14.0               NaN        0.56      12.7      3.5
1000026         14.0               NaN        0.56      12.7      3.5
1000027         14.0               NaN        0.71      23.3      3.5
1000028         14.0               NaN        0.39       8.5      3.5
1000029         14.0               NaN        0.33      10.2      3.5

         urineoutputbyweight
2528                     NaN
3597                     NaN
4752                     NaN
5969                     NaN
7208                     NaN
...                      ...
432921                   NaN
1000026                  NaN
1000027                  NaN
1000028                  NaN
1000029                  NaN

[377 rows x 10 columns]
(377,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
4285                141208               14.0          NaN       83.0
5466                141208               19.0          NaN       76.0
6933                141208               24.0          NaN       78.0
8243                141208               29.0          NaN       78.0
9773                141208               34.0          NaN       80.0
...                    ...                ...          ...        ...
177402              141208              634.0          NaN       96.0
178586              141208              639.0          NaN       96.0
179892              141208              644.0          NaN       94.0
181330              141208              649.0          NaN       90.0
1000030             141208             -139.0          NaN       90.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
4285            32.0               NaN         0.8      11.1      NaN
5466            13.0               NaN         0.8      11.1      NaN
6933            16.0               NaN         0.8      11.1      NaN
8243            15.0               NaN         0.8      11.1      NaN
9773             9.0               NaN         0.8      11.1      NaN
...              ...               ...         ...       ...      ...
177402          24.0               NaN         0.8      11.1      NaN
178586          25.0               NaN         0.8      11.1      NaN
179892          26.0               NaN         0.8      11.1      NaN
181330          21.0               NaN         0.8      11.1      NaN
1000030         21.0               NaN         0.8      11.1      NaN

         urineoutputbyweight
4285                     NaN
5466                     NaN
6933                     NaN
8243                     NaN
9773                     NaN
...                      ...
177402                   NaN
178586                   NaN
179892                   NaN
181330                   NaN
1000030                  NaN

[128 rows x 10 columns]
(128,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2904                141227                7.0          NaN      112.0
3869                141227               12.0          NaN      110.0
5131                141227               17.0          NaN      104.0
6553                141227               22.0          NaN      102.0
7817                141227               27.0          NaN      102.0
...                    ...                ...          ...        ...
1000033             141227             -128.0          NaN      100.0
1999257             141227            -1893.0          NaN      100.0
1999258             141227            -1663.0          NaN      100.0
1999259             141227            -1773.0          NaN      100.0
1999260             141227            -1351.0          NaN      100.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2904            49.0             158.0         1.6      42.7      4.3
3869            46.0             158.0         1.6      42.7      4.3
5131            41.0             158.0         1.6      42.7      4.3
6553            39.0             158.0         1.6      42.7      4.3
7817            38.0             158.0         1.6      42.7      4.3
...              ...               ...         ...       ...      ...
1000033         18.0             100.0         1.4      47.7      4.3
1999257         18.0             100.0         1.4      47.7      4.3
1999258         18.0             100.0         1.4      47.7      4.3
1999259         18.0             100.0         1.4      47.7      4.3
1999260         18.0             100.0         1.4      47.7      4.3

         urineoutputbyweight
2904                 2.43309
3869                 2.43309
5131                 2.43309
6553                 2.43309
7817                 2.43309
...                      ...
1000033              2.43309
1999257              2.43309
1999258              2.43309
1999259              2.43309
1999260              2.43309

[339 rows x 10 columns]
(339,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
3565                141229               10.0          NaN       74.0
4725                141229               15.0          NaN       70.0
6030                141229               20.0          NaN       74.0
7449                141229               25.0          NaN       69.0
8481                141229               30.0          NaN       68.0
10117               141229               35.0          NaN       67.0
11608               141229               40.0          NaN       69.0
12897               141229               45.0          NaN       67.0
14446               141229               50.0          NaN       65.0
15753               141229               55.0          NaN       65.0
17093               141229               60.0          NaN       63.0
18426               141229               65.0          NaN       64.0
19986               141229               70.0          NaN       70.0
21508               141229               75.0          NaN       70.0
22766               141229               80.0          NaN       72.0
24511               141229               85.0          NaN       70.0
25769               141229               90.0          NaN       66.0
27247               141229               95.0          NaN       64.0
28781               141229              100.0          NaN       64.0
30069               141229              105.0          NaN       61.0
31640               141229              110.0          NaN       59.0
33256               141229              115.0          NaN       58.0
34646               141229              120.0          NaN       57.0
36099               141229              125.0          NaN       62.0
37193               141229              130.0          NaN       63.0
38960               141229              135.0          NaN       61.0
40129               141229              140.0          NaN       60.0
41526               141229              145.0          NaN       62.0
43263               141229              150.0          NaN       74.0
44424               141229              155.0          NaN       75.0

In [60]:
# groupeddf = finalMerge['temperature'].groupby('patientunitstayid')
# for i in groupeddf['patientunitstayid', 'temperature']:
#     if(i[0] == ['patientunitstayid', 'temperature']):    
#         print(i)
# #     print("next group")

In [61]:
nfinalMerge

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight
34160,141168,119.0,NaN,140.0,NaN,40.0,173.12,19.8,12.2,NaN
35433,141168,124.0,NaN,140.0,NaN,40.0,173.12,19.8,12.2,NaN
37167,141168,129.0,NaN,140.0,NaN,40.0,173.12,19.8,12.2,NaN
38458,141168,134.0,NaN,140.0,NaN,40.0,173.12,19.8,12.2,NaN
40027,141168,139.0,NaN,140.0,NaN,40.0,173.12,19.8,12.2,NaN
...,...,...,...,...,...,...,...,...,...,...
508268,141556,2405.0,NaN,70.0,17.0,NaN,NaN,NaN,NaN,NaN
508959,141556,2410.0,NaN,68.0,17.0,NaN,NaN,NaN,NaN,NaN
509539,141556,2415.0,NaN,68.0,18.0,NaN,NaN,NaN,NaN,NaN
510150,141556,2420.0,NaN,0.0,17.0,NaN,NaN,NaN,NaN,NaN
510844,141556,2425.0,NaN,0.0,4.0,NaN,NaN,NaN,NaN,NaN