In [1]:
import pandas as pd
import numpy as np

In [2]:
database_type = "/demo"

The `patient` table includes general information about the patient admissions (for example, demographics, admission and discharge details). 
See: http://eicu-crd.mit.edu/eicutables/patient/

In [3]:
# loads patient table
patients = pd.read_csv('../eICU' + database_type + '/patient.csv')
patients.head()

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141764,129391,Female,87,Caucasian,59,91,NaN,157.5,23:36:00,...,ICU to SDU,2,stepdown/other,NaN,NaN,18:58:00,344,Home,Alive,002-1039
1,141765,129391,Female,87,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",157.5,23:36:00,...,Emergency Department,1,admit,46.5,45.0,13:14:00,2250,Step-Down Unit (SDU),Alive,002-1039
2,143870,131022,Male,76,Caucasian,68,103,"Endarterectomy, carotid",167.0,20:46:00,...,Operating Room,1,admit,77.5,79.4,10:00:00,793,Floor,Alive,002-12289
3,144815,131736,Female,34,Caucasian,56,82,"Overdose, other toxin, poison or drug",172.7,01:44:00,...,Emergency Department,1,admit,60.3,60.7,20:48:00,1121,Other External,Alive,002-1116
4,145427,132209,Male,61,Caucasian,68,103,"GI perforation/rupture, surgery for",177.8,23:48:00,...,Operating Room,1,admit,91.7,93.1,22:47:00,1369,Floor,Alive,002-12243

The `vitalperiodic` table comprises data that is consistently interfaced from bedside vital signs monitors into eCareManager. 
Data are generally interfaced as 1 minute averages, and archived into the `vitalperiodic` table as 5 minute median values. 
For more detail, see: http://eicu-crd.mit.edu/eicutables/vitalPeriodic/

In [4]:
vitalperiodic = pd.read_csv('../eICU' + database_type + '/vitalPeriodic.csv')
vitalperiodic.head()

,vitalperiodicid,patientunitstayid,observationoffset,temperature,sao2,heartrate,respiration,cvp,etco2,systemicsystolic,systemicdiastolic,systemicmean,pasystolic,padiastolic,pamean,st1,st2,st3,icp
0,29524122,141765,1179,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29557845,141765,189,NaN,97.0,76.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29524442,141765,1169,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29513052,141765,1534,NaN,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29524600,141765,1164,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
vitalperiodic = vitalperiodic.sort_values(by='observationoffset')
vitalperiodic.head()

,vitalperiodicid,patientunitstayid,observationoffset,temperature,sao2,heartrate,respiration,cvp,etco2,systemicsystolic,systemicdiastolic,systemicmean,pasystolic,padiastolic,pamean,st1,st2,st3,icp
490678,572647570,1071224,-2843,NaN,98.0,62.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490918,572647498,1071224,-2838,NaN,99.0,63.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490654,572647426,1071224,-2833,NaN,98.0,62.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490726,572647354,1071224,-2828,NaN,99.0,63.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490714,572647282,1071224,-2823,NaN,98.0,64.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
columns = ['observationoffset', 'patientunitstayid','temperature','sao2','heartrate','respiration',
          'cvp','etco2','systemicsystolic','systemicdiastolic','systemicmean',
          'pasystolic','padiastolic','pamean','st1','st2','st3','icp']

vitalperiodic = vitalperiodic[columns].set_index('observationoffset')
vitalperiodic.head()

,patientunitstayid,temperature,sao2,heartrate,respiration,cvp,etco2,systemicsystolic,systemicdiastolic,systemicmean,pasystolic,padiastolic,pamean,st1,st2,st3,icp
observationoffset,,,,,,,,,,,,,,,,,
-2843,1071224,NaN,98.0,62.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2838,1071224,NaN,99.0,63.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2833,1071224,NaN,98.0,62.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2828,1071224,NaN,99.0,63.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2823,1071224,NaN,98.0,64.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The `vitalAperiodic` table provides invasive vital sign data that is recorded at irregular intervals. 
See: http://eicu-crd.mit.edu/eicutables/vitalAperiodic/

In [7]:
vitalaperiodic = pd.read_csv('../eICU' + database_type + '/vitalAperiodic.csv')
vitalaperiodic.head()

,vitalaperiodicid,patientunitstayid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean,paop,cardiacoutput,cardiacinput,svr,svri,pvr,pvri
0,3661418,141764,81,171.0,90.0,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3661424,141764,334,153.0,78.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3661417,141764,77,176.0,87.0,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3661419,141764,165,173.0,106.0,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3661421,141764,255,182.0,103.0,133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
vitalaperiodic = vitalaperiodic.sort_values(by='observationoffset')
vitalaperiodic.head()

,vitalaperiodicid,patientunitstayid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean,paop,cardiacoutput,cardiacinput,svr,svri,pvr,pvri
78873,167251372,1071224,-2845,123.0,98.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78825,167251373,1071224,-2836,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78801,167251374,1071224,-2821,120.0,89.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78789,167251375,1071224,-2806,133.0,67.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78807,167251376,1071224,-2791,NaN,NaN,137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# subselect the variable columns
columns = ['observationoffset', 'patientunitstayid','noninvasivesystolic','noninvasivediastolic',
          'noninvasivemean','paop','cardiacoutput','cardiacinput','svr',
          'svri','pvr','pvri']

vitalaperiodic = vitalaperiodic[columns].set_index('observationoffset')
vitalaperiodic.head()

,patientunitstayid,noninvasivesystolic,noninvasivediastolic,noninvasivemean,paop,cardiacoutput,cardiacinput,svr,svri,pvr,pvri
observationoffset,,,,,,,,,,,
-2845,1071224,123.0,98.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2836,1071224,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2821,1071224,120.0,89.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2806,1071224,133.0,67.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2791,1071224,NaN,NaN,137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The `lab` table provides Laboratory tests that have have been mapped to a standard set of measurements. 
Unmapped measurements are recorded in the customLab table.
See: http://eicu-crd.mit.edu/eicutables/lab/

In [10]:
lab = pd.read_csv('../eICU' + database_type + '/lab.csv')
lab.head()

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
0,437880563,1754323,-647,3,Hct,38.30,38.3,%,%,-631
1,437880572,1754323,-647,3,platelets x 1000,181.00,181,K/mcL,k/mm cu,-631
2,437880560,1754323,-647,3,RBC,4.86,4.86,M/mcL,m/mm cu,-631
3,437880570,1754323,-647,3,-monos,8.70,8.7,%,%,-631
4,437880571,1754323,-647,3,MCHC,30.40,30.4,g/dL,%,-631

In [15]:
lab['labname'].unique()

array(['Hct', 'platelets x 1000', 'RBC', '-monos', 'MCHC', 'WBC x 1000',
       'Hgb', 'MPV', 'RDW', 'chloride', 'glucose', 'potassium', 'calcium',
       '-eos', 'BUN', '-lymphs', 'MCH', 'creatinine', 'anion gap',
       'sodium', 'Total CO2', '24 h urine protein', 'MCV',
       "WBC's in urine", '-basos', 'urinary specific gravity',
       'bedside glucose', 'FiO2', 'Temperature', '-bands', '-polys',
       'AST (SGOT)', 'magnesium', 'bicarbonate', 'total bilirubin',
       'alkaline phos.', 'paCO2', 'paO2', 'HCO3', 'O2 Sat (%)',
       'troponin - I', 'Base Excess', 'ALT (SGPT)', 'albumin', 'pH',
       'total protein', 'phosphate', 'direct bilirubin', 'PT', 'PT - INR',
       'PTT', 'lactate', 'fibrinogen', 'Vancomycin - trough',
       'Base Deficit', 'Carboxyhemoglobin', 'Methemoglobin', 'O2 Content',
       'CPK-MB INDEX', 'CPK', 'LPM O2', 'CPK-MB', 'HDL', 'LDL',
       'total cholesterol', 'triglycerides', 'PTT ratio', 'TSH',
       'ammonia', 'amylase', 'lipase', 'TV', 'PEEP', 'Respiratory Rate',
       'urinary creatinine', 'Pressure Support', 'urinary sodium',
       'folate', 'T4', 'Vitamin B12', 'Fe', 'TIBC', 'ionized calcium',
       'ethanol', 'Ferritin', 'T3RU', 'reticulocyte count', 'cortisol',
       'free T4', 'T3', 'uric acid', 'Digoxin', 'serum osmolality', 'ESR',
       'Tacrolimus-FK506', 'myoglobin', 'BNP', 'Acetaminophen', 'cd 4',
       'troponin - T', 'CRP', 'Vancomycin - random', 'salicylate',
       'Vent Rate', 'Peak Airway/Pressure', 'urinary osmolality',
       'Fe/TIBC Ratio', 'Site', 'Phenytoin', 'LDH', 'Device',
       "WBC's in synovial fluid", 'transferrin', 'prealbumin',
       'Oxyhemoglobin', 'Theophylline', 'Gentamicin - trough',
       'Spontaneous Rate', 'serum ketones', 'protein S', 'protein C',
       "WBC's in body fluid", 'haptoglobin', 'CRP-hs',
       'Amikacin - trough', 'Gentamicin - random',
       "WBC's in pleural fluid", 'Phenobarbital', 'Vent Other',
       'Tobramycin - peak', 'Lithium', 'Gentamicin - peak',
       'glucose - CSF', 'protein - CSF', "WBC's in cerebrospinal fluid",
       'Pressure Control', 'Carbamazepine', 'ANF/ANA', 'HSV 1&2 IgG AB',
       '24 h urine urea nitrogen', 'Clostridium difficile toxin A+B',
       'Mode', 'Tobramycin - trough', 'prolactin', 'Tobramycin - random',
       'Amikacin - peak', "WBC's in peritoneal fluid"], dtype=object)

In [16]:
lab = lab.sort_values(by='labresultoffset')
lab.head()

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
62976,823463559,3351763,-68394,1,ALT (SGPT),60.0,60,Units/L,IU/L,-68361
62944,823463558,3351763,-68394,1,calcium,7.9,7.9,mg/dL,mg/dL,-68361
63176,826185916,3351763,-68394,3,-monos,7.0,7,%,%,-68381
62952,823463548,3351763,-68394,1,total bilirubin,0.3,0.3,mg/dL,mg/dL,-68361
62960,823463549,3351763,-68394,1,potassium,3.7,3.7,mmol/L,mmol/L,-68361

In [18]:
# subselect the variable columns
columns = ['labresultoffset', 'patientunitstayid','labtypeid','labname',
          'labresult','labmeasurenamesystem','labmeasurenameinterface']

lab = lab[columns].set_index('labresultoffset')
lab.head()

,patientunitstayid,labtypeid,labname,labresult,labmeasurenamesystem,labmeasurenameinterface
labresultoffset,,,,,,
-68394,3351763,1,ALT (SGPT),60.0,Units/L,IU/L
-68394,3351763,1,calcium,7.9,mg/dL,mg/dL
-68394,3351763,3,-monos,7.0,%,%
-68394,3351763,1,total bilirubin,0.3,mg/dL,mg/dL
-68394,3351763,1,potassium,3.7,mmol/L,mmol/L

In [24]:
lab['patientunitstayid'] = lab['patientunitstayid'].astype(str)

In [25]:
lab.loc[(lab['patientunitstayid'].str.contains("3351763"))]

,patientunitstayid,labtypeid,labname,labresult,labmeasurenamesystem,labmeasurenameinterface
labresultoffset,,,,,,
-68394,3351763,1,ALT (SGPT),60.00,Units/L,IU/L
-68394,3351763,1,calcium,7.90,mg/dL,mg/dL
-68394,3351763,3,-monos,7.00,%,%
-68394,3351763,1,total bilirubin,0.30,mg/dL,mg/dL
-68394,3351763,1,potassium,3.70,mmol/L,mmol/L
...,...,...,...,...,...,...
29244,3351763,1,creatinine,0.66,mg/dL,mg/dL
29244,3351763,1,chloride,102.00,mmol/L,mmol/L
29244,3351763,1,BUN,23.00,mg/dL,mg/dL
29244,3351763,1,calcium,8.30,mg/dL,mg/dL
29244,3351763,1,bicarbonate,27.00,mmol/L,mmol/L