In [21]:
%load_ext autoreload
%autoreload 2

In [22]:
import pandas as pd
# import numpy as np

In [23]:
database_type = "/full"

The `patient` table includes general information about the patient admissions (for example, demographics, admission and discharge details). 
See: http://eicu-crd.mit.edu/eicutables/patient/

In [24]:
# loads patient table
patient = pd.read_csv('../eICU' + database_type + '/patient.csv', nrows=999999) 
patient = patient[['patientunitstayid', 'admissionweight']].set_index('patientunitstayid')
patient

                   admissionweight
patientunitstayid
141168                        84.3
141178                        54.4
141179                         NaN
141194                        73.9
141196                         NaN
...                            ...
3353235                       90.0
3353237                       78.4
3353251                      102.0
3353254                       83.9
3353263                      100.8

[200859 rows x 1 columns]

The `vitalperiodic` table comprises data that is consistently interfaced from bedside vital signs monitors into eCareManager. 
Data are generally interfaced as 1 minute averages, and archived into the `vitalperiodic` table as 5 minute median values. 
For more detail, see: http://eicu-crd.mit.edu/eicutables/vitalPeriodic/

In [25]:
vitalperiodic = pd.read_csv('../eICU' + database_type + '/vitalPeriodic.csv', nrows=999999)
columns = ['patientunitstayid', 'observationoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic']
vitalperiodic = vitalperiodic[columns]
vitalperiodic = vitalperiodic.sort_values(by='observationoffset')
vitalperiodic

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
653065,148349,-1445,NaN,60.0,20.0,NaN
653071,148349,-1440,NaN,60.0,21.0,NaN
790455,150049,-1435,NaN,96.0,19.0,NaN
479374,146418,-1435,NaN,71.0,23.0,NaN
653145,148349,-1435,NaN,60.0,21.0,NaN
...,...,...,...,...,...,...
273524,144297,71778,NaN,72.0,33.0,NaN
273140,144297,71783,NaN,72.0,27.0,NaN
273956,144297,71788,NaN,72.0,34.0,NaN
275114,144297,71793,NaN,72.0,33.0,NaN
272804,144297,71798,NaN,74.0,31.0,NaN

The `lab` table provides Laboratory tests that have have been mapped to a standard set of measurements. 
Unmapped measurements are recorded in the customLab table.
See: http://eicu-crd.mit.edu/eicutables/lab/

In [26]:
lab = pd.read_csv('../eICU' + database_type + '/lab.csv', nrows=999999)
columns = ['patientunitstayid', 'labresultoffset', 'labname', 'labresult']
lab = lab[columns]
# lab = lab.sort_values(by='labresultoffset')
lab

        patientunitstayid  labresultoffset          labname  labresult
0                  141168             2026       fibrinogen      177.0
1                  141168             1133         PT - INR        2.5
2                  141168             2026        magnesium        2.0
3                  141168             1133               PT       26.6
4                  141168             2141               pH        7.2
...                   ...              ...              ...        ...
999994             180812             7399  bedside glucose      207.0
999995             180812            11983           sodium      140.0
999996             180812              418               PT       53.0
999997             180812              418           sodium      142.0
999998             180812             4837               PT       14.4

[999999 rows x 4 columns]

In [27]:
#converting labname 'urinary creatinine to 'creatinine'
lab.loc[lab['labname'].str.contains("urinary creatinine"), 'labname'] = "creatinine"

# Only keeping rows where labname is 'WBC x 1000', 'lactate', 'creatinine'
lab_name = ['WBC x 1000', 'lactate', 'creatinine']
lab = lab[lab.labname.isin(lab_name)]

# duplicating labs to transpose labresult and labname
labc = lab.copy()
labw = lab.copy()
labl = lab.copy()

labc = labc.loc[(labc['labname'].str.contains("creatinine"))]
labw = labw.loc[(labw['labname'].str.contains("WBC x 1000"))]
labl = labl.loc[(labl['labname'].str.contains("lactate"))]

In [28]:
# Transpose labresults and lab name to cols
labc['creatinine'] = labc.apply(lambda x: x['labresult'] if x['labname'] == 'creatinine' else -1, axis=1)
labw['wbcx1000'] = labw.apply(lambda x: x['labresult'] if x['labname'] == 'WBC x 1000' else -1, axis=1)
labl['lactate'] = labl.apply(lambda x: x['labresult'] if x['labname'] == 'lactate' else -1, axis=1)

labc = labc.drop(['labname', 'labresult'], axis = 1)
labw = labw.drop(['labname', 'labresult'], axis = 1)
labl = labl.drop(['labname', 'labresult'], axis = 1)

# merge lab results dataframes
finallab = labc.merge(labw, how = 'left', on = ['patientunitstayid', 'labresultoffset'])
finallab = finallab.merge(labl, how = 'left', on = ['patientunitstayid', 'labresultoffset'])
finallab.drop_duplicates()
finallab

       patientunitstayid  labresultoffset  creatinine  wbcx1000  lactate
0                 141168             1701      173.12       NaN      NaN
1                 141168             2026        2.95      19.8     12.2
2                 141168             1133        2.30      14.7      NaN
3                 141168              516        1.95       9.8      NaN
4                 141178             -280        0.70       7.6      NaN
...                  ...              ...         ...       ...      ...
30639             180812            10778        1.32       NaN      NaN
30640             180812             4837        1.25       NaN      NaN
30641             180812            13693        1.33       NaN      NaN
30642             180812            14858        1.30       NaN      NaN
30643             180812            11983        1.33       NaN      NaN

[30644 rows x 5 columns]

The `intakeOutput` table provides Intake and output recorded for patients entered from the nursing flowsheet.
See: http://eicu-crd.mit.edu/eicutables/intakeOutput/

In [29]:
intakeOutput = pd.read_csv('../eICU' + database_type + '/intakeOutput.csv', nrows=999999)
columns = ['patientunitstayid', 'intakeoutputoffset', 'intaketotal', 'outputtotal', 'celllabel']
intakeOutput = intakeOutput[columns]
intakeOutput.sort_values(by='intakeoutputoffset')
intakeOutputUrine = intakeOutput.loc[(intakeOutput['celllabel'].str.contains("Urine"))]
intakeOutputUrine = pd.DataFrame.merge(patient, intakeOutputUrine, on='patientunitstayid')
intakeOutputUrine

,patientunitstayid,admissionweight,intakeoutputoffset,intaketotal,outputtotal,celllabel
0,141179,NaN,1420,0.0,700.0,Urine
1,141179,NaN,933,0.0,500.0,Urine
2,141179,NaN,1703,0.0,1000.0,Urine
3,141179,NaN,678,0.0,700.0,Urine
4,141194,73.90,12201,290.4,100.0,Urine
...,...,...,...,...,...,...
207342,425009,65.80,11046,0.0,300.0,Urine
207343,425010,65.80,1358,0.0,150.0,Urine
207344,425072,93.90,28,0.0,350.0,Urine
207345,425072,93.90,1108,0.0,0.0,Urine
207346,425092,91.26,1171,0.0,500.0,Urine

In [30]:
intakeOutputUrine['admissionweight'].fillna(intakeOutputUrine['admissionweight'].mean(), inplace=True)
intakeOutputUrine['urineoutputbyweight'] = intakeOutputUrine.apply(lambda x: x['outputtotal'] / x['admissionweight'], axis=1)
intakeOutputUrine = intakeOutputUrine[['patientunitstayid','intakeoutputoffset', 'urineoutputbyweight']]
intakeOutputUrine

        patientunitstayid  intakeoutputoffset  urineoutputbyweight
0                  141179                1420             7.851544
1                  141179                 933             5.608246
2                  141179                1703            11.216491
3                  141179                 678             7.851544
4                  141194               12201             1.353180
...                   ...                 ...                  ...
207342             425009               11046             4.559271
207343             425010                1358             2.279635
207344             425072                  28             3.727370
207345             425072                1108             0.000000
207346             425092                1171             5.478852

[207347 rows x 3 columns]

In [168]:
# Merging Final Training Table
merge1 = pd.merge(vitalperiodic, finallab,  how='outer', left_on=['patientunitstayid','observationoffset'], right_on = ['patientunitstayid','labresultoffset'])
finalMerge = pd.merge(merge1, intakeOutputUrine,  how='outer', left_on=['patientunitstayid','observationoffset'], right_on = ['patientunitstayid','intakeoutputoffset'])

finalMerge = finalMerge[['patientunitstayid', 'observationoffset', 'labresultoffset', 'intakeoutputoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic', 'creatinine', 'wbcx1000', 'lactate', 'urineoutputbyweight']]
finalMerge = finalMerge.sort_values(by=['patientunitstayid', 'observationoffset'])
finalMerge

,patientunitstayid,observationoffset,labresultoffset,intakeoutputoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight
34293,141168,119.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
35722,141168,124.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
36916,141168,129.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
38515,141168,134.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
40003,141168,139.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1197706,425009,NaN,NaN,11046.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.559271
1087393,425010,NaN,NaN,1358.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.279635
1049726,425072,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.727370
1081281,425072,NaN,NaN,1108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1082873,425092,NaN,NaN,1171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.478852

In [169]:
finalMerge['observationoffset'] = finalMerge.apply(lambda x: x['observationoffset'] if pd.notna(x['observationoffset']) else (x['labresultoffset'] if pd.notna(x['labresultoffset']) else x['intakeoutputoffset']), axis = 1)
finalMerge

,patientunitstayid,observationoffset,labresultoffset,intakeoutputoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight
34293,141168,119.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
35722,141168,124.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
36916,141168,129.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
38515,141168,134.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
40003,141168,139.0,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1197706,425009,11046.0,NaN,11046.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.559271
1087393,425010,1358.0,NaN,1358.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.279635
1049726,425072,28.0,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.727370
1081281,425072,1108.0,NaN,1108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1082873,425092,1171.0,NaN,1171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.478852

In [170]:
finalMerge = finalMerge.drop(['labresultoffset', 'intakeoutputoffset'], axis = 1)
finalMerge

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight
34293,141168,119.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
35722,141168,124.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
36916,141168,129.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
38515,141168,134.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
40003,141168,139.0,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1197706,425009,11046.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.559271
1087393,425010,1358.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.279635
1049726,425072,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.727370
1081281,425072,1108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1082873,425092,1171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.478852

In [152]:
# vitalperiodic = vitalperiodic.sort_values(by=['observationoffset'])
# finallab = finallab.sort_values(by=['labresultoffset'])
# intakeOutputUrine = intakeOutputUrine.sort_values(by=['intakeoutputoffset'])
# merge1 = pd.merge_asof(vitalperiodic, finallab,  by='patientunitstayid', left_on=['observationoffset'], right_on = ['labresultoffset'], direction='nearest')
# finalMerge = pd.merge_asof(merge1, intakeOutputUrine,  by='patientunitstayid', left_on=['observationoffset'], right_on = ['intakeoutputoffset'], direction='nearest')

# finalMerge = finalMerge[['patientunitstayid', 'observationoffset', 'labresultoffset', 'intakeoutputoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic', 'creatinine', 'wbcx1000', 'lactate', 'urineoutputbyweight']]
# finalMerge = finalMerge.sort_values(by=['patientunitstayid', 'observationoffset'])
# finalMerge

In [171]:
idList = sorted(set(list(finalMerge['patientunitstayid'])))

In [172]:
ff = finalMerge.copy()
nfinalMerge = pd.DataFrame()

In [195]:
for id in idList[:51]:
    df = ff[ff['patientunitstayid'] == id]
    df.loc[:, 'temperature'] = df['temperature'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'heartrate'] = df['heartrate'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'respiration'] = df['respiration'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'systemicsystolic'] = df['systemicsystolic'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'creatinine'] = df['creatinine'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'wbcx1000'] = df['wbcx1000'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'lactate'] = df['lactate'].interpolate(method='linear', limit_direction='both')
    df.loc[:, 'urineoutputbyweight'] = df['urineoutputbyweight'].interpolate(method='linear', limit_direction='both')
    print(df)
    print(df['lactate'].interpolate(method='linear', limit_direction='both').shape)
    nfinalMerge = nfinalMerge.append(df)
    print("next")

         patientunitstayid  observationoffset  temperature  heartrate  \
34293               141168              119.0          NaN      140.0
35722               141168              124.0          NaN      140.0
36916               141168              129.0          NaN      140.0
38515               141168              134.0          NaN      140.0
40003               141168              139.0          NaN      140.0
...                    ...                ...          ...        ...
496613              141168             2314.0          NaN      100.0
1024705             141168              516.0          NaN      100.0
1024706             141168             1133.0          NaN      100.0
1024707             141168             1701.0          NaN      100.0
1024708             141168             2026.0          NaN      100.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
34293            NaN              40.0        1.95      9.80     12.2
35722            NaN              40.0        1.95      9.80     12.2
36916            NaN              40.0        1.95      9.80     12.2
38515            NaN              40.0        1.95      9.80     12.2
40003            NaN              40.0        1.95      9.80     12.2
...              ...               ...         ...       ...      ...
496613           NaN              88.0        1.95      9.80     12.2
1024705          NaN              88.0        1.95      9.80     12.2
1024706          NaN              88.0        2.30     14.70     12.2
1024707          NaN              88.0      173.12     17.25     12.2
1024708          NaN              88.0        2.95     19.80     12.2

         urineoutputbyweight
34293                    NaN
35722                    NaN
36916                    NaN
38515                    NaN
40003                    NaN
...                      ...
496613                   NaN
1024705                  NaN
1024706                  NaN
1024707                  NaN
1024708                  NaN

[423 rows x 10 columns]
(423,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2388                141178                5.0          NaN       88.0
1010432             141178             -280.0          NaN       88.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2388             NaN               NaN         0.7       7.6      NaN
1010432          NaN               NaN         0.7       7.6      NaN

         urineoutputbyweight
2388                     NaN
1010432                  NaN
(2,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2376                141179                5.0          NaN       82.0
3320                141179               10.0          NaN       82.0
4747                141179               15.0          NaN       86.0
5781                141179               20.0          NaN       86.0
7150                141179               25.0          NaN       87.0
...                    ...                ...          ...        ...
1021101             141179               82.0          NaN       96.0
1021102             141179             1487.0          NaN       96.0
1069735             141179              678.0          NaN       96.0
1076812             141179              933.0          NaN       96.0
1094948             141179             1703.0          NaN       96.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2376             NaN               NaN         0.7       8.1      NaN
3320             NaN               NaN         0.7       8.1      NaN
4747             NaN               NaN         0.7       8.1      NaN
5781             NaN               NaN         0.7       8.1      NaN
7150             NaN               NaN         0.7       8.1      NaN
...              ...               ...         ...       ...      ...
1021101          NaN               NaN         0.7       8.1      NaN
1021102          NaN               NaN         0.7       8.1      NaN
1069735          NaN               NaN         0.7       8.1      NaN
1076812          NaN               NaN         0.7       8.1      NaN
1094948          NaN               NaN         0.7       8.1      NaN

         urineoutputbyweight
2376                7.851544
3320                7.851544
4747                7.851544
5781                7.851544
7150                7.851544
...                      ...
1021101             7.851544
1021102             7.851544
1069735             7.851544
1076812             5.608246
1094948            11.216491

[399 rows x 10 columns]
(399,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2654                141194                6.0          NaN      112.0
3783                141194               11.0          NaN      112.0
4974                141194               16.0          NaN      112.0
6139                141194               21.0          NaN      112.0
7713                141194               26.0          NaN      117.0
...                    ...                ...          ...        ...
1144518             141194             4620.0          NaN       78.0
1200997             141194            11779.0          NaN       78.0
1201704             141194            11955.0          NaN       78.0
1202019             141194            12042.0          NaN       78.0
1202625             141194            12201.0          NaN       78.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2654            21.0              84.0        2.15      11.8      1.3
3783            23.0              84.0        2.15      11.8      1.3
4974            23.0              84.0        2.15      11.8      1.3
6139            25.0              84.0        2.15      11.8      1.3
7713            28.0              84.0        2.15      11.8      1.3
...              ...               ...         ...       ...      ...
1144518         18.0              98.0        1.75       8.9      1.3
1200997         18.0              98.0        1.75       8.9      1.3
1201704         18.0              98.0        1.75       8.9      1.3
1202019         18.0              98.0        1.75       8.9      1.3
1202625         18.0              98.0        1.75       8.9      1.3

         urineoutputbyweight
2654                7.104195
3783                7.104195
4974                7.104195
6139                7.104195
7713                7.104195
...                      ...
1144518             7.104195
1200997             9.472260
1201704             4.059540
1202019             1.353180
1202625             1.353180

[978 rows x 10 columns]
(978,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2479                141196                5.0          NaN       90.0
3415                141196               10.0          NaN       90.0
4688                141196               15.0          NaN       90.0
5789                141196               20.0          NaN       89.0
7092                141196               25.0          NaN       89.0
...                    ...                ...          ...        ...
1142767             141196             4492.0          NaN       81.0
1145033             141196             4660.0          NaN       81.0
1149474             141196             5008.0          NaN       81.0
1151163             141196             5140.0          NaN       81.0
1151893             141196             5199.0          NaN       81.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2479            24.0               NaN        0.80      26.2      NaN
3415            24.0               NaN        0.80      26.2      NaN
4688            24.0               NaN        0.80      26.2      NaN
5789            23.0               NaN        0.80      26.2      NaN
7092            24.0               NaN        0.80      26.2      NaN
...              ...               ...         ...       ...      ...
1142767         24.0               NaN        0.83      12.7      NaN
1145033         24.0               NaN        0.83      12.7      NaN
1149474         24.0               NaN        0.83      12.7      NaN
1151163         24.0               NaN        0.83      12.7      NaN
1151893         24.0               NaN        0.83      12.7      NaN

         urineoutputbyweight
2479                2.243298
3415                2.243298
4688                2.243298
5789                2.243298
7092                2.243298
...                      ...
1142767             2.243298
1145033             1.402061
1149474             1.682474
1151163             1.682474
1151893             1.121649

[288 rows x 10 columns]
(288,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2755                141197                6.0          NaN      104.0
3787                141197               11.0          NaN      104.0
4995                141197               16.0          NaN      103.0
6289                141197               21.0          NaN      101.0
7497                141197               26.0          NaN       99.0
8984                141197               31.0          NaN       98.0
10267               141197               36.0          NaN       97.0
11808               141197               41.0          NaN       95.0
13245               141197               46.0          NaN       96.0
14753               141197               51.0          NaN       96.0
16205               141197               56.0          NaN       95.0
17588               141197               61.0          NaN       95.0
18849               141197               66.0          NaN       94.0
20493               141197               71.0          NaN       92.0
1013860             141197             -179.0          NaN       92.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2755            25.0               NaN        0.93      29.5      NaN
3787            25.0               NaN        0.93      29.5      NaN
4995            23.0               NaN        0.93      29.5      NaN
6289            23.0               NaN        0.93      29.5      NaN
7497            25.0               NaN        0.93      29.5      NaN
8984            24.0               NaN        0.93      29.5      NaN
10267           25.0               NaN        0.93      29.5      NaN
11808           24.0               NaN        0.93      29.5      NaN
13245           23.0               NaN        0.93      29.5      NaN
14753           25.0               NaN        0.93      29.5      NaN
16205           24.0               NaN        0.93      29.5      NaN
17588           23.0               NaN        0.93      29.5      NaN
18849           23.0               NaN        0.93      29.5      NaN
20493           23.0               NaN        0.93      29.5      NaN
1013860         23.0               NaN        0.93      29.5      NaN

         urineoutputbyweight
2755                     NaN
3787                     NaN
4995                     NaN
6289                     NaN
7497                     NaN
8984                     NaN
10267                    NaN
11808                    NaN
13245                    NaN
14753                    NaN
16205                    NaN
17588                    NaN
18849                    NaN
20493                    NaN
1013860                  NaN
(15,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2548                141203                5.0          NaN      112.0
3429                141203               10.0          NaN      114.0
4797                141203               15.0          NaN      118.0
6086                141203               20.0          NaN      110.0
7112                141203               25.0          NaN      114.0
...                    ...                ...          ...        ...
432976              141203             1865.0          NaN       88.0
1005853             141203            -1580.0          NaN       88.0
1005854             141203             -473.0          NaN       88.0
1005855             141203                1.0          NaN       88.0
1005856             141203             1091.0          NaN       88.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2548            25.0               NaN        0.33      10.2      3.5
3429            25.0               NaN        0.33      10.2      3.5
4797            25.0               NaN        0.33      10.2      3.5
6086            25.0               NaN        0.33      10.2      3.5
7112            25.0               NaN        0.33      10.2      3.5
...              ...               ...         ...       ...      ...
432976          14.0               NaN        0.33      10.2      3.5
1005853         14.0               NaN        0.33      10.2      3.5
1005854         14.0               NaN        0.39       8.5      3.5
1005855         14.0               NaN        0.56      12.7      3.5
1005856         14.0               NaN        0.71      23.3      3.5

         urineoutputbyweight
2548                     NaN
3429                     NaN
4797                     NaN
6086                     NaN
7112                     NaN
...                      ...
432976                   NaN
1005853                  NaN
1005854                  NaN
1005855                  NaN
1005856                  NaN

[377 rows x 10 columns]
(377,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
4197                141208               14.0          NaN       83.0
5674                141208               19.0          NaN       76.0
6879                141208               24.0          NaN       78.0
8345                141208               29.0          NaN       78.0
9690                141208               34.0          NaN       80.0
...                    ...                ...          ...        ...
177306              141208              634.0          NaN       96.0
178593              141208              639.0          NaN       96.0
179857              141208              644.0          NaN       94.0
181223              141208              649.0          NaN       90.0
1016028             141208             -139.0          NaN       90.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
4197            32.0               NaN         0.8      11.1      NaN
5674            13.0               NaN         0.8      11.1      NaN
6879            16.0               NaN         0.8      11.1      NaN
8345            15.0               NaN         0.8      11.1      NaN
9690             9.0               NaN         0.8      11.1      NaN
...              ...               ...         ...       ...      ...
177306          24.0               NaN         0.8      11.1      NaN
178593          25.0               NaN         0.8      11.1      NaN
179857          26.0               NaN         0.8      11.1      NaN
181223          21.0               NaN         0.8      11.1      NaN
1016028         21.0               NaN         0.8      11.1      NaN

         urineoutputbyweight
4197                     NaN
5674                     NaN
6879                     NaN
8345                     NaN
9690                     NaN
...                      ...
177306                   NaN
178593                   NaN
179857                   NaN
181223                   NaN
1016028                  NaN

[128 rows x 10 columns]
(128,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
2862                141227                7.0          NaN      112.0
3950                141227               12.0          NaN      110.0
5238                141227               17.0          NaN      104.0
6430                141227               22.0          NaN      102.0
7838                141227               27.0          NaN      102.0
...                    ...                ...          ...        ...
1005866             141227              -13.0          NaN      100.0
1041335             141227            -1893.0          NaN      100.0
1041644             141227            -1773.0          NaN      100.0
1041905             141227            -1663.0          NaN      100.0
1042784             141227            -1351.0          NaN      100.0

         respiration  systemicsystolic  creatinine  wbcx1000  lactate  \
2862            49.0             158.0         1.6      42.7      4.3
3950            46.0             158.0         1.6      42.7      4.3
5238            41.0             158.0         1.6      42.7      4.3
6430            39.0             158.0         1.6      42.7      4.3
7838            38.0             158.0         1.6      42.7      4.3
...              ...               ...         ...       ...      ...
1005866         18.0             100.0         1.5      65.9      4.3
1041335         18.0             100.0         1.5      65.9      4.3
1041644         18.0             100.0         1.5      65.9      4.3
1041905         18.0             100.0         1.5      65.9      4.3
1042784         18.0             100.0         1.5      65.9      4.3

         urineoutputbyweight
2862                 2.43309
3950                 2.43309
5238                 2.43309
6430                 2.43309
7838                 2.43309
...                      ...
1005866              2.43309
1041335              2.43309
1041644              2.43309
1041905              2.43309
1042784              2.43309

[339 rows x 10 columns]
(339,)
next
         patientunitstayid  observationoffset  temperature  heartrate  \
3554                141229               10.0          NaN       74.0
4522                141229               15.0          NaN       70.0
6015                141229               20.0          NaN       74.0
7426                141229               25.0          NaN       69.0
8724                141229               30.0          NaN       68.0
9980                141229               35.0          NaN       67.0
11615               141229               40.0          NaN       69.0
12983               141229               45.0          NaN       67.0
14104               141229               50.0          NaN       65.0
15654               141229               55.0          NaN       65.0
17046               141229               60.0          NaN       63.0
18767               141229               65.0          NaN       64.0
20189               141229               70.0          NaN       70.0
21562               141229               75.0          NaN       70.0
22840               141229               80.0          NaN       72.0
24602               141229               85.0          NaN       70.0
25845               141229               90.0          NaN       66.0
27394               141229               95.0          NaN       64.0
28733               141229              100.0          NaN       64.0
30350               141229              105.0          NaN       61.0
31732               141229              110.0          NaN       59.0
32937               141229              115.0          NaN       58.0
34309               141229              120.0          NaN       57.0
36007               141229              125.0          NaN       62.0
37579               141229              130.0          NaN       63.0
39027               141229              135.0          NaN       61.0
40385               141229              140.0          NaN       60.0
41781               141229              145.0          NaN       62.0
43108               141229              150.0          NaN       74.0
44561               141229              155.0          NaN       75.0

In [191]:
# groupeddf = finalMerge['temperature'].groupby('patientunitstayid')
# for i in groupeddf['patientunitstayid', 'temperature']:
#     if(i[0] == ['patientunitstayid', 'temperature']):    
#         print(i)
# #     print("next group")

In [165]:
nfinalMerge

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight
34293,141168,119.0,NaN,140.0,NaN,40.0,1.95,9.8,12.2,NaN
35722,141168,124.0,NaN,140.0,NaN,40.0,1.95,9.8,12.2,NaN
36916,141168,129.0,NaN,140.0,NaN,40.0,1.95,9.8,12.2,NaN
38515,141168,134.0,NaN,140.0,NaN,40.0,1.95,9.8,12.2,NaN
40003,141168,139.0,NaN,140.0,NaN,40.0,1.95,9.8,12.2,NaN
...,...,...,...,...,...,...,...,...,...,...
1191708,141548,9872.0,NaN,84.0,20.0,NaN,1.18,12.5,NaN,5.047421
1200244,141548,11606.0,NaN,84.0,20.0,NaN,1.18,12.5,NaN,5.047421
1202695,141548,12220.0,NaN,84.0,20.0,NaN,1.18,12.5,NaN,3.364947
1203730,141548,12499.0,NaN,84.0,20.0,NaN,1.18,12.5,NaN,2.804123
1205452,141548,12979.0,NaN,84.0,20.0,NaN,1.18,12.5,NaN,3.364947