In [2]:
import pandas as pd
# import numpy as np

In [3]:
database_type = "/full"

The `patient` table includes general information about the patient admissions (for example, demographics, admission and discharge details). 
See: http://eicu-crd.mit.edu/eicutables/patient/

In [27]:
# loads patient table
patients = pd.read_csv('../eICU' + database_type + '/patient.csv', nrows=999999) 
patients = patients[['patientunitstayid', 'admissionweight']].set_index('patientunitstayid')
patients.head()

                   admissionweight
patientunitstayid
141168                        84.3
141178                        54.4
141179                         NaN
141194                        73.9
141196                         NaN

The `vitalperiodic` table comprises data that is consistently interfaced from bedside vital signs monitors into eCareManager. 
Data are generally interfaced as 1 minute averages, and archived into the `vitalperiodic` table as 5 minute median values. 
For more detail, see: http://eicu-crd.mit.edu/eicutables/vitalPeriodic/

In [12]:
vitalperiodic = pd.read_csv('../eICU' + database_type + '/vitalPeriodic.csv', nrows=999999)
columns = ['patientunitstayid', 'observationoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic']
vitalperiodic = vitalperiodic[columns].set_index('observationoffset')
vitalperiodic = vitalperiodic.sort_values(by='observationoffset')
vitalperiodic.head()

,patientunitstayid,temperature,heartrate,respiration,systemicsystolic
observationoffset,,,,,
-1445,148349,NaN,60.0,20.0,NaN
-1440,148349,NaN,60.0,21.0,NaN
-1435,150049,NaN,96.0,19.0,NaN
-1435,146418,NaN,71.0,23.0,NaN
-1435,148349,NaN,60.0,21.0,NaN

The `vitalAperiodic` table provides invasive vital sign data that is recorded at irregular intervals. 
See: http://eicu-crd.mit.edu/eicutables/vitalAperiodic/

In [14]:
vitalaperiodic = pd.read_csv('../eICU' + database_type + '/vitalAperiodic.csv', nrows=999999)
columns = ['observationoffset', 'patientunitstayid','noninvasivesystolic','cardiacoutput','cardiacinput']
vitalaperiodic = vitalaperiodic[columns].set_index('observationoffset')
vitalaperiodic = vitalaperiodic.sort_values(by='observationoffset')
vitalaperiodic.head()

,patientunitstayid,noninvasivesystolic,cardiacoutput,cardiacinput
observationoffset,,,,
-4320,218289,187.0,NaN,NaN
-4319,218289,178.0,NaN,NaN
-3883,218287,138.0,NaN,NaN
-3659,218287,134.0,NaN,NaN
-3632,218287,147.0,NaN,NaN

The `lab` table provides Laboratory tests that have have been mapped to a standard set of measurements. 
Unmapped measurements are recorded in the customLab table.
See: http://eicu-crd.mit.edu/eicutables/lab/

In [19]:
lab = pd.read_csv('../eICU' + database_type + '/lab.csv', nrows=999999)
columns = ['labresultoffset', 'patientunitstayid','labtypeid','labname', 'labresult', 'labmeasurenamesystem', 'labmeasurenameinterface']
lab = lab[columns].set_index('labresultoffset')
lab = lab.sort_values(by='labresultoffset')
lab.head()

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
0,52307161,141168,2026,3,fibrinogen,177.0,177,mg/dL,mg/dL,2219
1,50363251,141168,1133,3,PT - INR,2.5,2.5,ratio,NaN,1208
2,49149139,141168,2026,1,magnesium,2.0,2.0,mg/dL,mg/dL,2090
3,50363250,141168,1133,3,PT,26.6,26.6,sec,sec,1208
4,66695374,141168,2141,7,pH,7.2,7.20,NaN,Units,2155

In [ ]:
# Pull out dataframe for labresults 'WBC x 1000', 'lactate', 'creatinine'

In [18]:
# converts all occurances of urinary creatinine in labname col to creatinine
# alternativy check labtypeid creatinine = 1,  urinary creatinine = 4

lab.loc[lab['labname'].str.contains("urinary creatinine"), 'labname'] = "creatinine"
lab.loc[(lab['labname'].str.contains("creatinine"))]

,patientunitstayid,labtypeid,labname,labresult,labmeasurenamesystem,labmeasurenameinterface
labresultoffset,,,,,,
1701,141168,4,creatinine,173.12,mg/dL,mg/dL
2026,141168,1,creatinine,2.95,mg/dL,mg/dL
1133,141168,1,creatinine,2.30,mg/dL,mg/dL
516,141168,1,creatinine,1.95,mg/dL,mg/dL
-280,141178,1,creatinine,0.70,mg/dL,mg/dL
...,...,...,...,...,...,...
10778,180812,1,creatinine,1.32,mg/dL,mg/dL
4837,180812,1,creatinine,1.25,mg/dL,mg/dL
13693,180812,1,creatinine,1.33,mg/dL,mg/dL
14858,180812,1,creatinine,1.30,mg/dL,mg/dL
11983,180812,1,creatinine,1.33,mg/dL,mg/dL

In [14]:
# showing all results for parient with id 154910

lab['patientunitstayid'] = lab['patientunitstayid'].astype(str)
lab.loc[(lab['patientunitstayid'].str.contains("154910"))]

In [4]:
intakeOutput = pd.read_csv('../eICU' + database_type + '/intakeOutput.csv', nrows=999999)
columns = ['patientunitstayid', 'intakeoutputoffset', 'intaketotal', 'outputtotal', 'celllabel']
intakeOutput = intakeOutput[columns].set_index('intakeoutputoffset')
intakeOutput.sort_values(by='intakeoutputoffset')
intakeOutput.head()

,patientunitstayid,intaketotal,outputtotal,celllabel
intakeoutputoffset,,,,
661,205505,0.0,0.0,Bodyweight (lb)
661,205505,0.0,0.0,Bodyweight (kg)
3523,150708,727.0,0.0,P.O.
3523,150708,727.0,0.0,Volume (mL)-sodium chloride 0.9 % flush IVPB 5...
24801,158159,120.0,0.0,P.O.

In [7]:
intakeOutputUrine = intakeOutput.loc[(intakeOutput['celllabel'].str.contains("Urine"))]
intakeOutputUrine["patientunitstayid"] = intakeOutputUrine["patientunitstayid"].astype(str) 
patientIntakeOutputUrine = intakeOutputUrine.loc[(intakeOutputUrine['patientunitstayid'].str.contains("178962"))]
patientIntakeOutputUrine.sort_values(by='intakeoutputoffset')

C:\tools\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                   patientunitstayid  intaketotal  outputtotal celllabel
intakeoutputoffset
-4627                         178962        300.0        300.0     Urine
-4417                         178962        240.0        400.0     Urine
-4237                         178962          0.0        300.0     Urine
-4147                         178962          0.0        225.0     Urine
-4044                         178962          0.0        125.0     Urine
-3854                         178962          0.0        375.0     Urine
-3205                         178962        300.0        200.0     Urine
-3037                         178962          0.0        250.0     Urine
-2437                         178962          0.0        400.0     Urine
-1963                         178962          0.0        400.0     Urine
-1677                         178962        300.0        625.0     Urine
-1507                         178962        240.0        400.0     Urine
-1357                         178962          0.0        300.0     Urine
-1202                         178962          0.0        250.0     Urine
-958                          178962          0.0        425.0     Urine
-877                          178962          0.0        500.0     Urine
-480                          178962          0.0        300.0     Urine
-243                          178962          0.0        475.0     Urine
 263                          178962          0.0        150.0     Urine
 503                          178962        360.0        200.0     Urine
 983                          178962         79.0        200.0     Urine
 1193                         178962          0.0        400.0     Urine
 1403                         178962        100.0        150.0     Urine
 1509                         178962          0.0        125.0     Urine
 1598                         178962          0.0        150.0     Urine
 1737                         178962          0.0        150.0     Urine
 1776                         178962          0.0        150.0     Urine
 1823                         178962          0.0        100.0     Urine
 1943                         178962        260.0        300.0     Urine
 2063                         178962          0.0        175.0     Urine
 2303                         178962          0.0        200.0     Urine
 2543                         178962          0.0        220.0     Urine
 2632                         178962          0.0        375.0     Urine
 2663                         178962          0.0        120.0     Urine
 2843                         178962        310.0        120.0     Urine
 2963                         178962          0.0        200.0     Urine
 3143                         178962          0.0        200.0     Urine
 3213                         178962          0.0        325.0     Urine
 3263                         178962          0.0        200.0     Urine
 3383                         178962        100.0        400.0     Urine
 3743                         178962          0.0        175.0     Urine
 3863                         178962         50.0        180.0     Urine
 3983                         178962          0.0        150.0     Urine
 4823                         178962          0.0        200.0     Urine
 4883                         178962          0.0        180.0     Urine
 5303                         178962          0.0        125.0     Urine
 5412                         178962          0.0        100.0     Urine
 5723                         178962        200.0        100.0     Urine
 6338                         178962          0.0        100.0     Urine
 6984                         178962          0.0        100.0     Urine
 7223                         178962          0.0        100.0     Urine
 7608                         178962        200.0        200.0     Urine
 7703                         178962          0.0         75.0     Urine
 7736                         178962        200.0         50.0     Urine
 7925                         178962          0.0        150.0     Urine
 8260                         178962          0.0        200.0     Urine