In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../eICU/training/finalData2.csv')

In [3]:
df

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,-1893.0,38.037793,112.0,49.0,158.000000,1.40,48.20,4.300000,2.433090,0
1,141227,-1773.0,38.037793,112.0,49.0,158.000000,1.40,48.20,4.300000,2.433090,0
2,141227,-1663.0,38.037793,112.0,49.0,158.000000,1.40,48.20,4.300000,2.433090,0
3,141227,-1566.0,38.037793,112.0,49.0,158.000000,1.40,48.20,4.300000,2.433090,0
4,141227,-1351.0,38.037793,112.0,49.0,158.000000,1.40,47.95,4.300000,2.433090,0
...,...,...,...,...,...,...,...,...,...,...,...
6042126,3353254,5326.0,38.037793,82.0,12.0,118.600279,1.65,11.32,2.652916,4.767580,0
6042127,3353254,5491.0,38.037793,82.0,12.0,118.600279,1.66,11.51,2.652916,2.383790,0
6042128,3353254,5558.0,38.037793,82.0,12.0,118.600279,1.67,11.70,2.652916,4.767580,0
6042129,3353254,5926.0,38.037793,82.0,12.0,118.600279,1.67,11.70,2.652916,7.151371,0
6042130,3353254,6106.0,38.037793,82.0,12.0,118.600279,1.67,11.70,2.652916,7.163290,0

In [4]:
df.diagnosis.value_counts()

0    6025670
1      16461
Name: diagnosis, dtype: int64

In [5]:
len(df.patientunitstayid.unique())

18271

In [6]:
p1 = df.loc[df['diagnosis'] == 1]

In [7]:
ids = p1.patientunitstayid.unique()

In [8]:
df2 = df[df.patientunitstayid.isin([key for key in ids])]

In [9]:
len(df2.patientunitstayid.unique())

8256

In [10]:
df2.diagnosis.value_counts()

0    2787591
1      16461
Name: diagnosis, dtype: int64

In [160]:
p0 = df2.loc[df2['diagnosis'] == 0]

In [161]:
t0 = p0.set_index('patientunitstayid')

In [162]:
t1 = t0.groupby(level=0, group_keys=False, sort=False).apply(pd.DataFrame.tail, n=-100)

In [163]:
t1.diagnosis.value_counts()

0    1982206
Name: diagnosis, dtype: int64

In [164]:
len(t1.index.unique())

7725

In [165]:
t2 = t1.groupby('patientunitstayid').filter(lambda x: len(x) > 299)

In [166]:
len(t2.index.unique())

3126

In [167]:
t3 = t2.groupby(level=0, group_keys=False, sort=False).apply(pd.DataFrame.tail, n=-200)

In [168]:
t3.diagnosis.value_counts()

0    627844
Name: diagnosis, dtype: int64

In [169]:
len(t3.index.unique())

3126

In [170]:
t4 = t1.groupby('patientunitstayid').filter(lambda x: len(x) <= 299)

In [171]:
len(t4.index.unique())+len(t3.index.unique())

7725

#### Merged

In [172]:
f = t3.append(t4)

In [173]:
len(f.index.unique())

7725

In [174]:
ones = df2.loc[df2['diagnosis'] == 1]

In [180]:
f = f.reset_index()

In [182]:
final = f.append(ones)

In [185]:
len(final.patientunitstayid.unique())

8256

In [186]:
final.diagnosis.value_counts()

0    1357006
1      16461
Name: diagnosis, dtype: int64

In [187]:
path = "../eICU/training/"
final.to_csv(path + "small_final.csv", sep=',', index=False, encoding='utf-8')