In [1]:
import pandas as pd
import numpy as np

In [2]:
database_type = "/full"

The `lab` table provides Laboratory tests that have have been mapped to a standard set of measurements. 
Unmapped measurements are recorded in the customLab table.
See: http://eicu-crd.mit.edu/eicutables/lab/

#### Reading in lab dataset and keeping relevant columns to our study.

In [3]:
columns = ['patientunitstayid', 'labresultoffset', 'labname', 'labresult']
lab = pd.read_csv('../../eICU' + database_type + '/lab.csv', usecols=columns)
lab

          patientunitstayid  labresultoffset             labname  labresult
0                    141168             2026          fibrinogen     177.00
1                    141168             1133            PT - INR       2.50
2                    141168             2026           magnesium       2.00
3                    141168             1133                  PT      26.60
4                    141168             2141                  pH       7.20
5                    141168              231            PT - INR       1.70
6                    141168             1701  urinary creatinine     173.12
7                    141168             2026                 MCH      29.20
8                    141168              516                 BUN      26.00
9                    141168             1701      urinary sodium      12.00
10                   141168             2141                HCO3      14.00
11                   141168              231                  PT      17.10
12                   141168             2026             lactate      12.20
13                   141168             2026                 BUN      29.00
14                   141168             2026                 CPK     216.00
15                   141168              231                 PTT      29.00
16                   141168             2141                FiO2        NaN
17                   141168              516             -lymphs      19.00
18                   141168             2026        Base Deficit      17.00
19                   141168             2026                 BNP     623.00
20                   141168             1133            chloride     101.00
21                   141168             1136           uric acid       8.10
22                   141168             2141        Base Deficit      13.00
23                   141168             2026        troponin - I       0.26
24                   141168             2026                paO2      68.00
25                   141168             2026                -eos       0.00
26                   141168             1805                HCO3      15.00
27                   141168             2026                HCO3      11.00
28                   141168             2141                paO2     121.00
29                   141168             1133    platelets x 1000     213.00
...                     ...              ...                 ...        ...
39132501            3353263               -7              CPK-MB       1.10
39132502            3353263             2650                 PTT      53.00
39132503            3353263               -7                 MPV       7.20
39132504            3353263               -7                 CPK     133.00
39132505            3353263             1733                 PTT      50.00
39132506            3353263               -7        CPK-MB INDEX       0.80
39132507            3353263               -7    platelets x 1000     161.00
39132508            3353263             6919                 PTT      51.00
39132509            3353263             7490          WBC x 1000       4.50
39132510            3353263             1109                 PTT      60.00
39132511            3353263               -7                 MCH      27.00
39132512            3353263             6446                 PTT      87.00
39132513            3353263             1733                 MPV       7.20
39132514            3353263               -7                 Hgb      14.90
39132515            3353263             7490                 MPV       7.00
39132516            3353263               -7    platelets x 1000     164.00
39132517            3353263             1733                 MCV      82.00
39132518            3353263               -7                MCHC      33.00
39132519            3353263             1733    platelets x 1000     169.00
39132520            3353263              -37                 PTT      25.00
39132521            3353263             1733                MCHC      34.00
39132522            3353263               -7                 MCH      27.00
39132523            3353263             1733                 Hct      38.00
39132524            3353263               -7                 RDW      13.30
39132525            3353263             1733                 Hgb      12.90
39132526            3353263               -7          WBC x 1000       6.40
39132527            3353263             1733                 RBC       4.67
39132528            3353263               -7              -monos      10.00
39132529            3353263             1733          WBC x 1000       6.60
39132530            3353263             1733                 MCH      28.00

[39132531 rows x 4 columns]

#### Keeping lab results relevant to diagnosing sepsis

In [4]:
# converting labname 'urinary creatinine to 'creatinine'
lab.loc[lab['labname'].str.contains("urinary creatinine"), 'labname'] = "creatinine"

# Only keeping rows where labname is 'WBC x 1000', 'lactate', 'creatinine'
lab_name = ['WBC x 1000', 'lactate', 'creatinine']
lab = lab[lab.labname.isin(lab_name)]

#### Transposing Lab Names and their results into columns.

In [5]:
# duplicating labs to transpose labresult and labname
labc = lab.copy()
labw = lab.copy()
labl = lab.copy()

labc = labc.loc[(labc['labname'].str.contains("creatinine"))]
labw = labw.loc[(labw['labname'].str.contains("WBC x 1000"))]
labl = labl.loc[(labl['labname'].str.contains("lactate"))]

# Transpose labresults and lab name to cols
labc['creatinine'] = labc.apply(lambda x: x['labresult'] if x['labname'] == 'creatinine' else -1, axis=1)
labw['wbcx1000'] = labw.apply(lambda x: x['labresult'] if x['labname'] == 'WBC x 1000' else -1, axis=1)
labl['lactate'] = labl.apply(lambda x: x['labresult'] if x['labname'] == 'lactate' else -1, axis=1)

labc = labc.drop(['labname', 'labresult'], axis = 1)
labw = labw.drop(['labname', 'labresult'], axis = 1)
labl = labl.drop(['labname', 'labresult'], axis = 1)

#### Merging Lab Dataframes into Final Lab Dataset

In [6]:
# merge lab results dataframes
finallab = labc.merge(labw, how = 'left', on = ['patientunitstayid', 'labresultoffset'])
finallab = finallab.merge(labl, how = 'left', on = ['patientunitstayid', 'labresultoffset'])
finallab = finallab.drop_duplicates()
finallab

         patientunitstayid  labresultoffset  creatinine  wbcx1000  lactate
0                   141168             1701      173.12       NaN      NaN
1                   141168             2026        2.95      19.8     12.2
2                   141168             1133        2.30      14.7      NaN
3                   141168              516        1.95       9.8      NaN
4                   141178             -280        0.70       7.6      NaN
5                   141179               82        0.70       NaN      NaN
6                   141179             1487        0.70       8.1      NaN
7                   141179              750        0.70       NaN      NaN
8                   141194            11658        1.75       8.9      NaN
9                   141194            10397        1.74       8.7      NaN
10                  141194             8762        1.77       6.9      NaN
11                  141194             2876        2.15       NaN      NaN
12                  141194             1630        2.26      10.9      NaN
13                  141194              762        2.28       NaN      NaN
14                  141194              312        2.51      14.1      1.3
15                  141194             2223        2.17       NaN      NaN
16                  141194             1237        2.23       NaN      NaN
17                  141194             5897        1.82       4.3      NaN
18                  141194             7303        1.84       4.6      NaN
19                  141194             4663        1.97       4.4      NaN
20                  141194             -923        2.94      11.8      NaN
21                  141194             2998        2.09       4.6      NaN
22                  141196             4987        0.83      12.7      NaN
23                  141196             3600        0.89      14.2      NaN
24                  141196              628        0.80      26.2      NaN
25                  141197             -179        0.93      29.5      NaN
26                  141203                1        0.56      12.7      3.5
27                  141203             1091        0.71      23.3      NaN
28                  141203             -473        0.39       8.5      NaN
29                  141203            -1580        0.33      10.2      NaN
...                    ...              ...         ...       ...      ...
1292211            3353237             7743        0.60       5.7      NaN
1292212            3353237             6255        0.73       NaN      NaN
1292213            3353237             3342        0.93       7.3      NaN
1292214            3353251            11058        3.98      17.6      NaN
1292215            3353251            13970        4.02       NaN      NaN
1292216            3353251            18327        2.28      18.3      NaN
1292217            3353251             8246        3.29      13.6      NaN
1292218            3353251            16867        2.78       NaN      NaN
1292219            3353251            12458        3.94      18.6      NaN
1292220            3353251             9644        3.79      15.4      NaN
1292221            3353251              765        2.65      25.9      NaN
1292222            3353251            15598        3.23       NaN      NaN
1292223            3353251             1490        2.40      20.8      NaN
1292224            3353251              995        2.60      21.5      NaN
1292225            3353251             3863        3.40      14.4      NaN
1292226            3353251             2541        3.08      26.1      NaN
1292227            3353251             1127        2.41      20.4      NaN
1292228            3353251             -217        1.81       NaN      NaN
1292229            3353251             5459        3.29      11.9      NaN
1292230            3353251             6868        3.35      13.0      NaN
1292231            3353251             1849        2.46      25.9      NaN
1292232            3353251              409        2.43       NaN      NaN
1292233            3353254             2610        1.92       9.8      NaN
1292234            3353254             1844        2.22       NaN      NaN
1292235            3353254             1218        2.21      15.3      NaN
1292236            3353254             5558        1.67      11.7      NaN
1292237            3353254             4144        1.61       NaN      NaN
1292238            3353254             -256        2.38      13.5      NaN
1292239            3353263               -7        1.06       6.5      NaN
1292240            3353263               -7        1.06       6.4      NaN

[1289008 rows x 5 columns]

#### Saving the Cleaned Patient DataFrame to a `csv` file

In [7]:
path = "../../eICU/training/"
finallab.to_csv(path + "lab.csv", sep=',', index=False, encoding='utf-8')