In [1]:
import pandas as pd
import numpy as np

In [2]:
database_type = "/full"

The `vitalperiodic` table comprises data that is consistently interfaced from bedside vital signs monitors into eCareManager. 
Data are generally interfaced as 1 minute averages, and archived into the `vitalperiodic` table as 5 minute median values. 
For more detail, see: http://eicu-crd.mit.edu/eicutables/vitalPeriodic/

#### Reading in vitalPeriodic dataset's relevant columns to our study.

In [3]:
columns = ['patientunitstayid', 'observationoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic']
vitalperiodic = pd.read_csv('../../eICU' + database_type + '/vitalPeriodic.csv', usecols=columns)
vitalperiodic = vitalperiodic.drop_duplicates()
vitalperiodic

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
0,141168,2059,NaN,92.0,NaN,NaN
1,141168,1289,NaN,118.0,NaN,NaN
2,141168,1794,NaN,78.0,NaN,NaN
3,141168,1374,NaN,118.0,NaN,NaN
4,141168,2039,NaN,92.0,NaN,NaN
5,141168,1569,NaN,80.0,NaN,NaN
6,141168,2119,NaN,104.0,NaN,NaN
7,141168,419,NaN,132.0,NaN,NaN
8,141168,754,NaN,128.0,NaN,NaN
9,141168,1594,NaN,80.0,NaN,NaN
10,141168,1389,NaN,78.0,NaN,NaN
11,141168,294,NaN,132.0,NaN,NaN
12,141168,644,NaN,130.0,NaN,NaN
13,141168,1249,NaN,120.0,NaN,NaN
14,141168,1749,NaN,78.0,NaN,NaN
15,141168,119,NaN,140.0,NaN,NaN
16,141168,1974,NaN,72.0,NaN,NaN
17,141168,1084,NaN,120.0,NaN,NaN
18,141168,689,NaN,130.0,NaN,NaN
19,141168,1809,NaN,78.0,NaN,NaN
20,141168,2254,NaN,100.0,NaN,100.0
21,141168,1649,NaN,76.0,NaN,NaN
22,141168,1439,NaN,80.0,NaN,NaN
23,141168,299,NaN,132.0,NaN,NaN
24,141168,679,NaN,130.0,NaN,NaN
25,141168,1204,NaN,120.0,NaN,NaN
26,141168,1789,NaN,78.0,NaN,NaN
27,141168,1549,NaN,80.0,NaN,NaN
28,141168,1984,NaN,74.0,NaN,NaN
29,141168,944,NaN,124.0,NaN,NaN
...,...,...,...,...,...,...
146671612,3353263,144,NaN,79.0,13.0,NaN
146671613,3353263,74,NaN,95.0,29.0,NaN
146671614,3353263,174,NaN,79.0,12.0,NaN
146671615,3353263,109,NaN,81.0,14.0,NaN
146671616,3353263,149,NaN,79.0,12.0,NaN
146671617,3353263,44,NaN,93.0,36.0,NaN
146671618,3353263,524,NaN,79.0,24.0,NaN
146671619,3353263,514,NaN,91.0,34.0,NaN
146671620,3353263,499,NaN,81.0,24.0,NaN
146671621,3353263,509,NaN,90.0,42.0,NaN
146671622,3353263,594,NaN,77.0,19.0,NaN
146671623,3353263,529,NaN,80.0,19.0,NaN
146671624,3353263,519,NaN,84.0,36.0,NaN
146671625,3353263,579,NaN,86.0,25.0,NaN
146671626,3353263,539,NaN,82.0,30.0,NaN
146671627,3353263,489,NaN,82.0,30.0,NaN
146671628,3353263,584,NaN,82.0,20.0,NaN
146671629,3353263,554,NaN,69.0,17.0,NaN
146671630,3353263,589,NaN,78.0,14.0,NaN
146671631,3353263,574,NaN,83.0,22.0,NaN
146671632,3353263,484,NaN,86.0,45.0,NaN
146671633,3353263,494,NaN,81.0,29.0,NaN
146671634,3353263,569,NaN,80.0,25.0,NaN
146671635,3353263,564,NaN,78.0,18.0,NaN
146671636,3353263,559,NaN,74.0,16.0,NaN
146671637,3353263,504,NaN,87.0,36.0,NaN
146671638,3353263,534,NaN,81.0,21.0,NaN
146671639,3353263,549,NaN,78.0,14.0,NaN
146671640,3353263,544,NaN,85.0,25.0,NaN
146671641,3353263,599,NaN,75.0,13.0,NaN

#### Saving the Cleaned vitalPeriodic DataFrame to a `csv` file

In [4]:
path = "../../eICU/training/"
vitalperiodic.to_csv(path + "vitalPeriodic.csv", sep=',', index=False, encoding='utf-8')