In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [3]:
database_type = "/demo"

The `vitalperiodic` table comprises data that is consistently interfaced from bedside vital signs monitors into eCareManager. 
Data are generally interfaced as 1 minute averages, and archived into the `vitalperiodic` table as 5 minute median values. 
For more detail, see: http://eicu-crd.mit.edu/eicutables/vitalPeriodic/

#### Reading in vitalPeriodic dataset's relevant columns to our study.

In [4]:
columns = ['patientunitstayid', 'observationoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic']
vitalperiodic = pd.read_csv('../../eICU' + database_type + '/vitalPeriodic.csv', usecols=columns)
vitalperiodic = vitalperiodic.drop_duplicates()
vitalperiodic

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
0,141765,1179,NaN,82.0,NaN,NaN
1,141765,189,NaN,76.0,30.0,NaN
2,141765,1169,NaN,84.0,NaN,NaN
3,141765,1534,NaN,92.0,NaN,NaN
4,141765,1164,NaN,86.0,NaN,NaN
...,...,...,...,...,...,...
1634955,3353113,1846,NaN,67.0,19.0,NaN
1634956,3353113,1146,NaN,65.0,18.0,NaN
1634957,3353113,366,NaN,48.0,16.0,NaN
1634958,3353113,1841,NaN,67.0,18.0,NaN
1634959,3353113,1876,NaN,57.0,18.0,NaN

#### Saving the Cleaned vitalPeriodic DataFrame to a `csv` file

In [5]:
path = "../../eICU/training/"
vitalperiodic.to_csv(path + "vitalPeriodic.csv", sep=',', index=False, encoding='utf-8')