In [1]:
import pandas as pd

In [2]:
path = "../../eICU/training/"

#### Updating all CSVs based on current patientId list

In [3]:
patientIds = pd.read_csv(path + '/patientIds.csv')
patientIds = patientIds['patientunitstayid'].tolist()
patientIds

[150708,
 178592,
 153118,
 216156,
 214103,
 232385,
 188603,
 209311,
 226225,
 229128,
 183753,
 201456,
 241200,
 168095,
 187412,
 207927,
 213586,
 143638,
 158074,
 177170,
 214017,
 189107,
 177611,
 181491,
 231942,
 204579,
 161254,
 203802,
 199499,
 218426,
 232626,
 201553,
 166087,
 230637,
 198697,
 153418,
 210342,
 206514,
 224705,
 146021,
 225802,
 160594,
 164956,
 145272,
 153898,
 220506,
 193274,
 216458,
 197385,
 237899,
 204565,
 196263,
 218078,
 191570,
 176899,
 182451,
 148036,
 176195,
 174617,
 229268,
 196064,
 145568,
 165770,
 219737,
 225066,
 162105,
 186042,
 198378,
 218582,
 202195,
 217349,
 218983,
 202196,
 187280,
 149541,
 161610,
 179106,
 185826,
 165072,
 160592,
 241493,
 211709,
 169914,
 203656,
 216567,
 236103,
 224297,
 232442,
 223556,
 239910,
 192290,
 178776,
 143578,
 201216,
 148529,
 160109,
 172182,
 202617,
 160240,
 209763,
 227333,
 148162,
 155503,
 189335,
 211939,
 156331,
 194203,
 205112,
 225276,
 154872,
 232527,
 194891,
 179754,
 165548,
 165469,
 201907,
 224627,
 183752,
 207753,
 216363,
 214293,
 221552,
 143736,
 214734,
 150909,
 157644,
 234804,
 216931,
 174711,
 213124,
 216471,
 145054,
 202780,
 221392,
 211262,
 201467,
 234665,
 202047,
 148182,
 182413,
 148954,
 188224,
 182988,
 207434,
 162236,
 145917,
 160279,
 227390,
 159489,
 210398,
 241257,
 161127,
 195473,
 227471,
 189804,
 234537,
 146396,
 157891,
 211829,
 154976,
 148826,
 220756,
 229562,
 151082,
 236213,
 207151,
 143173,
 149229,
 152661,
 194034,
 182046,
 241402,
 155278,
 164048,
 219126,
 190485,
 216575,
 201435,
 231356,
 234669,
 171080,
 193850,
 206867,
 187743,
 231052,
 204436,
 206655,
 238888,
 209698,
 183431,
 158936,
 162584,
 178896,
 165924,
 163084,
 154420,
 206759,
 143689,
 146349,
 200982,
 165083,
 162841,
 157326,
 178469,
 192395,
 153522,
 221190,
 154278,
 166286,
 188041,
 171791,
 241062,
 175382,
 193715,
 230501,
 155170,
 147633,
 215883,
 141631,
 199529,
 145491,
 224432,
 237559,
 151801,
 161751,
 237395,
 172393,
 210768,
 141945,
 197830,
 161900,
 216950,
 147615,
 141462,
 174028,
 221553,
 235078,
 233253,
 233419,
 171721,
 226609,
 227944,
 196018,
 179773,
 177633,
 198229,
 168488,
 218234,
 232384,
 234847,
 191076,
 234628,
 149856,
 224782,
 156843,
 196358,
 224492,
 189334,
 189727,
 184933,
 223446,
 167729,
 232436,
 226012,
 171640,
 152412,
 146899,
 165112,
 174636,
 212554,
 241220,
 209154,
 208908,
 167896,
 199593,
 214547,
 201238,
 204283,
 143469,
 164916,
 174737,
 203350,
 205019,
 219288,
 188234,
 215884,
 203034,
 218335,
 199560,
 158478,
 226835,
 178001,
 234161,
 205490,
 231854,
 203912,
 225534,
 192736,
 162470,
 189643,
 208303,
 177220,
 221382,
 217073,
 171824,
 213563,
 199144,
 224223,
 155324,
 210208,
 238310,
 148020,
 202995,
 161527,
 184003,
 212141,
 200922,
 212629,
 152938,
 144182,
 210183,
 219019,
 152660,
 152398,
 182726,
 224714,
 191246,
 178954,
 223760,
 214419,
 204411,
 228245,
 233625,
 146233,
 205778,
 190471,
 177242,
 186574,
 187811,
 157342,
 197356,
 196237,
 163580,
 210671,
 215269,
 235894,
 225281,
 185671,
 151859,
 227291,
 154517,
 219287,
 214763,
 211871,
 163512,
 155504,
 151880,
 163501,
 173093,
 169298,
 154314,
 165769,
 146620,
 180105,
 201194,
 143399,
 232214,
 189026,
 227671,
 208475,
 191668,
 214587,
 210312,
 209674,
 205393,
 210379,
 166254,
 211611,
 179718,
 221880,
 228098,
 156988,
 241509,
 177839,
 171506,
 230245,
 236633,
 204148,
 240098,
 175288,
 197447,
 149913,
 183139,
 146533,
 174352,
 213369,
 193998,
 241691,
 204322,
 183740,
 143344,
 233701,
 200824,
 211505,
 211946,
 183059,
 192859,
 181356,
 155903,
 169395,
 175522,
 176493,
 237269,
 198585,
 210543,
 209681,
 189162,
 172591,
 237599,
 151331,
 186962,
 165762,
 209738,
 147460,
 143994,
 141816,
 156532,
 227269,
 201554,
 197601,
 177708,
 213394,
 150092,
 156161,
 150004,
 159154,
 170102,
 184230,
 188579,
 146912,
 147540,
 180664,
 177838,
 206386,
 195390,
 180656,
 195551,
 206055,
 170083,
 217180,
 175251,
 220529,
 222178,
 149422,
 167902,
 148108,
 192410,
 223264,
 238451,
 201461,
 211441,
 239057,
 208198,
 217771,
 184553,
 186761,
 181334,
 220663,
 186747,
 141362,
 173624,
 171473,
 240654,
 230696,
 193664,
 236212,
 194347,
 169297,
 188601,
 224059,
 191470,
 188628,
 165093,
 146535,
 213886,
 141920,
 206664,
 217939,
 160094,
 186706,
 160119,
 143466,
 202406,
 180351,
 221532,
 187894,
 205375,
 143415,
 210028,
 160439,
 240385,
 228886,
 170340,
 234501,
 194893,
 238103,
 149049,
 192428,
 241173,
 233241,
 186736,
 190850,
 215519,
 220145,
 180317,
 157638,
 150626,
 227604,
 203906,
 168303,
 236713,
 186303,
 179206,
 161941,
 199470,
 209916,
 186040,
 204938,
 145831,
 202332,
 214160,
 226349,
 172477,
 193901,
 177397,
 237401,
 163191,
 150093,
 191513,
 159036,
 142388,
 186793,
 216601,
 189286,
 186896,
 228904,
 207832,
 161686,
 152195,
 146512,
 150577,
 217325,
 187137,
 216666,
 241683,
 240594,
 144722,
 147902,
 199323,
 235921,
 223402,
 223511,
 153035,
 233881,
 228047,
 222335,
 143433,
 226389,
 227698,
 145997,
 206776,
 227175,
 156191,
 150959,
 212937,
 225402,
 223754,
 178227,
 223225,
 221694,
 180166,
 200292,
 239657,
 216423,
 218847,
 155740,
 233309,
 213361,
 177308,
 183056,
 174487,
 218351,
 193000,
 213533,
 187895,
 206511,
 217431,
 203276,
 161544,
 211548,
 239587,
 183739,
 167214,
 160095,
 219872,
 152518,
 230419,
 225206,
 195263,
 170073,
 221193,
 212171,
 151570,
 197483,
 205034,
 156993,
 171680,
 194735,
 197074,
 235513,
 143642,
 158477,
 207947,
 180555,
 159537,
 223281,
 162054,
 153617,
 163737,
 209400,
 221715,
 156641,
 234252,
 168287,
 165654,
 233252,
 229657,
 170696,
 237318,
 166760,
 233165,
 151524,
 182928,
 163527,
 172613,
 175777,
 142636,
 198153,
 239586,
 148861,
 217161,
 149522,
 152868,
 184993,
 164783,
 165335,
 188927,
 172003,
 195032,
 218673,
 197222,
 173317,
 154134,
 161540,
 145406,
 172497,
 198012,
 172764,
 220758,
 224738,
 222184,
 175446,
 163473,
 219946,
 144109,
 190572,
 236727,
 197406,
 191112,
 237199,
 199469,
 227213,
 187782,
 174616,
 187786,
 188353,
 185723,
 159569,
 227493,
 187150,
 164132,
 213866,
 223765,
 203507,
 197116,
 181437,
 236017,
 187566,
 148241,
 148528,
 231267,
 202001,
 149253,
 171014,
 184263,
 235037,
 163059,
 233365,
 191067,
 180253,
 184088,
 230695,
 175938,
 189632,
 204715,
 152351,
 227249,
 159292,
 232884,
 144954,
 155636,
 212995,
 239746,
 208049,
 232915,
 233700,
 172488,
 197784,
 208466,
 225314,
 149323,
 192947,
 167200,
 227115,
 157897,
 156080,
 164628,
 168855,
 159971,
 222249,
 233262,
 229711,
 160595,
 152589,
 155999,
 221280,
 220008,
 154900,
 157895,
 204777,
 216114,
 239313,
 164889,
 203706,
 226109,
 232426,
 212989,
 151023,
 207653,
 195732,
 235202,
 209874,
 165265,
 192042,
 166389,
 201745,
 226723,
 212020,
 221174,
 141454,
 215648,
 196017,
 211533,
 198196,
 234190,
 171928,
 178652,
 186772,
 209991,
 173622,
 166428,
 168236,
 155317,
 185561,
 165085,
 166177,
 174736,
 217250,
 170566,
 181855,
 165800,
 192319,
 238482,
 171906,
 150771,
 239702,
 218873,
 170833,
 187826,
 202855,
 196190,
 146788,
 219188,
 218853,
 189770,
 154132,
 147339,
 191301,
 182467,
 175815,
 200458,
 179151,
 145830,
 150260,
 149298,
 155548,
 173575,
 223131,
 197982,
 191545,
 214312,
 198416,
 193225,
 206819,
 177881,
 157528,
 171987,
 191978,
 195725,
 227456,
 241865,
 202048,
 226577,
 207085,
 202663,
 183270,
 216818,
 229986,
 217272,
 233773,
 151339,
 154091,
 240814,
 148678,
 227232,
 236781,
 215978,
 222024,
 189466,
 185530,
 203514,
 224162,
 232285,
 206533,
 197624,
 234465,
 219111,
 181934,
 215335,
 181766,
 165008,
 217016,
 174071,
 163396,
 156154,
 193052,
 172002,
 182060,
 234800,
 165828,
 199240,
 183869,
 213920,
 227582,
 197538,
 215233,
 199115,
 197425,
 161584,
 206837,
 193665,
 202615,
 143993,
 193302,
 240065,
 222042,
 173196,
 180068,
 194773,
 209114,
 148105,
 198990,
 201617,
 145554,
 196222,
 168541,
 224806,
 181315,
 169047,
 217236,
 149690,
 157084,
 169530,
 160084,
 234302,
 211794,
 181292,
 201041,
 177799,
 238762,
 164140,
 231498,
 187371,
 149781,
 195657,
 231249,
 227942,
 232314,
 225685,
 172736,
 222276,
 177258,
 159009,
 228065,
 212649,
 145199,
 232176,
 185065,
 199525,
 186527,
 154748,
 141392,
 183759,
 191998,
 208329,
 190269,
 196797,
 225533,
 232818,
 231250,
 196383,
 221801,
 182929,
 204979,
 161982,
 217267,
 164648,
 152452,
 241775,
 227279,
 185069,
 229080,
 229524,
 211843,
 144906,
 189178,
 192043,
 230145,
 184329,
 194973,
 212002,
 143389,
 240322,
 238624,
 226286,
 169928,
 184773,
 153393,
 188530,
 189842,
 156006,
 211550,
 188935,
 170932,
 223512,
 165486,
 178412,
 220261,
 158628,
 222615,
 148491,
 167903,
 215734,
 240455,
 204602,
 157582,
 216011,
 222723,
 240465,
 174012,
 204929,
 188325,
 172236,
 186775,
 149988,
 183930,
 191454,
 212083,
 152671,
 177509,
 ...]

## Diagnosis
#### Original CSV

In [4]:
df = pd.read_csv(path + '/diagnosis.csv')
df

        patientunitstayid  diagnosisoffset  diagnosis
0                  141168               72          0
1                  141168              118          0
2                  141203             1141          0
3                  141203               74          0
4                  141227               18          1
5                  141229               15          0
6                  141229                9          0
7                  141266               96          0
8                  141284             1180          0
9                  141284               42          0
10                 141288              899          0
11                 141288               19          0
12                 141288              575          0
13                 141288              575          1
14                 141288              415          0
15                 141288               19          1
16                 141288              415          1
17                 141288              899          1
18                 141289               13          0
19                 141289               13          1
20                 141296               34          0
21                 141297               25          0
22                 141297               25          1
23                 141304               23          0
24                 141304              260          0
25                 141304               23          1
26                 141304              260          1
27                 141313              157          0
28                 141314               28          0
29                 141314               91          0
...                   ...              ...        ...
580405            3353226             3885          0
580406            3353226             5484          0
580407            3353226             1904          0
580408            3353226             9779          0
580409            3353226            10522          0
580410            3353226             8942          0
580411            3353235               26          0
580412            3353237              162          0
580413            3353251              108          0
580414            3353251              291          0
580415            3353251             2653          1
580416            3353251              186          0
580417            3353251            12374          0
580418            3353251             3055          1
580419            3353251             1201          0
580420            3353251             3055          0
580421            3353251            12374          1
580422            3353251            11304          0
580423            3353251             5521          0
580424            3353251             6303          0
580425            3353251             4080          0
580426            3353251             9169          0
580427            3353251             2653          0
580428            3353251             9169          1
580429            3353251            11304          1
580430            3353251             6303          1
580431            3353251             5521          1
580432            3353251             4080          1
580433            3353254               41          0
580434            3353263              100          0

[580435 rows x 3 columns]

#### Filtered CSV

In [5]:
df = df.loc[df['patientunitstayid'].isin(patientIds)]
df = df.drop_duplicates()
df

        patientunitstayid  diagnosisoffset  diagnosis
4                  141227               18          1
10                 141288              899          0
11                 141288               19          0
12                 141288              575          0
13                 141288              575          1
14                 141288              415          0
15                 141288               19          1
16                 141288              415          1
17                 141288              899          1
18                 141289               13          0
19                 141289               13          1
21                 141297               25          0
22                 141297               25          1
23                 141304               23          0
24                 141304              260          0
25                 141304               23          1
26                 141304              260          1
28                 141314               28          0
29                 141314               91          0
30                 141314              125          0
31                 141314               63          0
36                 141362               44          0
37                 141392               38          0
38                 141392               38          1
40                 141432               48          0
41                 141432               48          1
45                 141454               12          0
46                 141462              171          0
47                 141462              171          1
48                 141470               13          1
...                   ...              ...        ...
580370            3353197            10988          0
580379            3353199               20          1
580380            3353199               20          0
580381            3353199             4947          1
580382            3353199              411          0
580383            3353199             4947          0
580384            3353199            10418          0
580385            3353199              411          1
580411            3353235               26          0
580413            3353251              108          0
580414            3353251              291          0
580415            3353251             2653          1
580416            3353251              186          0
580417            3353251            12374          0
580418            3353251             3055          1
580419            3353251             1201          0
580420            3353251             3055          0
580421            3353251            12374          1
580422            3353251            11304          0
580423            3353251             5521          0
580424            3353251             6303          0
580425            3353251             4080          0
580426            3353251             9169          0
580427            3353251             2653          0
580428            3353251             9169          1
580429            3353251            11304          1
580430            3353251             6303          1
580431            3353251             5521          1
580432            3353251             4080          1
580433            3353254               41          0

[234048 rows x 3 columns]

In [6]:
df.to_csv(path + "diagnosis.csv", sep=',', index=False, encoding='utf-8')

## Patient
#### Original CSV

In [7]:
df = pd.read_csv(path + '/patient.csv')
df

       patientunitstayid  admissionweight
0                 141227             82.2
1                 141288            166.5
2                 141289            166.5
3                 141297            194.7
4                 141304            194.7
5                 141314            200.9
6                 141362            194.7
7                 141392            166.5
8                 141432            131.5
9                 141454             82.2
10                141462            103.3
11                141470            176.4
12                141604             44.9
13                141631            116.6
14                141649             64.4
15                141751            166.5
16                141816            110.7
17                141893            194.7
18                141920             53.4
19                141944             74.2
20                141945             74.8
21                142195             64.4
22                142209            166.5
23                142388             96.6
24                142440            108.8
25                142478            194.7
26                142636             66.7
27                142814            106.6
28                142885             84.4
29                143056            194.7
...                  ...              ...
43895            3352481            110.5
43896            3352510             59.1
43897            3352533             73.3
43898            3352614             48.2
43899            3352633            183.6
43900            3352634            183.6
43901            3352637             53.8
43902            3352721             56.0
43903            3352727             61.4
43904            3352737             81.1
43905            3352827            100.1
43906            3352830            109.0
43907            3352940             55.3
43908            3352961             91.0
43909            3352986             52.0
43910            3353007             88.4
43911            3353031            148.7
43912            3353056             66.4
43913            3353070             88.4
43914            3353127             97.8
43915            3353140             68.8
43916            3353144             39.2
43917            3353145             42.2
43918            3353190            110.6
43919            3353196             71.5
43920            3353197             71.5
43921            3353199             71.5
43922            3353235             90.0
43923            3353251            102.0
43924            3353254             83.9

[43925 rows x 2 columns]

#### Filtered CSV

In [8]:
df = df.loc[df['patientunitstayid'].isin(patientIds)]
df = df.drop_duplicates()
df

       patientunitstayid  admissionweight
0                 141227             82.2
1                 141288            166.5
2                 141289            166.5
3                 141297            194.7
4                 141304            194.7
5                 141314            200.9
6                 141362            194.7
7                 141392            166.5
8                 141432            131.5
9                 141454             82.2
10                141462            103.3
11                141470            176.4
12                141604             44.9
13                141631            116.6
14                141649             64.4
15                141751            166.5
16                141816            110.7
17                141893            194.7
18                141920             53.4
19                141944             74.2
20                141945             74.8
21                142195             64.4
22                142209            166.5
23                142388             96.6
24                142440            108.8
25                142478            194.7
26                142636             66.7
27                142814            106.6
28                142885             84.4
29                143056            194.7
...                  ...              ...
43894            3352460            100.4
43895            3352481            110.5
43896            3352510             59.1
43897            3352533             73.3
43898            3352614             48.2
43899            3352633            183.6
43900            3352634            183.6
43901            3352637             53.8
43902            3352721             56.0
43903            3352727             61.4
43904            3352737             81.1
43905            3352827            100.1
43906            3352830            109.0
43907            3352940             55.3
43908            3352961             91.0
43909            3352986             52.0
43910            3353007             88.4
43911            3353031            148.7
43912            3353056             66.4
43914            3353127             97.8
43915            3353140             68.8
43916            3353144             39.2
43917            3353145             42.2
43918            3353190            110.6
43919            3353196             71.5
43920            3353197             71.5
43921            3353199             71.5
43922            3353235             90.0
43923            3353251            102.0
43924            3353254             83.9

[39669 rows x 2 columns]

In [9]:
df.to_csv(path + "patient.csv", sep=',', index=False, encoding='utf-8')

## Lab
#### Original CSV

In [10]:
df = pd.read_csv(path + '/lab.csv')
df

        patientunitstayid  labresultoffset  creatinine  wbcx1000  lactate
0                  141227             1362        1.90      42.7      NaN
1                  141227            -1566        1.40      48.2      NaN
2                  141227              -13        1.50      65.9      4.3
3                  141227              937        1.60       NaN      NaN
4                  141227             -128        1.40      47.7      NaN
5                  141288             3697        0.60      11.5      NaN
6                  141288             2202        0.66      16.0      NaN
7                  141288             6544        0.54      13.0      NaN
8                  141288             5097        0.71      11.9      NaN
9                  141288              797        0.73      16.3      1.1
10                 141288             -268        0.95       6.9      3.2
11                 141289              595        0.60       7.1      NaN
12                 141297             1838        4.37      16.8     15.5
13                 141297              788        6.18      11.4      NaN
14                 141297              193        5.69      17.3      3.0
15                 141304             -127        2.34      16.4      1.5
16                 141304             2978        1.47      15.5      NaN
17                 141304             1606        1.28      11.8      NaN
18                 141304             4409        1.29      13.6      NaN
19                 141304             5800        1.24      12.6      NaN
20                 141304               93        2.05      12.8      NaN
21                 141304             7293        1.29      11.7      NaN
22                 141314               33        1.67       5.8     23.5
23                 141314              507        1.91       1.9     20.5
24                 141314              343        1.84       4.0      NaN
25                 141362            18067        1.06      10.7      NaN
26                 141362            16637        0.92      10.0      NaN
27                 141362            10871        1.00      14.9      NaN
28                 141362              746        1.13      10.3      NaN
29                 141362             -639        1.11      14.2      NaN
...                   ...              ...         ...       ...      ...
363149            3353199             8559        0.76       NaN      NaN
363150            3353199             2461        0.96       5.7      NaN
363151            3353199             5335        0.71       NaN      NaN
363152            3353235             -310        1.04       5.4      NaN
363153            3353235             1738        1.19       NaN      NaN
363154            3353251            11058        3.98      17.6      NaN
363155            3353251            13970        4.02       NaN      NaN
363156            3353251            18327        2.28      18.3      NaN
363157            3353251             8246        3.29      13.6      NaN
363158            3353251            16867        2.78       NaN      NaN
363159            3353251            12458        3.94      18.6      NaN
363160            3353251             9644        3.79      15.4      NaN
363161            3353251              765        2.65      25.9      NaN
363162            3353251            15598        3.23       NaN      NaN
363163            3353251             1490        2.40      20.8      NaN
363164            3353251              995        2.60      21.5      NaN
363165            3353251             3863        3.40      14.4      NaN
363166            3353251             2541        3.08      26.1      NaN
363167            3353251             1127        2.41      20.4      NaN
363168            3353251             -217        1.81       NaN      NaN
363169            3353251             5459        3.29      11.9      NaN
363170            3353251             6868        3.35      13.0      NaN
363171            3353251             1849        2.46      25.9      NaN
363172            3353251              409        2.43       NaN      NaN
363173            3353254             2610        1.92       9.8      NaN
363174            3353254             1844        2.22       NaN      NaN
363175            3353254             1218        2.21      15.3      NaN
363176            3353254             5558        1.67      11.7      NaN
363177            3353254             4144        1.61       NaN      NaN
363178            3353254             -256        2.38      13.5      NaN

[363179 rows x 5 columns]

#### Filtered CSV

In [11]:
df = df.loc[df['patientunitstayid'].isin(patientIds)]
df = df.drop_duplicates()
df

        patientunitstayid  labresultoffset  creatinine  wbcx1000  lactate
0                  141227             1362        1.90      42.7      NaN
1                  141227            -1566        1.40      48.2      NaN
2                  141227              -13        1.50      65.9      4.3
3                  141227              937        1.60       NaN      NaN
4                  141227             -128        1.40      47.7      NaN
5                  141288             3697        0.60      11.5      NaN
6                  141288             2202        0.66      16.0      NaN
7                  141288             6544        0.54      13.0      NaN
8                  141288             5097        0.71      11.9      NaN
9                  141288              797        0.73      16.3      1.1
10                 141288             -268        0.95       6.9      3.2
11                 141289              595        0.60       7.1      NaN
12                 141297             1838        4.37      16.8     15.5
13                 141297              788        6.18      11.4      NaN
14                 141297              193        5.69      17.3      3.0
15                 141304             -127        2.34      16.4      1.5
16                 141304             2978        1.47      15.5      NaN
17                 141304             1606        1.28      11.8      NaN
18                 141304             4409        1.29      13.6      NaN
19                 141304             5800        1.24      12.6      NaN
20                 141304               93        2.05      12.8      NaN
21                 141304             7293        1.29      11.7      NaN
22                 141314               33        1.67       5.8     23.5
23                 141314              507        1.91       1.9     20.5
24                 141314              343        1.84       4.0      NaN
25                 141362            18067        1.06      10.7      NaN
26                 141362            16637        0.92      10.0      NaN
27                 141362            10871        1.00      14.9      NaN
28                 141362              746        1.13      10.3      NaN
29                 141362             -639        1.11      14.2      NaN
...                   ...              ...         ...       ...      ...
363149            3353199             8559        0.76       NaN      NaN
363150            3353199             2461        0.96       5.7      NaN
363151            3353199             5335        0.71       NaN      NaN
363152            3353235             -310        1.04       5.4      NaN
363153            3353235             1738        1.19       NaN      NaN
363154            3353251            11058        3.98      17.6      NaN
363155            3353251            13970        4.02       NaN      NaN
363156            3353251            18327        2.28      18.3      NaN
363157            3353251             8246        3.29      13.6      NaN
363158            3353251            16867        2.78       NaN      NaN
363159            3353251            12458        3.94      18.6      NaN
363160            3353251             9644        3.79      15.4      NaN
363161            3353251              765        2.65      25.9      NaN
363162            3353251            15598        3.23       NaN      NaN
363163            3353251             1490        2.40      20.8      NaN
363164            3353251              995        2.60      21.5      NaN
363165            3353251             3863        3.40      14.4      NaN
363166            3353251             2541        3.08      26.1      NaN
363167            3353251             1127        2.41      20.4      NaN
363168            3353251             -217        1.81       NaN      NaN
363169            3353251             5459        3.29      11.9      NaN
363170            3353251             6868        3.35      13.0      NaN
363171            3353251             1849        2.46      25.9      NaN
363172            3353251              409        2.43       NaN      NaN
363173            3353254             2610        1.92       9.8      NaN
363174            3353254             1844        2.22       NaN      NaN
363175            3353254             1218        2.21      15.3      NaN
363176            3353254             5558        1.67      11.7      NaN
363177            3353254             4144        1.61       NaN      NaN
363178            3353254             -256        2.38      13.5      NaN

[335865 rows x 5 columns]

In [12]:
df.to_csv(path + "lab.csv", sep=',', index=False, encoding='utf-8')

## intakeOutputUrine
#### Original CSV

In [13]:
df = pd.read_csv(path + '/intakeOutputUrine.csv')
df

        patientunitstayid  intakeoutputoffset  urineoutputbyweight
0                  141227               -1893             2.433090
1                  141227               -1663             2.433090
2                  141227               -1773             2.433090
3                  141227               -1351             2.433090
4                  141288                2737             6.006006
5                  141289                 835             1.171171
6                  141289                1255             1.051051
7                  141289                1015             0.360360
8                  141304               10842             1.540832
9                  141304               10157             2.439651
10                 141304               10023             1.284027
11                 141304                8217             2.568053
12                 141304                8949             1.540832
13                 141304                8463             1.540832
14                 141304               10739             2.568053
15                 141304               10394             2.311248
16                 141304                8960             1.797637
17                 141304                9033             1.540832
18                 141304               10143             0.770416
19                 141304               10303             2.953261
20                 141362                1072             0.513611
21                 141362               10162             1.155624
22                 141362               16492             2.568053
23                 141362               16646             1.412429
24                 141362                1522             0.642013
25                 141362                8152             1.540832
26                 141362                4961             0.770416
27                 141362                7757             1.797637
28                 141362                1312             0.513611
29                 141362               16883             1.412429
...                   ...                 ...                  ...
935770            3353251               14503             1.470588
935771            3353251               14083             1.323529
935772            3353251                8083             1.078431
935773            3353251               11143             1.960784
935774            3353251               12103             2.941176
935775            3353251                 883             1.470588
935776            3353251                 763             1.470588
935777            3353251               13543             1.078431
935778            3353251               12163             0.735294
935779            3353251                4363             3.431373
935780            3353251                3223             0.343137
935781            3353251               12223             0.735294
935782            3353254                2386             4.767580
935783            3353254                6106             7.163290
935784            3353254                1306             4.767580
935785            3353254                2401            10.131108
935786            3353254                5491             2.383790
935787            3353254                 286             2.383790
935788            3353254                5196             2.979738
935789            3353254                5291             3.575685
935790            3353254                2101            10.131108
935791            3353254                 766             4.767580
935792            3353254                 406             5.363528
935793            3353254                3516             2.979738
935794            3353254                5926             7.151371
935795            3353254                4169            19.070322
935796            3353254                5326             4.767580
935797            3353254                2626            10.131108
935798            3353254                3101            15.494636
935799            3353254                1414             0.357569

[935800 rows x 3 columns]

#### Filtered CSV

In [14]:
df = df.loc[df['patientunitstayid'].isin(patientIds)]
df = df.drop_duplicates()
df

        patientunitstayid  intakeoutputoffset  urineoutputbyweight
0                  141227               -1893             2.433090
1                  141227               -1663             2.433090
2                  141227               -1773             2.433090
3                  141227               -1351             2.433090
4                  141288                2737             6.006006
5                  141289                 835             1.171171
6                  141289                1255             1.051051
7                  141289                1015             0.360360
8                  141304               10842             1.540832
9                  141304               10157             2.439651
10                 141304               10023             1.284027
11                 141304                8217             2.568053
12                 141304                8949             1.540832
13                 141304                8463             1.540832
14                 141304               10739             2.568053
15                 141304               10394             2.311248
16                 141304                8960             1.797637
17                 141304                9033             1.540832
18                 141304               10143             0.770416
19                 141304               10303             2.953261
20                 141362                1072             0.513611
21                 141362               10162             1.155624
22                 141362               16492             2.568053
23                 141362               16646             1.412429
24                 141362                1522             0.642013
25                 141362                8152             1.540832
26                 141362                4961             0.770416
27                 141362                7757             1.797637
28                 141362                1312             0.513611
29                 141362               16883             1.412429
...                   ...                 ...                  ...
935770            3353251               14503             1.470588
935771            3353251               14083             1.323529
935772            3353251                8083             1.078431
935773            3353251               11143             1.960784
935774            3353251               12103             2.941176
935775            3353251                 883             1.470588
935776            3353251                 763             1.470588
935777            3353251               13543             1.078431
935778            3353251               12163             0.735294
935779            3353251                4363             3.431373
935780            3353251                3223             0.343137
935781            3353251               12223             0.735294
935782            3353254                2386             4.767580
935783            3353254                6106             7.163290
935784            3353254                1306             4.767580
935785            3353254                2401            10.131108
935786            3353254                5491             2.383790
935787            3353254                 286             2.383790
935788            3353254                5196             2.979738
935789            3353254                5291             3.575685
935790            3353254                2101            10.131108
935791            3353254                 766             4.767580
935792            3353254                 406             5.363528
935793            3353254                3516             2.979738
935794            3353254                5926             7.151371
935795            3353254                4169            19.070322
935796            3353254                5326             4.767580
935797            3353254                2626            10.131108
935798            3353254                3101            15.494636
935799            3353254                1414             0.357569

[935800 rows x 3 columns]

In [15]:
df.to_csv(path + "intakeOutputUrine.csv", sep=',', index=False, encoding='utf-8')

## vitalPeriodic
#### Original CSV

In [16]:
df = pd.read_csv(path + '/vitalPeriodic.csv')
df

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
0,141227,1162,NaN,100.0,31.0,NaN
1,141227,1062,NaN,100.0,31.0,NaN
2,141227,1192,NaN,106.0,35.0,130.0
3,141227,522,NaN,110.0,33.0,NaN
4,141227,1197,NaN,106.0,36.0,124.0
5,141227,1017,NaN,96.0,35.0,97.0
6,141227,1142,NaN,96.0,30.0,NaN
7,141227,242,NaN,102.0,31.0,NaN
8,141227,1127,NaN,96.0,29.0,NaN
9,141227,1067,NaN,100.0,31.0,NaN
10,141227,1107,NaN,102.0,31.0,NaN
11,141227,1417,NaN,124.0,31.0,80.0
12,141227,1082,NaN,102.0,32.0,NaN
13,141227,1012,NaN,96.0,35.0,100.0
14,141227,1087,NaN,100.0,31.0,NaN
15,141227,502,NaN,112.0,36.0,NaN
16,141227,1092,NaN,100.0,31.0,NaN
17,141227,962,NaN,112.0,51.0,NaN
18,141227,1167,NaN,104.0,33.0,NaN
19,141227,267,NaN,96.0,24.0,NaN
20,141227,1097,NaN,102.0,33.0,NaN
21,141227,1032,NaN,96.0,33.0,NaN
22,141227,1102,NaN,104.0,32.0,NaN
23,141227,712,NaN,204.0,41.0,76.0
24,141227,1187,NaN,104.0,34.0,NaN
25,141227,1002,NaN,98.0,35.0,77.0
26,141227,1112,NaN,100.0,29.0,NaN
27,141227,507,NaN,110.0,34.0,NaN
28,141227,1172,NaN,102.0,33.0,NaN
29,141227,1007,NaN,98.0,34.0,94.0
...,...,...,...,...,...,...
43161917,3353254,34,NaN,83.0,10.0,NaN
43161918,3353254,379,NaN,76.0,22.0,NaN
43161919,3353254,304,NaN,74.0,23.0,NaN
43161920,3353254,119,NaN,76.0,26.0,NaN
43161921,3353254,169,NaN,76.0,26.0,NaN
43161922,3353254,294,NaN,74.0,23.0,NaN
43161923,3353254,24,NaN,76.0,17.0,NaN
43161924,3353254,374,NaN,78.0,28.0,NaN
43161925,3353254,299,NaN,75.0,23.0,NaN
43161926,3353254,59,NaN,80.0,25.0,NaN
43161927,3353254,174,NaN,76.0,23.0,NaN
43161928,3353254,309,NaN,75.0,21.0,NaN
43161929,3353254,424,NaN,83.0,9.0,NaN
43161930,3353254,314,NaN,75.0,24.0,NaN
43161931,3353254,144,NaN,75.0,20.0,NaN
43161932,3353254,319,NaN,75.0,24.0,NaN
43161933,3353254,384,NaN,77.0,23.0,NaN
43161934,3353254,239,NaN,72.0,20.0,NaN
43161935,3353254,414,NaN,83.0,25.0,NaN
43161936,3353254,234,NaN,73.0,19.0,NaN
43161937,3353254,194,NaN,76.0,22.0,NaN
43161938,3353254,189,NaN,76.0,21.0,NaN
43161939,3353254,134,NaN,74.0,20.0,NaN
43161940,3353254,139,NaN,75.0,21.0,NaN
43161941,3353254,229,NaN,73.0,20.0,NaN
43161942,3353254,214,NaN,76.0,21.0,NaN
43161943,3353254,129,NaN,74.0,22.0,NaN
43161944,3353254,184,NaN,76.0,22.0,NaN
43161945,3353254,209,NaN,76.0,20.0,NaN
43161946,3353254,124,NaN,75.0,23.0,NaN

#### Filtered CSV

In [17]:
df = df.loc[df['patientunitstayid'].isin(patientIds)]
df = df.drop_duplicates()
df

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
0,141227,1162,NaN,100.0,31.0,NaN
1,141227,1062,NaN,100.0,31.0,NaN
2,141227,1192,NaN,106.0,35.0,130.0
3,141227,522,NaN,110.0,33.0,NaN
4,141227,1197,NaN,106.0,36.0,124.0
5,141227,1017,NaN,96.0,35.0,97.0
6,141227,1142,NaN,96.0,30.0,NaN
7,141227,242,NaN,102.0,31.0,NaN
8,141227,1127,NaN,96.0,29.0,NaN
9,141227,1067,NaN,100.0,31.0,NaN
10,141227,1107,NaN,102.0,31.0,NaN
11,141227,1417,NaN,124.0,31.0,80.0
12,141227,1082,NaN,102.0,32.0,NaN
13,141227,1012,NaN,96.0,35.0,100.0
14,141227,1087,NaN,100.0,31.0,NaN
15,141227,502,NaN,112.0,36.0,NaN
16,141227,1092,NaN,100.0,31.0,NaN
17,141227,962,NaN,112.0,51.0,NaN
18,141227,1167,NaN,104.0,33.0,NaN
19,141227,267,NaN,96.0,24.0,NaN
20,141227,1097,NaN,102.0,33.0,NaN
21,141227,1032,NaN,96.0,33.0,NaN
22,141227,1102,NaN,104.0,32.0,NaN
23,141227,712,NaN,204.0,41.0,76.0
24,141227,1187,NaN,104.0,34.0,NaN
25,141227,1002,NaN,98.0,35.0,77.0
26,141227,1112,NaN,100.0,29.0,NaN
27,141227,507,NaN,110.0,34.0,NaN
28,141227,1172,NaN,102.0,33.0,NaN
29,141227,1007,NaN,98.0,34.0,94.0
...,...,...,...,...,...,...
43161917,3353254,34,NaN,83.0,10.0,NaN
43161918,3353254,379,NaN,76.0,22.0,NaN
43161919,3353254,304,NaN,74.0,23.0,NaN
43161920,3353254,119,NaN,76.0,26.0,NaN
43161921,3353254,169,NaN,76.0,26.0,NaN
43161922,3353254,294,NaN,74.0,23.0,NaN
43161923,3353254,24,NaN,76.0,17.0,NaN
43161924,3353254,374,NaN,78.0,28.0,NaN
43161925,3353254,299,NaN,75.0,23.0,NaN
43161926,3353254,59,NaN,80.0,25.0,NaN
43161927,3353254,174,NaN,76.0,23.0,NaN
43161928,3353254,309,NaN,75.0,21.0,NaN
43161929,3353254,424,NaN,83.0,9.0,NaN
43161930,3353254,314,NaN,75.0,24.0,NaN
43161931,3353254,144,NaN,75.0,20.0,NaN
43161932,3353254,319,NaN,75.0,24.0,NaN
43161933,3353254,384,NaN,77.0,23.0,NaN
43161934,3353254,239,NaN,72.0,20.0,NaN
43161935,3353254,414,NaN,83.0,25.0,NaN
43161936,3353254,234,NaN,73.0,19.0,NaN
43161937,3353254,194,NaN,76.0,22.0,NaN
43161938,3353254,189,NaN,76.0,21.0,NaN
43161939,3353254,134,NaN,74.0,20.0,NaN
43161940,3353254,139,NaN,75.0,21.0,NaN
43161941,3353254,229,NaN,73.0,20.0,NaN
43161942,3353254,214,NaN,76.0,21.0,NaN
43161943,3353254,129,NaN,74.0,22.0,NaN
43161944,3353254,184,NaN,76.0,22.0,NaN
43161945,3353254,209,NaN,76.0,20.0,NaN
43161946,3353254,124,NaN,75.0,23.0,NaN

In [18]:
df.to_csv(path + "vitalPeriodic.csv", sep=',', index=False, encoding='utf-8')