In [1]:
import pandas as pd
import numpy as np

The `patient` table includes general information about the patient admissions (for example, demographics, admission and discharge details). 
See: http://eicu-crd.mit.edu/eicutables/patient/

In [ ]:
databasePath = "../../eICU/full/"
exportPath = "../../eICU/training/"

#### Reading in lab dataset and keeping relevant columns to our study .

In [3]:
columns = ['patientunitstayid', 'admissionweight', 'age', 'gender']
patient = pd.read_csv(databasePath + '/patient.csv', usecols=columns)
patient

        patientunitstayid  gender   age  admissionweight
0                  141168  Female    70            84.30
1                  141178  Female    52            54.40
2                  141179  Female    52              NaN
3                  141194    Male    68            73.90
4                  141196    Male    71              NaN
5                  141197    Male    71           102.10
6                  141203  Female    77            70.20
7                  141208  Female    25            95.30
8                  141227    Male    82            82.20
9                  141229  Female  > 89            89.80
10                 141233  Female    81            61.70
11                 141244    Male    59            92.30
12                 141260  Female    43            69.90
13                 141263    Male    19              NaN
14                 141264    Male    19              NaN
15                 141265    Male    67           100.00
16                 141266    Male    73           120.40
17                 141276  Female    59           156.60
18                 141284    Male    63              NaN
19                 141288  Female    61              NaN
20                 141289  Female    61              NaN
21                 141296    Male    63              NaN
22                 141297    Male    63              NaN
23                 141304    Male    70              NaN
24                 141313    Male    45              NaN
25                 141314    Male    45              NaN
26                 141328  Female    76              NaN
27                 141329    Male    50            79.00
28                 141337  Female    72            67.80
29                 141340  Female    80            70.10
...                   ...     ...   ...              ...
200829            3353094  Female    78            59.10
200830            3353097  Female    41            91.00
200831            3353113    Male    50            88.00
200832            3353116    Male    85            64.80
200833            3353117    Male    85            64.80
200834            3353121  Female    77              NaN
200835            3353123  Female    82              NaN
200836            3353127    Male    59            97.80
200837            3353140  Female  > 89            68.80
200838            3353144    Male    51            39.20
200839            3353145    Male    51            42.20
200840            3353147    Male    24           153.40
200841            3353177    Male    65            64.90
200842            3353184  Female    83            46.70
200843            3353190    Male    39           110.60
200844            3353194  Female    51            63.05
200845            3353196  Female    66            71.50
200846            3353197  Female    66            71.50
200847            3353198  Female    66            71.50
200848            3353199  Female    66            71.50
200849            3353200  Female    66            71.50
200850            3353201  Female    66            71.50
200851            3353213  Female    51            54.40
200852            3353216  Female    50            55.40
200853            3353226  Female    79            58.40
200854            3353235    Male    50            90.00
200855            3353237  Female    79            78.40
200856            3353251    Male    73           102.00
200857            3353254    Male    81            83.90
200858            3353263    Male    35           100.80

[200859 rows x 4 columns]

#### Reading in patient ids to keep

In [4]:
patientIds = pd.read_csv(exportPath + '/patientIds.csv')
patientIds = patientIds['patientunitstayid'].tolist()

#### Keeping patient ids from lab table that exist in patient id file

In [5]:
patient = patient.loc[patient['patientunitstayid'].isin(patientIds)]
patient

        patientunitstayid  gender   age  admissionweight
8                  141227    Male    82             82.2
19                 141288  Female    61              NaN
20                 141289  Female    61              NaN
22                 141297    Male    63              NaN
23                 141304    Male    70              NaN
25                 141314    Male    45              NaN
31                 141362    Male    65              NaN
34                 141392  Female    78              NaN
36                 141432    Male    75            131.5
41                 141454  Female    79             82.2
42                 141462    Male    80            103.3
43                 141470  Female    58              NaN
63                 141604  Female    30             44.9
64                 141631    Male    45            116.6
65                 141649  Female    53             64.4
80                 141751  Female    60              NaN
93                 141816    Male    55            110.7
104                141893    Male    84              NaN
109                141920  Female    81             53.4
114                141944  Female    72             74.2
115                141945  Female    72             74.8
147                142195  Female    67             64.4
150                142209  Female    73              NaN
161                142388    Male    67             96.6
171                142440    Male    58            108.8
175                142478    Male    64              NaN
206                142636  Female    55             66.7
225                142814    Male    36            106.6
233                142885    Male    71             84.4
255                143056    Male    78              NaN
...                   ...     ...   ...              ...
200722            3352481    Male    55            110.5
200730            3352510  Female    56             59.1
200738            3352533    Male    61             73.3
200751            3352614  Female    69             48.2
200755            3352633    Male    39            183.6
200756            3352634    Male    39            183.6
200757            3352637    Male    52             53.8
200764            3352721  Female    88             56.0
200765            3352727  Female    82             61.4
200766            3352737    Male    70             81.1
200781            3352827  Female    69            100.1
200783            3352830  Female    81            109.0
200798            3352940  Female    23             55.3
200800            3352961    Male    70             91.0
200810            3352986  Female    19             52.0
200811            3353007  Female    74             88.4
200815            3353031    Male    45            148.7
200820            3353056  Female    58             66.4
200823            3353070    Male    66             88.4
200836            3353127    Male    59             97.8
200837            3353140  Female  > 89             68.8
200838            3353144    Male    51             39.2
200839            3353145    Male    51             42.2
200843            3353190    Male    39            110.6
200845            3353196  Female    66             71.5
200846            3353197  Female    66             71.5
200848            3353199  Female    66             71.5
200854            3353235    Male    50             90.0
200856            3353251    Male    73            102.0
200857            3353254    Male    81             83.9

[43925 rows x 4 columns]

#### Updating patient ids with patient ids that remain from dataset

In [6]:
newPatientIds = pd.DataFrame(patient['patientunitstayid'].unique())
newPatientIds.rename(columns={0: 'patientunitstayid'}, inplace=True)
newPatientIds

       patientunitstayid
0                 141227
1                 141288
2                 141289
3                 141297
4                 141304
5                 141314
6                 141362
7                 141392
8                 141432
9                 141454
10                141462
11                141470
12                141604
13                141631
14                141649
15                141751
16                141816
17                141893
18                141920
19                141944
20                141945
21                142195
22                142209
23                142388
24                142440
25                142478
26                142636
27                142814
28                142885
29                143056
...                  ...
43895            3352481
43896            3352510
43897            3352533
43898            3352614
43899            3352633
43900            3352634
43901            3352637
43902            3352721
43903            3352727
43904            3352737
43905            3352827
43906            3352830
43907            3352940
43908            3352961
43909            3352986
43910            3353007
43911            3353031
43912            3353056
43913            3353070
43914            3353127
43915            3353140
43916            3353144
43917            3353145
43918            3353190
43919            3353196
43920            3353197
43921            3353199
43922            3353235
43923            3353251
43924            3353254

[43925 rows x 1 columns]

In [7]:
newPatientIds.to_csv(exportPath + "patientIds.csv", sep=',', index=False, encoding='utf-8')

#### Querying the dataframe to find all columns in the dataframe with has 'nan' or null values that fill an entire column

In [8]:
all_nan_cols = patient.columns[patient.isna().all()]
all_nan_cols

Index([], dtype='object')

> `all_nan_cols` were empty, which means that all of our columns have useful data.
This means that we must find nan values within the dataframe.

#### Querying the dataframe to find all columns in the dataframe which has 'nan' or null values that exist within useful data

In [9]:
all_nan_cols = patient.columns[patient.isna().any()]
all_nan_cols

Index(['gender', 'admissionweight'], dtype='object')

> The columns 
`'gender', 'age', 'ethnicity', 'apacheadmissiondx', 'admissionheight', 'hospitaladmitsource', 'hospitaldischargelocation', 'hospitaldischargestatus', 'unitadmitsource', 'admissionweight', 'dischargeweight', 'unitdischargelocation', 'unitdischargestatus'` 
were identified by the `df.isna().any()` function as columns that have nan/null values existing within them.

#### Filling null gender values with `Unknown`

In [10]:
patient['gender'].fillna('Unknown', inplace=True)

/usr/lib/python3/dist-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

#### Replacing String with numerical value

In [11]:
patient['age'] = patient['age'].apply(lambda x : '89' if (x == '> 89') else x)
patient['age'] = patient['age'].apply(lambda x : '1' if (x == '0') else x)

patient.age.unique()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

array(['82', '61', '63', '70', '45', '65', '78', '75', '79', '80', '58',
       '30', '53', '60', '55', '84', '81', '72', '67', '73', '64', '36',
       '71', '74', '83', '56', '86', '89', '49', '51', '77', '57', '46',
       '66', '38', '62', '20', '59', '87', '54', '28', '40', '44', '52',
       '69', '68', '76', '19', '85', '50', '48', '33', '88', '37', '42',
       '26', '32', '47', '41', '43', '29', '31', '23', '25', '24', '35',
       '18', '34', '22', '16', '27', '21', '39', '17', '14', '15', '1',
       '13', '4', '5', '9', '12'], dtype=object)

#### Finding out how much null ages there are

In [12]:
na = patient.age.isnull().sum(axis = 0)
na

0

we can drop these null values afterwards to test and play around with results

#### Convert to Float, fill null values with the mean age, convert to integer

In [13]:
patient = patient.astype({'age': float})

In [14]:
import math

patient['age'].fillna(math.floor(patient['age'].mean()), inplace=True)

In [15]:
patient = patient.astype({'age': int})

In [16]:
patient['age'].unique()

array([82, 61, 63, 70, 45, 65, 78, 75, 79, 80, 58, 30, 53, 60, 55, 84, 81,
       72, 67, 73, 64, 36, 71, 74, 83, 56, 86, 89, 49, 51, 77, 57, 46, 66,
       38, 62, 20, 59, 87, 54, 28, 40, 44, 52, 69, 68, 76, 19, 85, 50, 48,
       33, 88, 37, 42, 26, 32, 47, 41, 43, 29, 31, 23, 25, 24, 35, 18, 34,
       22, 16, 27, 21, 39, 17, 14, 15,  1, 13,  4,  5,  9, 12])

#### Using ages to fill in null admission weights

In [17]:
# set all admissionweight = 0 to null
patient['admissionweight'] = patient['admissionweight'].replace({0:np.nan})
na = patient.admissionweight.isnull().sum(axis = 0)
na

1542

#### Females and associated weights:  
    '<20', 116,  
    '20-39', 167.6,  
    '40-59', 176.4,  
    '>60', 166.5  

#### Male and associated weights:  
    '<20', 116,  
    '20-39', 196.9,  
    '40-59', 200.9,  
    '>60', 194.7

#### Filling for Male

In [18]:
patient['admissionweight'] = np.where((patient['gender'] == 'Male') & (patient['age'] < 20) & (patient['admissionweight'].isnull()), 116, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Male') & (patient['age'] >= 20) & (patient['age'] <= 39) & (patient['admissionweight'].isnull()), 196.9, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Male') & (patient['age'] >= 40) & (patient['age'] <= 59) & (patient['admissionweight'].isnull()), 200.9, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Male') & (patient['age'] >= 60) & (patient['admissionweight'].isnull()), 194.7, patient['admissionweight'])

#### Filling for Females

In [19]:
patient['admissionweight'] = np.where((patient['gender'] == 'Female') & (patient['age'] < 20) & (patient['admissionweight'].isnull()), 116, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Female') & (patient['age'] >= 20) & (patient['age'] <= 39) & (patient['admissionweight'].isnull()), 167.6, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Female') & (patient['age'] >= 40) & (patient['age'] <= 59) & (patient['admissionweight'].isnull()), 176.4, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Female') & (patient['age'] >= 60) & (patient['admissionweight'].isnull()), 166.5, patient['admissionweight'])

#### Filling for Unknown Genders

In [20]:
patient['admissionweight'] = np.where((patient['gender'] == 'Unknown') & (patient['age'] < 20) & (patient['admissionweight'].isnull()), 116, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Unknown') & (patient['age'] >= 20) & (patient['age'] <= 39) & (patient['admissionweight'].isnull()), 196.9, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Unknown') & (patient['age'] >= 40) & (patient['age'] <= 59) & (patient['admissionweight'].isnull()), 200.9, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Unknown') & (patient['age'] >= 60) & (patient['admissionweight'].isnull()), 194.7, patient['admissionweight'])

In [21]:
print('Null values in patient admission weight: ', patient.admissionweight.isnull().sum(axis = 0))
patient

Null values in patient admission weight:  0

        patientunitstayid  gender  age  admissionweight
8                  141227    Male   82             82.2
19                 141288  Female   61            166.5
20                 141289  Female   61            166.5
22                 141297    Male   63            194.7
23                 141304    Male   70            194.7
25                 141314    Male   45            200.9
31                 141362    Male   65            194.7
34                 141392  Female   78            166.5
36                 141432    Male   75            131.5
41                 141454  Female   79             82.2
42                 141462    Male   80            103.3
43                 141470  Female   58            176.4
63                 141604  Female   30             44.9
64                 141631    Male   45            116.6
65                 141649  Female   53             64.4
80                 141751  Female   60            166.5
93                 141816    Male   55            110.7
104                141893    Male   84            194.7
109                141920  Female   81             53.4
114                141944  Female   72             74.2
115                141945  Female   72             74.8
147                142195  Female   67             64.4
150                142209  Female   73            166.5
161                142388    Male   67             96.6
171                142440    Male   58            108.8
175                142478    Male   64            194.7
206                142636  Female   55             66.7
225                142814    Male   36            106.6
233                142885    Male   71             84.4
255                143056    Male   78            194.7
...                   ...     ...  ...              ...
200722            3352481    Male   55            110.5
200730            3352510  Female   56             59.1
200738            3352533    Male   61             73.3
200751            3352614  Female   69             48.2
200755            3352633    Male   39            183.6
200756            3352634    Male   39            183.6
200757            3352637    Male   52             53.8
200764            3352721  Female   88             56.0
200765            3352727  Female   82             61.4
200766            3352737    Male   70             81.1
200781            3352827  Female   69            100.1
200783            3352830  Female   81            109.0
200798            3352940  Female   23             55.3
200800            3352961    Male   70             91.0
200810            3352986  Female   19             52.0
200811            3353007  Female   74             88.4
200815            3353031    Male   45            148.7
200820            3353056  Female   58             66.4
200823            3353070    Male   66             88.4
200836            3353127    Male   59             97.8
200837            3353140  Female   89             68.8
200838            3353144    Male   51             39.2
200839            3353145    Male   51             42.2
200843            3353190    Male   39            110.6
200845            3353196  Female   66             71.5
200846            3353197  Female   66             71.5
200848            3353199  Female   66             71.5
200854            3353235    Male   50             90.0
200856            3353251    Male   73            102.0
200857            3353254    Male   81             83.9

[43925 rows x 4 columns]

#### Dropping irrelevant columns

In [22]:
patient = patient[['patientunitstayid', 'admissionweight']]
patient = patient.drop_duplicates()
patient

        patientunitstayid  admissionweight
8                  141227             82.2
19                 141288            166.5
20                 141289            166.5
22                 141297            194.7
23                 141304            194.7
25                 141314            200.9
31                 141362            194.7
34                 141392            166.5
36                 141432            131.5
41                 141454             82.2
42                 141462            103.3
43                 141470            176.4
63                 141604             44.9
64                 141631            116.6
65                 141649             64.4
80                 141751            166.5
93                 141816            110.7
104                141893            194.7
109                141920             53.4
114                141944             74.2
115                141945             74.8
147                142195             64.4
150                142209            166.5
161                142388             96.6
171                142440            108.8
175                142478            194.7
206                142636             66.7
225                142814            106.6
233                142885             84.4
255                143056            194.7
...                   ...              ...
200722            3352481            110.5
200730            3352510             59.1
200738            3352533             73.3
200751            3352614             48.2
200755            3352633            183.6
200756            3352634            183.6
200757            3352637             53.8
200764            3352721             56.0
200765            3352727             61.4
200766            3352737             81.1
200781            3352827            100.1
200783            3352830            109.0
200798            3352940             55.3
200800            3352961             91.0
200810            3352986             52.0
200811            3353007             88.4
200815            3353031            148.7
200820            3353056             66.4
200823            3353070             88.4
200836            3353127             97.8
200837            3353140             68.8
200838            3353144             39.2
200839            3353145             42.2
200843            3353190            110.6
200845            3353196             71.5
200846            3353197             71.5
200848            3353199             71.5
200854            3353235             90.0
200856            3353251            102.0
200857            3353254             83.9

[43925 rows x 2 columns]

#### Saving the Cleaned Patient DataFrame to a `csv` file

In [23]:
patient.to_csv(exportPath + "patient.csv", sep=',', index=False, encoding='utf-8')