In [1]:
import pandas as pd
import numpy as np

The `vitalperiodic` table comprises data that is consistently interfaced from bedside vital signs monitors into eCareManager. 
Data are generally interfaced as 1 minute averages, and archived into the `vitalperiodic` table as 5 minute median values. 
For more detail, see: http://eicu-crd.mit.edu/eicutables/vitalPeriodic/

#### Reading in vitalPeriodic dataset's relevant columns to our study.

In [2]:
databasePath = "../../eICU/full/"
exportPath = "../../eICU/training/"

In [3]:
columns = ['patientunitstayid', 'observationoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic']
vitalperiodic = pd.read_csv(databasePath + '/vitalPeriodic.csv', usecols=columns)
vitalperiodic = vitalperiodic.drop_duplicates()
vitalperiodic

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
0,141168,2059,NaN,92.0,NaN,NaN
1,141168,1289,NaN,118.0,NaN,NaN
2,141168,1794,NaN,78.0,NaN,NaN
3,141168,1374,NaN,118.0,NaN,NaN
4,141168,2039,NaN,92.0,NaN,NaN
...,...,...,...,...,...,...
146671637,3353263,504,NaN,87.0,36.0,NaN
146671638,3353263,534,NaN,81.0,21.0,NaN
146671639,3353263,549,NaN,78.0,14.0,NaN
146671640,3353263,544,NaN,85.0,25.0,NaN
146671641,3353263,599,NaN,75.0,13.0,NaN

#### Reading in patient ids to keep

In [4]:
patientIds = pd.read_csv(exportPath + '/patientIds.csv')
patientIds = patientIds['patientunitstayid'].tolist()

#### Keeping patient ids from lab table that exist in patient id file

In [5]:
vitalperiodic = vitalperiodic.loc[vitalperiodic['patientunitstayid'].isin(patientIds)]
vitalperiodic

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
0,141168,2059,NaN,92.0,NaN,NaN
1,141168,1289,NaN,118.0,NaN,NaN
2,141168,1794,NaN,78.0,NaN,NaN
3,141168,1374,NaN,118.0,NaN,NaN
4,141168,2039,NaN,92.0,NaN,NaN
...,...,...,...,...,...,...
146671637,3353263,504,NaN,87.0,36.0,NaN
146671638,3353263,534,NaN,81.0,21.0,NaN
146671639,3353263,549,NaN,78.0,14.0,NaN
146671640,3353263,544,NaN,85.0,25.0,NaN
146671641,3353263,599,NaN,75.0,13.0,NaN

#### Updating patient ids with patient ids that remain from  dataset

In [6]:
newPatientIds = pd.DataFrame(vitalperiodic['patientunitstayid'].unique())
newPatientIds.rename(columns={0: 'patientunitstayid'}, inplace=True)
newPatientIds

        patientunitstayid
0                  141168
1                  141203
2                  141227
3                  141229
4                  141266
...                   ...
156186            3353235
156187            3353237
156188            3353251
156189            3353254
156190            3353263

[156191 rows x 1 columns]

In [7]:
newPatientIds.to_csv(exportPath + "patientIds.csv", sep=',', index=False, encoding='utf-8')

#### Saving the Cleaned vitalPeriodic DataFrame to a `csv` file

In [8]:
vitalperiodic.to_csv(exportPath + "vitalPeriodic.csv", sep=',', index=False, encoding='utf-8')