In [1]:
import pandas as pd
import numpy as np

In [2]:
database_type = "/full"

The `patient` table includes general information about the patient admissions (for example, demographics, admission and discharge details). 
See: http://eicu-crd.mit.edu/eicutables/patient/

#### Reading in lab dataset and keeping relevant columns to our study .

In [3]:
columns = ['patientunitstayid', 'admissionweight', 'age', 'gender']
patient = pd.read_csv('../../eICU' + database_type + '/patient.csv', usecols=columns)
patient

        patientunitstayid  gender   age  admissionweight
0                  141168  Female    70            84.30
1                  141178  Female    52            54.40
2                  141179  Female    52              NaN
3                  141194    Male    68            73.90
4                  141196    Male    71              NaN
5                  141197    Male    71           102.10
6                  141203  Female    77            70.20
7                  141208  Female    25            95.30
8                  141227    Male    82            82.20
9                  141229  Female  > 89            89.80
10                 141233  Female    81            61.70
11                 141244    Male    59            92.30
12                 141260  Female    43            69.90
13                 141263    Male    19              NaN
14                 141264    Male    19              NaN
15                 141265    Male    67           100.00
16                 141266    Male    73           120.40
17                 141276  Female    59           156.60
18                 141284    Male    63              NaN
19                 141288  Female    61              NaN
20                 141289  Female    61              NaN
21                 141296    Male    63              NaN
22                 141297    Male    63              NaN
23                 141304    Male    70              NaN
24                 141313    Male    45              NaN
25                 141314    Male    45              NaN
26                 141328  Female    76              NaN
27                 141329    Male    50            79.00
28                 141337  Female    72            67.80
29                 141340  Female    80            70.10
...                   ...     ...   ...              ...
200829            3353094  Female    78            59.10
200830            3353097  Female    41            91.00
200831            3353113    Male    50            88.00
200832            3353116    Male    85            64.80
200833            3353117    Male    85            64.80
200834            3353121  Female    77              NaN
200835            3353123  Female    82              NaN
200836            3353127    Male    59            97.80
200837            3353140  Female  > 89            68.80
200838            3353144    Male    51            39.20
200839            3353145    Male    51            42.20
200840            3353147    Male    24           153.40
200841            3353177    Male    65            64.90
200842            3353184  Female    83            46.70
200843            3353190    Male    39           110.60
200844            3353194  Female    51            63.05
200845            3353196  Female    66            71.50
200846            3353197  Female    66            71.50
200847            3353198  Female    66            71.50
200848            3353199  Female    66            71.50
200849            3353200  Female    66            71.50
200850            3353201  Female    66            71.50
200851            3353213  Female    51            54.40
200852            3353216  Female    50            55.40
200853            3353226  Female    79            58.40
200854            3353235    Male    50            90.00
200855            3353237  Female    79            78.40
200856            3353251    Male    73           102.00
200857            3353254    Male    81            83.90
200858            3353263    Male    35           100.80

[200859 rows x 4 columns]

In [4]:
columns = ['patientunitstayid', 'diagnosis']
diagnosis = pd.read_csv('../../eICU' + '/training' + '/diagnosis.csv', usecols=columns)
diagnosis

        patientunitstayid  diagnosis
0                  141168          0
1                  141168          0
2                  141203          0
3                  141203          0
4                  141227          1
5                  141229          0
6                  141229          0
7                  141266          0
8                  141284          0
9                  141284          0
10                 141288          0
11                 141288          0
12                 141288          0
13                 141288          1
14                 141288          0
15                 141288          1
16                 141288          1
17                 141288          1
18                 141289          0
19                 141289          1
20                 141296          0
21                 141297          0
22                 141297          1
23                 141304          0
24                 141304          0
25                 141304          1
26                 141304          1
27                 141313          0
28                 141314          0
29                 141314          0
...                   ...        ...
580405            3353226          0
580406            3353226          0
580407            3353226          0
580408            3353226          0
580409            3353226          0
580410            3353226          0
580411            3353235          0
580412            3353237          0
580413            3353251          0
580414            3353251          0
580415            3353251          1
580416            3353251          0
580417            3353251          0
580418            3353251          1
580419            3353251          0
580420            3353251          0
580421            3353251          1
580422            3353251          0
580423            3353251          0
580424            3353251          0
580425            3353251          0
580426            3353251          0
580427            3353251          0
580428            3353251          1
580429            3353251          1
580430            3353251          1
580431            3353251          1
580432            3353251          1
580433            3353254          0
580434            3353263          0

[580435 rows x 2 columns]

In [5]:
df_sepsis = diagnosis[diagnosis.diagnosis==1]

In [6]:
len(df_sepsis.patientunitstayid.unique())

23479

In [7]:
df_not_sepsis = diagnosis[diagnosis.diagnosis==0]

In [8]:
len(df_not_sepsis.patientunitstayid.unique())

171797

In [9]:
df_sepsis = pd.DataFrame(df_sepsis.patientunitstayid.unique())

In [10]:
df_not_sepsis = pd.DataFrame(df_not_sepsis.patientunitstayid.unique()).sample(n=24000)

In [11]:
df_sepsis = df_sepsis.append(df_not_sepsis)

In [12]:
patient = pd.merge(df_sepsis, patient,  how='left', left_on=[0], right_on = ['patientunitstayid'])
patient

             0  patientunitstayid  gender   age  admissionweight
0       141227             141227    Male    82            82.20
1       141288             141288  Female    61              NaN
2       141289             141289  Female    61              NaN
3       141297             141297    Male    63              NaN
4       141304             141304    Male    70              NaN
5       141392             141392  Female    78              NaN
6       141432             141432    Male    75           131.50
7       141462             141462    Male    80           103.30
8       141470             141470  Female    58              NaN
9       141751             141751  Female    60              NaN
10      141920             141920  Female    81            53.40
11      141944             141944  Female    72            74.20
12      141945             141945  Female    72            74.80
13      142209             142209  Female    73              NaN
14      142388             142388    Male    67            96.60
15      142440             142440    Male    58           108.80
16      143157             143157    Male    72            71.40
17      143344             143344  Female    74              NaN
18      143466             143466  Female    60            76.70
19      143469             143469    Male    86            82.20
20      143578             143578  Female    65            98.90
21      143642             143642  Female    49            97.90
22      143736             143736    Male    77            53.10
23      143897             143897  Female    57            50.80
24      143920             143920    Male    46              NaN
25      143993             143993    Male    66           126.80
26      143994             143994    Male    66           106.60
27      144034             144034  Female    38            75.70
28      144182             144182  Female    62              NaN
29      144183             144183  Female    62              NaN
...        ...                ...     ...   ...              ...
47449  3339360            3339360  Female    66           104.30
47450  2787820            2787820    Male    40            84.00
47451   564486             564486    Male    42            92.00
47452   978191             978191  Female    76            65.80
47453  2681532            2681532    Male    73            84.30
47454  1731289            1731289  Female  > 89            75.00
47455  1064209            1064209  Female    61            85.30
47456  1523875            1523875    Male    34            69.60
47457  1758473            1758473  Female    80            60.50
47458  1317004            1317004    Male    36            97.90
47459  1622560            1622560    Male    70            61.90
47460  2834659            2834659  Female    36           113.30
47461  1071655            1071655    Male    73            79.50
47462   311803             311803  Female    72            47.60
47463  1011338            1011338    Male    58           128.80
47464   490313             490313  Female    60            83.90
47465   203273             203273    Male    44           106.50
47466  2217542            2217542    Male    57           158.70
47467  1496974            1496974    Male    52            60.10
47468   974241             974241    Male    72           100.40
47469  1736491            1736491  Female    23            61.60
47470  2156986            2156986  Female    84            54.20
47471   972499             972499  Female    89            51.51
47472  2956095            2956095    Male    54           142.00
47473  2609765            2609765    Male    68            70.00
47474  2792439            2792439  Female    68            55.00
47475  2395733            2395733  Female    66            99.70
47476  2203338            2203338    Male    75            99.30
47477  3331293            3331293    Male    31           152.70
47478  2831483            2831483  Female  > 89            49.20

[47479 rows x 5 columns]

In [13]:
patient = patient.drop(0, axis=1).copy()

In [15]:
type(patient)

pandas.core.frame.DataFrame

#### Querying the dataframe to find all columns in the dataframe with has 'nan' or null values that fill an entire column

In [16]:
all_nan_cols = patient.columns[patient.isna().all()]
all_nan_cols

Index([], dtype='object')

> `all_nan_cols` were empty, which means that all of our columns have useful data.
This means that we must find nan values within the dataframe.

#### Querying the dataframe to find all columns in the dataframe which has 'nan' or null values that exist within useful data

In [17]:
all_nan_cols = patient.columns[patient.isna().any()]
all_nan_cols

Index(['gender', 'age', 'admissionweight'], dtype='object')

> The columns 
`'gender', 'age', 'ethnicity', 'apacheadmissiondx', 'admissionheight', 'hospitaladmitsource', 'hospitaldischargelocation', 'hospitaldischargestatus', 'unitadmitsource', 'admissionweight', 'dischargeweight', 'unitdischargelocation', 'unitdischargestatus'` 
were identified by the `df.isna().any()` function as columns that have nan/null values existing within them.

#### Filling null gender values with `Unknown`

In [18]:
patient['gender'].fillna('Unknown', inplace=True)

#### Replacing String with numerical value

In [19]:
patient['age'] = patient['age'].apply(lambda x : '89' if (x == '> 89') else x)
patient['age'] = patient['age'].apply(lambda x : '1' if (x == '0') else x)

patient.age.unique()

array(['82', '61', '63', '70', '78', '75', '80', '58', '60', '81', '72',
       '73', '67', '74', '86', '65', '49', '77', '57', '46', '66', '38',
       '62', '20', '59', '89', '87', '54', '53', '28', '56', '71', '44',
       '30', '84', '68', '64', '85', '69', '51', '88', '33', '55', '26',
       '41', '43', '79', '40', '83', '29', '45', '31', '37', '23', '50',
       '42', '19', '32', '25', '24', '34', '22', '76', '35', '16', '52',
       '27', '47', '48', '39', '21', '36', '18', '17', '11', '7', '2',
       '14', '13', '6', nan, '15', '1'], dtype=object)

#### Finding out how much null ages there are

In [20]:
na = patient.age.isnull().sum(axis = 0)
na

3

we can drop these null values afterwards to test and play around with results

#### Convert to Float, fill null values with the mean age, convert to integer

In [21]:
patient = patient.astype({'age': float})

In [22]:
import math

patient['age'].fillna(math.floor(patient['age'].mean()), inplace=True)

In [23]:
patient = patient.astype({'age': int})

In [24]:
patient['age'].unique()

array([82, 61, 63, 70, 78, 75, 80, 58, 60, 81, 72, 73, 67, 74, 86, 65, 49,
       77, 57, 46, 66, 38, 62, 20, 59, 89, 87, 54, 53, 28, 56, 71, 44, 30,
       84, 68, 64, 85, 69, 51, 88, 33, 55, 26, 41, 43, 79, 40, 83, 29, 45,
       31, 37, 23, 50, 42, 19, 32, 25, 24, 34, 22, 76, 35, 16, 52, 27, 47,
       48, 39, 21, 36, 18, 17, 11,  7,  2, 14, 13,  6, 15,  1])

#### Using ages to fill in null admission weights

In [25]:
# set all admissionweight = 0 to null
patient['admissionweight'] = patient['admissionweight'].replace({0:np.nan})
na = patient.admissionweight.isnull().sum(axis = 0)
na

1670

#### Females and associated weights:  
    '<20', 116,  
    '20-39', 167.6,  
    '40-59', 176.4,  
    '>60', 166.5  

#### Male and associated weights:  
    '<20', 116,  
    '20-39', 196.9,  
    '40-59', 200.9,  
    '>60', 194.7

In [26]:
patient['admissionweight'] = np.where((patient['gender'] == 'Male') & (patient['age'] < 20) & (patient['admissionweight'].isnull()), 116, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Male') & (patient['age'] >= 20) & (patient['age'] <= 39) & (patient['admissionweight'].isnull()), 196.9, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Male') & (patient['age'] >= 40) & (patient['age'] <= 59) & (patient['admissionweight'].isnull()), 200.9, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Male') & (patient['age'] >= 60) & (patient['admissionweight'].isnull()), 194.7, patient['admissionweight'])

#### Filling for Females

In [27]:
patient['admissionweight'] = np.where((patient['gender'] == 'Female') & (patient['age'] < 20) & (patient['admissionweight'].isnull()), 116, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Female') & (patient['age'] >= 20) & (patient['age'] <= 39) & (patient['admissionweight'].isnull()), 167.6, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Female') & (patient['age'] >= 40) & (patient['age'] <= 59) & (patient['admissionweight'].isnull()), 176.4, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Female') & (patient['age'] >= 60) & (patient['admissionweight'].isnull()), 166.5, patient['admissionweight'])

#### Filling for Unknown Genders

In [28]:
patient['admissionweight'] = np.where((patient['gender'] == 'Unknown') & (patient['age'] < 20) & (patient['admissionweight'].isnull()), 116, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Unknown') & (patient['age'] >= 20) & (patient['age'] <= 39) & (patient['admissionweight'].isnull()), 196.9, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Unknown') & (patient['age'] >= 40) & (patient['age'] <= 59) & (patient['admissionweight'].isnull()), 200.9, patient['admissionweight'])
patient['admissionweight'] = np.where((patient['gender'] == 'Unknown') & (patient['age'] >= 60) & (patient['admissionweight'].isnull()), 194.7, patient['admissionweight'])

In [29]:
print('Null values in patient admission weight: ', patient.admissionweight.isnull().sum(axis = 0))
patient

Null values in patient admission weight:  0

       patientunitstayid  gender  age  admissionweight
0                 141227    Male   82            82.20
1                 141288  Female   61           166.50
2                 141289  Female   61           166.50
3                 141297    Male   63           194.70
4                 141304    Male   70           194.70
5                 141392  Female   78           166.50
6                 141432    Male   75           131.50
7                 141462    Male   80           103.30
8                 141470  Female   58           176.40
9                 141751  Female   60           166.50
10                141920  Female   81            53.40
11                141944  Female   72            74.20
12                141945  Female   72            74.80
13                142209  Female   73           166.50
14                142388    Male   67            96.60
15                142440    Male   58           108.80
16                143157    Male   72            71.40
17                143344  Female   74           166.50
18                143466  Female   60            76.70
19                143469    Male   86            82.20
20                143578  Female   65            98.90
21                143642  Female   49            97.90
22                143736    Male   77            53.10
23                143897  Female   57            50.80
24                143920    Male   46           200.90
25                143993    Male   66           126.80
26                143994    Male   66           106.60
27                144034  Female   38            75.70
28                144182  Female   62           166.50
29                144183  Female   62           166.50
...                  ...     ...  ...              ...
47449            3339360  Female   66           104.30
47450            2787820    Male   40            84.00
47451             564486    Male   42            92.00
47452             978191  Female   76            65.80
47453            2681532    Male   73            84.30
47454            1731289  Female   89            75.00
47455            1064209  Female   61            85.30
47456            1523875    Male   34            69.60
47457            1758473  Female   80            60.50
47458            1317004    Male   36            97.90
47459            1622560    Male   70            61.90
47460            2834659  Female   36           113.30
47461            1071655    Male   73            79.50
47462             311803  Female   72            47.60
47463            1011338    Male   58           128.80
47464             490313  Female   60            83.90
47465             203273    Male   44           106.50
47466            2217542    Male   57           158.70
47467            1496974    Male   52            60.10
47468             974241    Male   72           100.40
47469            1736491  Female   23            61.60
47470            2156986  Female   84            54.20
47471             972499  Female   89            51.51
47472            2956095    Male   54           142.00
47473            2609765    Male   68            70.00
47474            2792439  Female   68            55.00
47475            2395733  Female   66            99.70
47476            2203338    Male   75            99.30
47477            3331293    Male   31           152.70
47478            2831483  Female   89            49.20

[47479 rows x 4 columns]

#### Dropping irrelevant columns

In [30]:
patient = patient[['patientunitstayid', 'admissionweight']]
patient = patient.drop_duplicates()
patient

       patientunitstayid  admissionweight
0                 141227            82.20
1                 141288           166.50
2                 141289           166.50
3                 141297           194.70
4                 141304           194.70
5                 141392           166.50
6                 141432           131.50
7                 141462           103.30
8                 141470           176.40
9                 141751           166.50
10                141920            53.40
11                141944            74.20
12                141945            74.80
13                142209           166.50
14                142388            96.60
15                142440           108.80
16                143157            71.40
17                143344           166.50
18                143466            76.70
19                143469            82.20
20                143578            98.90
21                143642            97.90
22                143736            53.10
23                143897            50.80
24                143920           200.90
25                143993           126.80
26                143994           106.60
27                144034            75.70
28                144182           166.50
29                144183           166.50
...                  ...              ...
47443            3203590           106.00
47444             858227            54.20
47445            1546461           108.80
47446            1692806           123.50
47447            1742753            60.60
47449            3339360           104.30
47450            2787820            84.00
47451             564486            92.00
47452             978191            65.80
47454            1731289            75.00
47455            1064209            85.30
47457            1758473            60.50
47458            1317004            97.90
47459            1622560            61.90
47460            2834659           113.30
47461            1071655            79.50
47463            1011338           128.80
47464             490313            83.90
47465             203273           106.50
47466            2217542           158.70
47467            1496974            60.10
47468             974241           100.40
47469            1736491            61.60
47470            2156986            54.20
47471             972499            51.51
47473            2609765            70.00
47475            2395733            99.70
47476            2203338            99.30
47477            3331293           152.70
47478            2831483            49.20

[44324 rows x 2 columns]

#### Saving the Cleaned Patient DataFrame to a `csv` file

In [31]:
path = "../../eICU/training/"
patient.to_csv(path + "patient.csv", sep=',', index=False, encoding='utf-8')