In [1]:
import pandas as pd
import numpy as np

In [2]:
database_type = "/full"

The `vitalperiodic` table comprises data that is consistently interfaced from bedside vital signs monitors into eCareManager. 
Data are generally interfaced as 1 minute averages, and archived into the `vitalperiodic` table as 5 minute median values. 
For more detail, see: http://eicu-crd.mit.edu/eicutables/vitalPeriodic/

#### Reading in vitalPeriodic dataset's relevant columns to our study.

In [3]:
columns = ['patientunitstayid', 'observationoffset', 'temperature', 'heartrate', 'respiration', 'systemicsystolic']
vitalperiodic = pd.read_csv('../../eICU' + database_type + '/vitalPeriodic.csv', usecols=columns)
vitalperiodic = vitalperiodic.drop_duplicates()
vitalperiodic

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
0,141168,2059,NaN,92.0,NaN,NaN
1,141168,1289,NaN,118.0,NaN,NaN
2,141168,1794,NaN,78.0,NaN,NaN
3,141168,1374,NaN,118.0,NaN,NaN
4,141168,2039,NaN,92.0,NaN,NaN
5,141168,1569,NaN,80.0,NaN,NaN
6,141168,2119,NaN,104.0,NaN,NaN
7,141168,419,NaN,132.0,NaN,NaN
8,141168,754,NaN,128.0,NaN,NaN
9,141168,1594,NaN,80.0,NaN,NaN
10,141168,1389,NaN,78.0,NaN,NaN
11,141168,294,NaN,132.0,NaN,NaN
12,141168,644,NaN,130.0,NaN,NaN
13,141168,1249,NaN,120.0,NaN,NaN
14,141168,1749,NaN,78.0,NaN,NaN
15,141168,119,NaN,140.0,NaN,NaN
16,141168,1974,NaN,72.0,NaN,NaN
17,141168,1084,NaN,120.0,NaN,NaN
18,141168,689,NaN,130.0,NaN,NaN
19,141168,1809,NaN,78.0,NaN,NaN
20,141168,2254,NaN,100.0,NaN,100.0
21,141168,1649,NaN,76.0,NaN,NaN
22,141168,1439,NaN,80.0,NaN,NaN
23,141168,299,NaN,132.0,NaN,NaN
24,141168,679,NaN,130.0,NaN,NaN
25,141168,1204,NaN,120.0,NaN,NaN
26,141168,1789,NaN,78.0,NaN,NaN
27,141168,1549,NaN,80.0,NaN,NaN
28,141168,1984,NaN,74.0,NaN,NaN
29,141168,944,NaN,124.0,NaN,NaN
...,...,...,...,...,...,...
146671612,3353263,144,NaN,79.0,13.0,NaN
146671613,3353263,74,NaN,95.0,29.0,NaN
146671614,3353263,174,NaN,79.0,12.0,NaN
146671615,3353263,109,NaN,81.0,14.0,NaN
146671616,3353263,149,NaN,79.0,12.0,NaN
146671617,3353263,44,NaN,93.0,36.0,NaN
146671618,3353263,524,NaN,79.0,24.0,NaN
146671619,3353263,514,NaN,91.0,34.0,NaN
146671620,3353263,499,NaN,81.0,24.0,NaN
146671621,3353263,509,NaN,90.0,42.0,NaN
146671622,3353263,594,NaN,77.0,19.0,NaN
146671623,3353263,529,NaN,80.0,19.0,NaN
146671624,3353263,519,NaN,84.0,36.0,NaN
146671625,3353263,579,NaN,86.0,25.0,NaN
146671626,3353263,539,NaN,82.0,30.0,NaN
146671627,3353263,489,NaN,82.0,30.0,NaN
146671628,3353263,584,NaN,82.0,20.0,NaN
146671629,3353263,554,NaN,69.0,17.0,NaN
146671630,3353263,589,NaN,78.0,14.0,NaN
146671631,3353263,574,NaN,83.0,22.0,NaN
146671632,3353263,484,NaN,86.0,45.0,NaN
146671633,3353263,494,NaN,81.0,29.0,NaN
146671634,3353263,569,NaN,80.0,25.0,NaN
146671635,3353263,564,NaN,78.0,18.0,NaN
146671636,3353263,559,NaN,74.0,16.0,NaN
146671637,3353263,504,NaN,87.0,36.0,NaN
146671638,3353263,534,NaN,81.0,21.0,NaN
146671639,3353263,549,NaN,78.0,14.0,NaN
146671640,3353263,544,NaN,85.0,25.0,NaN
146671641,3353263,599,NaN,75.0,13.0,NaN

In [4]:
patientIds = pd.read_csv('../../eICU' + '/training' + '/patientIds.csv')
patientIds = patientIds['patientunitstayid'].tolist()

In [5]:
vitalperiodic = vitalperiodic.loc[vitalperiodic['patientunitstayid'].isin(patientIds)]
vitalperiodic

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic
2560,141227,1162,NaN,100.0,31.0,NaN
2561,141227,1062,NaN,100.0,31.0,NaN
2562,141227,1192,NaN,106.0,35.0,130.0
2563,141227,522,NaN,110.0,33.0,NaN
2564,141227,1197,NaN,106.0,36.0,124.0
2565,141227,1017,NaN,96.0,35.0,97.0
2566,141227,1142,NaN,96.0,30.0,NaN
2567,141227,242,NaN,102.0,31.0,NaN
2568,141227,1127,NaN,96.0,29.0,NaN
2569,141227,1067,NaN,100.0,31.0,NaN
2570,141227,1107,NaN,102.0,31.0,NaN
2571,141227,1417,NaN,124.0,31.0,80.0
2572,141227,1082,NaN,102.0,32.0,NaN
2573,141227,1012,NaN,96.0,35.0,100.0
2574,141227,1087,NaN,100.0,31.0,NaN
2575,141227,502,NaN,112.0,36.0,NaN
2576,141227,1092,NaN,100.0,31.0,NaN
2577,141227,962,NaN,112.0,51.0,NaN
2578,141227,1167,NaN,104.0,33.0,NaN
2579,141227,267,NaN,96.0,24.0,NaN
2580,141227,1097,NaN,102.0,33.0,NaN
2581,141227,1032,NaN,96.0,33.0,NaN
2582,141227,1102,NaN,104.0,32.0,NaN
2583,141227,712,NaN,204.0,41.0,76.0
2584,141227,1187,NaN,104.0,34.0,NaN
2585,141227,1002,NaN,98.0,35.0,77.0
2586,141227,1112,NaN,100.0,29.0,NaN
2587,141227,507,NaN,110.0,34.0,NaN
2588,141227,1172,NaN,102.0,33.0,NaN
2589,141227,1007,NaN,98.0,34.0,94.0
...,...,...,...,...,...,...
146671428,3353254,34,NaN,83.0,10.0,NaN
146671429,3353254,379,NaN,76.0,22.0,NaN
146671430,3353254,304,NaN,74.0,23.0,NaN
146671431,3353254,119,NaN,76.0,26.0,NaN
146671432,3353254,169,NaN,76.0,26.0,NaN
146671433,3353254,294,NaN,74.0,23.0,NaN
146671434,3353254,24,NaN,76.0,17.0,NaN
146671435,3353254,374,NaN,78.0,28.0,NaN
146671436,3353254,299,NaN,75.0,23.0,NaN
146671437,3353254,59,NaN,80.0,25.0,NaN
146671438,3353254,174,NaN,76.0,23.0,NaN
146671439,3353254,309,NaN,75.0,21.0,NaN
146671440,3353254,424,NaN,83.0,9.0,NaN
146671441,3353254,314,NaN,75.0,24.0,NaN
146671442,3353254,144,NaN,75.0,20.0,NaN
146671443,3353254,319,NaN,75.0,24.0,NaN
146671444,3353254,384,NaN,77.0,23.0,NaN
146671445,3353254,239,NaN,72.0,20.0,NaN
146671446,3353254,414,NaN,83.0,25.0,NaN
146671447,3353254,234,NaN,73.0,19.0,NaN
146671448,3353254,194,NaN,76.0,22.0,NaN
146671449,3353254,189,NaN,76.0,21.0,NaN
146671450,3353254,134,NaN,74.0,20.0,NaN
146671451,3353254,139,NaN,75.0,21.0,NaN
146671452,3353254,229,NaN,73.0,20.0,NaN
146671453,3353254,214,NaN,76.0,21.0,NaN
146671454,3353254,129,NaN,74.0,22.0,NaN
146671455,3353254,184,NaN,76.0,22.0,NaN
146671456,3353254,209,NaN,76.0,20.0,NaN
146671457,3353254,124,NaN,75.0,23.0,NaN

In [6]:
newPatientIds = pd.DataFrame(vitalperiodic['patientunitstayid'].unique())
newPatientIds.rename(columns={0: 'patientunitstayid'}, inplace=True)
newPatientIds

       patientunitstayid
0                 141227
1                 141288
2                 141289
3                 141297
4                 141304
5                 141314
6                 141362
7                 141392
8                 141432
9                 141454
10                141462
11                141470
12                141604
13                141631
14                141649
15                141751
16                141816
17                141893
18                141920
19                141944
20                141945
21                142195
22                142209
23                142388
24                142440
25                142478
26                142636
27                142814
28                142885
29                143056
...                  ...
43132            3352460
43133            3352481
43134            3352510
43135            3352533
43136            3352614
43137            3352633
43138            3352634
43139            3352637
43140            3352721
43141            3352727
43142            3352737
43143            3352827
43144            3352830
43145            3352940
43146            3352961
43147            3352986
43148            3353007
43149            3353031
43150            3353056
43151            3353127
43152            3353140
43153            3353144
43154            3353145
43155            3353190
43156            3353196
43157            3353197
43158            3353199
43159            3353235
43160            3353251
43161            3353254

[43162 rows x 1 columns]

In [7]:
path = "../../eICU/training/"
newPatientIds.to_csv(path + "patientIds.csv", sep=',', index=False, encoding='utf-8')

#### Saving the Cleaned vitalPeriodic DataFrame to a `csv` file

In [8]:
path = "../../eICU/training/"
vitalperiodic.to_csv(path + "vitalPeriodic.csv", sep=',', index=False, encoding='utf-8')