In [1]:
import pandas as pd

In [2]:
database_type = "/full"

In [3]:
columns = ['patientunitstayid', 'diagnosis']
diagnosis = pd.read_csv('../../eICU' + '/training' + '/diagnosis.csv', usecols=columns)
diagnosis

        patientunitstayid  diagnosis
0                  141227          1
1                  141288          0
2                  141288          0
3                  141288          0
4                  141288          1
...                   ...        ...
234043            3353251          1
234044            3353251          1
234045            3353251          1
234046            3353251          1
234047            3353254          0

[234048 rows x 2 columns]

In [4]:
df_sepsis = diagnosis[diagnosis.diagnosis==1]
df_sepsis = pd.DataFrame(df_sepsis.patientunitstayid.unique())
df_sepsis

             0
0       141227
1       141288
2       141289
3       141297
4       141304
...        ...
21177  3353144
21178  3353145
21179  3353197
21180  3353199
21181  3353251

[21182 rows x 1 columns]

In [5]:
df_not_sepsis = diagnosis[diagnosis.diagnosis==0]
df_not_sepsis = pd.DataFrame(df_not_sepsis.patientunitstayid.unique())
# df_not_sepsis = df_not_sepsis.sample(n=len(df_sepsis))
df_not_sepsis

             0
0       141288
1       141289
2       141297
3       141304
4       141314
...        ...
38458  3353197
38459  3353199
38460  3353235
38461  3353251
38462  3353254

[38463 rows x 1 columns]

In [7]:
df_sepsis = df_sepsis.append(df_not_sepsis)
df_sepsis.rename(columns={0: 'patientunitstayid'}, inplace=True)
df_sepsis

        patientunitstayid
0                  141227
1                  141288
2                  141289
3                  141297
4                  141304
5                  141392
6                  141432
7                  141462
8                  141470
9                  141751
10                 141920
11                 141944
12                 141945
13                 142209
14                 142388
15                 142440
16                 143157
17                 143344
18                 143466
19                 143469
20                 143578
21                 143642
22                 143736
23                 143897
24                 143920
25                 143993
26                 143994
27                 144034
28                 144182
29                 144183
...                   ...
104444            2138815
101884            2053022
36482              882146
110498            2323874
169925            3341598
2365               175383
13380              377932
97064             1833863
74995             1567596
73853             1559582
101225            2031491
99789             1980617
169012            3335844
147835            3022237
120587            2596978
87695             1728017
143775            2968776
56083             1126267
56720             1132290
132254            2793671
3895               197830
68420             1463113
120771            2599935
138940            2888080
55141             1116973
167232            3243866
54768             1113604
97054             1833761
39303              949781
40555              963617

[46958 rows x 1 columns]

In [8]:
path = "../../eICU/training/"
df_sepsis.to_csv(path + "patientIds.csv", sep=',', index=False, encoding='utf-8')